body {
    position: relative
}

.body {
    position: relative
}

.page-header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 16px;
    z-index: 2;
    background: #fff
}

.page-header .first-level {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 20px
}

@media (max-width: 1280px) {
    .page-header .first-level {
        padding-top: 40px;
        padding-bottom: 10px
    }
}

@media (max-width: 600px) {
    .page-header .first-level {
        padding-top: 25px
    }
}

.page-header .first-level .logo {
    width: 197px;
    height: 25px;
    background: url(/assets/img/logo.svg) no-repeat center bottom/100% auto;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    font-size: 0
}

.page-header .first-level .logo:hover {
    opacity: .65
}

.page-header .first-level .actions {
    margin-left: 72px
}

@media (max-width: 1280px) {
    .page-header .first-level .actions {
        display: none
    }
}

.page-header .first-level .actions > * {
    border-bottom-style: dashed
}

.page-header .first-level .actions > * + * {
    margin-left: 24px
}

.page-header .first-level .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1
}

@media (max-width: 1280px) {
    .page-header .first-level .nav > * {
        display: none
    }
}

.page-header .first-level .nav > * + * {
    margin-left: 24px
}

.page-header .first-level .nav > *.collections-link {
    position: relative;
    border-bottom-style: dashed
}

.page-header .first-level .nav > *.collections-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    transform: rotate(45deg) translate(50%, -50%);
    bottom: -36px;
    right: 50%;
    opacity: 0;
    background: #f1f1f1
}

.show-header-subnav .page-header .first-level .nav > *.collections-link:before {
    opacity: 1
}

.page-header .first-level .goto-site {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    top: 16px;
    right: 210px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, .5);
    transition: color 200ms ease;
    will-change: color
}

@media (max-width: 1700px) {
    .page-header .first-level .goto-site {
        right: 60px
    }
}

@media (max-width: 1280px) {
    .page-header .first-level .goto-site {
        position: relative;
        right: 0;
        top: 2px;
        margin-right: 24px
    }
}

@media (max-width: 600px) {
    .page-header .first-level .goto-site {
        display: none
    }
}

.page-header .first-level .goto-site:hover {
    color: #1069BB
}

.page-header .first-level .goto-site > * {
    position: relative;
    top: -2px;
    width: 17px;
    height: 17px;
    background: url(/assets/img/link.svg) no-repeat center center/contain;
    margin-right: 4px
}

.page-header .first-level .goto-site > *:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(/assets/img/link-hover.svg) no-repeat center center/contain;
    opacity: 0;
    transition: opacity 200ms ease;
    will-change: opacity
}

.page-header .first-level .goto-site:hover > *:before {
    opacity: 1
}

.page-header .first-level .nav-button {
    display: none;
    position: relative;
    width: 20px;
    height: 18px
}

@media (max-width: 1280px) {
    .page-header .first-level .nav-button {
        display: block
    }
}

.page-header .first-level .nav-button, .page-header .first-level .nav-button * {
    cursor: pointer
}

.page-header .first-level .nav-button > * {
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    left: 0;
    background: #000;
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    transition: background 200ms ease;
    will-change: background
}

.page-header .first-level .nav-button.active > * {
    background: #1069BB
}

.page-header .first-level .nav-button > *:first-child {
    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    transform: translate(0, -8px)
}

.page-header .first-level .nav-button > *:last-child {
    -webkit-transform: translate(0, 8px);
    -moz-transform: translate(0, 8px);
    -ms-transform: translate(0, 8px);
    transform: translate(0, 8px)
}

.page-header .last-level {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background: #f1f1f1;
    font-size: 16px
}

.show-header-subnav .page-header .last-level {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start
}

.page-header .last-level .sub-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 32px 0 40px;
    flex-grow: 1;
    flex-basis: 0%
}

.page-header .last-level .sub-nav > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

.page-header .last-level .sub-nav > * + * {
    margin-top: 72px
}

.page-header .last-level .sub-nav .icon {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin-bottom: 40px
}

.page-header .last-level .sub-nav .icon img {
    display: block;
    align-self: stretch;
    width: auto;
    height: 100%
}

.page-header .last-level .sub-nav .icon .caption {
    margin-left: 16px;
    font-size: 24px;
    line-height: 24px
}

.page-header .last-level .sub-nav .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
}

.page-header .last-level .sub-nav .list > * {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    white-space: nowrap;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.page-header .last-level .sub-nav .list > *.new {
    position: relative
}

.page-header .last-level .sub-nav .list > * > *{
    order: 1;
}

.page-header .last-level .sub-nav .list > *.new:before {
    content: 'NEW';
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: -15px;
    top: -20px;
    font-size: 10px;
    line-height: 1em;
    padding: 4px 5px;
    border: 1px solid #1069BB;
    color: #1069BB;
    border-radius: 2px;
    order: 3;
}

.page-header .last-level .sub-nav .list > *:hover {
    color: #1069BB
}

.page-header .last-level .sub-nav .list > *.active {
    color: #1069BB
}

.page-header .last-level .sub-nav .list > * + * {
    margin-left: 32px
}

.page-header .last-level .sub-nav .list > *:after {
    content: '→';
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 18px;
    color: #1069BB;
    padding-left: 5px;
    order: 1;
}

.page-header .last-level .sub-nav .list > *.active:after {
    display: none
}

.page-content {
    position: relative;
    padding-top: 95px;
    z-index: 0
}

@media (max-width: 1280px) {
    .page-content {
        position: relative;
        padding-top: 75px
    }
}

@media (max-width: 600px) {
    .page-content {
        position: relative;
        padding-top: 60px
    }
}

.page-content-inner {
    position: relative;
    z-index: 0
}

.content-block {
    box-sizing: border-box;
    padding-left: 210px;
    padding-right: 210px
}

@media (max-width: 1700px) {
    .content-block {
        padding-left: 60px;
        padding-right: 60px
    }
}

@media (max-width: 1280px) {
    .content-block {
        padding-left: 20px;
        padding-right: 20px
    }
}

.page-section {
    position: relative;
    z-index: 0
}

.page-section > .section-inner {
    position: relative;
    z-index: 0
}

.page-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #dbdbdb;
    font-size: 16px
}

@media (max-width: 1280px) {
    .page-footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding-top: 30px;
        padding-bottom: 40px
    }
}

@media (max-width: 980px) {
    .page-footer {
        padding-bottom: 20px
    }
}

@media (max-width: 600px) {
    .page-footer {
        padding-bottom: 40px
    }
}

.page-footer .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start
}

@media (max-width: 1280px) {
    .page-footer .nav {
        order: 2;
        margin-top: 30px
    }
}

@media (max-width: 980px) {
    .page-footer .nav {
        margin-top: 25px
    }
}

@media (max-width: 600px) {
    .page-footer .nav {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px
    }
}

.page-footer .nav > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap
}

@media (max-width: 600px) {
    .page-footer .nav > * {
        flex-direction: column;
        flex-wrap: nowrap
    }
}

.page-footer .nav > * + * {
    margin-top: 10px
}

@media (max-width: 600px) {
    .page-footer .nav > * + * {
        margin-top: 0
    }
}

.page-footer .nav > * > * {
    margin-right: 40px;
    margin-bottom: 15px;
    border-bottom-color: rgba(0, 0, 0, .4)
}

.page-footer .nav > * > *:hover {
    border-bottom-color: rgba(16, 105, 187, .4)
}

.page-footer .nav > * > *.active {
    border-bottom: none
}

@media (max-width: 980px) {
    .page-footer .nav > * > * {
        white-space: nowrap;
        margin-bottom: 15px
    }
}

@media (max-width: 600px) {
    .page-footer .nav > * > * {
        border-bottom: none;
        margin-right: 0
    }
}

.page-footer .phone {
    font-size: 48px;
    line-height: 1em;
    height: 1em;
    padding-left: 65px;
    white-space: pre
}

@media (max-width: 1280px) {
    .page-footer .phone {
        order: 1;
        padding-left: 0
    }
}

@media (max-width: 980px) {
    .page-footer .phone {
        font-size: 32px;
        line-height: 40px
    }
}

.copyright {
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1em;
    color: #969696
}

@media (max-width: 980px) {
    .copyright {
        padding-top: 0;
        padding-bottom: 25px
    }
}

.nav-overlay {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100% - 70px);
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    z-index: 2
}

@media (max-width: 1280px) {
    .nav-overlay {
        display: flex
    }
}

@media (max-width: 600px) {
    .nav-overlay {
        top: 55px;
        height: calc(100% - 55px)
    }
}

.nav-overlay.shown {
    pointer-events: initial;
    opacity: 1
}

.nav-overlay > * {
    flex-grow: 1;
    margin-top: 20px;
    border-top: 1px solid #dbdbdb;
    padding: 50px 20px;
    overflow-y: auto
}

@media (max-width: 600px) {
    .nav-overlay > * {
        padding: 40px 20px;
        margin-top: 15px
    }
}

.nav-overlay > *::-webkit-scrollbar {
    width: 0;
    opacity: 0
}

.nav-overlay .root {
    font-size: 32px;
    line-height: 1.25em
}

@media (max-width: 600px) {
    .nav-overlay .root {
        font-size: 24px;
        line-height: 1.25em
    }
}

.show-header-subnav .nav-overlay .root {
    display: none
}

.nav-overlay .root .nav > * {
    display: block;
    text-align: center;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    transition: color 200ms ease;
    will-change: color
}

.nav-overlay .root .nav > *.active, .nav-overlay .root .nav > *.forced-active {
    color: #1069BB
}

.nav-overlay .root .nav > *, .nav-overlay .root .nav > * * {
    cursor: pointer
}

.nav-overlay .root .nav > * + * {
    margin-top: 30px
}

@media (max-width: 600px) {
    .nav-overlay .root .nav > * + * {
        margin-top: 20px
    }
}

.nav-overlay .root .nav > *:hover {
    color: #1069BB
}

.nav-overlay .root .actions {
    margin-top: 50px
}

@media (max-width: 600px) {
    .nav-overlay .root .actions {
        margin-top: 35px
    }
}

.nav-overlay .root .actions > * {
    display: block;
    text-align: center;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    transition: color 200ms ease;
    will-change: color
}

.nav-overlay .root .actions > *:hover {
    color: #1069BB
}

.nav-overlay .root .actions > *, .nav-overlay .root .actions > * * {
    cursor: pointer
}

.nav-overlay .root .actions > * + * {
    margin-top: 30px
}

@media (max-width: 600px) {
    .nav-overlay .root .actions > * + * {
        margin-top: 20px
    }
}

.nav-overlay .root .goto-site {
    display: none;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, .5);
    transition: color 200ms ease;
    will-change: color
}

@media (max-width: 600px) {
    .nav-overlay .root .goto-site {
        display: flex
    }
}

.nav-overlay .root .goto-site:hover {
    color: #1069BB
}

.nav-overlay .root .goto-site > * {
    position: relative;
    top: -2px;
    width: 17px;
    height: 17px;
    background: url(/assets/img/link.svg) no-repeat center center/contain;
    margin-right: 4px
}

.nav-overlay .root .goto-site > *:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(/assets/img/link-hover.svg) no-repeat center center/contain;
    opacity: 0;
    transition: opacity 200ms ease;
    will-change: opacity
}

.nav-overlay .root .goto-site:hover > *:before {
    opacity: 1
}

.nav-overlay .collections {
    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start
}

.show-header-subnav .nav-overlay .collections {
    display: flex
}

@media (max-width: 600px) {
    .nav-overlay .collections {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start
    }
}

.nav-overlay .collections .header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 32px
}

@media (max-width: 600px) {
    .nav-overlay .collections .header {
        font-size: 24px;
        width: 100%
    }
}

.nav-overlay .collections .header, .nav-overlay .collections .header * {
    cursor: pointer
}

.nav-overlay .collections .header:before {
    content: '';
    display: block;
    width: 80px;
    height: 16px;
    background: url(/assets/img/back.svg) no-repeat left center/auto 100%
}

@media (max-width: 600px) {
    .nav-overlay .collections .header:before {
        position: absolute;
        height: 16px;
        width: 100%;
        left: 0;
        top: calc(50% - 8px)
    }
}

.nav-overlay .collections .header:after {
    content: 'Коллекции';
    display: block;
    line-height: 1em
}

@media (max-width: 600px) {
    .nav-overlay .collections .header:after {
        text-align: center;
        flex-grow: 1
    }
}

.nav-overlay .collections .section {
    margin-top: 30px;
    font-size: 16px
}

@media (max-width: 600px) {
    .nav-overlay .collections .section {
        width: 50%
    }
}

.nav-overlay .collections .section + .section {
    margin-top: 25px
}

@media (max-width: 600px) {
    .nav-overlay .collections .section + .section {
        margin-top: 30px
    }
}

.nav-overlay .collections .section .icon {
    height: 25px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center
}

.nav-overlay .collections .section .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px
}

@media (max-width: 600px) {
    .nav-overlay .collections .section .list {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch
    }
}

.nav-overlay .collections .section .list > * {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 25px;
    margin-bottom: 20px;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    transition: color 200ms ease;
    will-change: color
}

@media (max-width: 600px) {

.nav-overlay .collections .section .list > * {
    display: block;
    margin-bottom: 10px;
}

}

.nav-overlay .collections .section .list > *.new {
    position: relative
}

.nav-overlay .collections .section .list > * > * {
    order: 1;
}

.nav-overlay .collections .section .list > *.new:before {
    content: 'NEW';
    display: inline-block;
    position: relative;
    top: -15px;
    margin-left: 10px;
    margin-right: -5px;
    font-size: 8px;
    line-height: 1em;
    padding: 4px 4px 3px;
    border: 1px solid #1069BB;
    color: #1069BB;
    border-radius: 2px;
    order: 3;
}

@media (max-width: 600px) {
    .nav-overlay .collections .section .list > *.new:before {
        display: none
    }
}

.nav-overlay .collections .section .list > *:hover, .nav-overlay .collections .section .list > *.active {
    color: #1069BB
}

@media (max-width: 600px) {
    .nav-overlay .collections .section .list > * {
        margin-right: 0;
        margin-bottom: 20px;
        /*white-space: nowrap*/
        line-height: 1.4em;
    }
}

.nav-overlay .collections .section .list > *:after {
    content: '→';
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 18px;
    color: #1069BB;
    padding-left: 5px;
    order: 2;
}

.nav-overlay .collections .section .list > *.active:after {
    display: none
}

.appear {
    -webkit-transition: -webkit-transform 1500ms ease, opacity 1500ms ease;
    -moz-transition: -moz-transform 1500ms ease, opacity 1500ms ease;
    -ms-transition: -ms-transform 1500ms ease, opacity 1500ms ease;
    transition: transform 1500ms ease, opacity 1500ms ease;
    opacity: 0;
    will-change: transform, opacity
}

.appear.appeared {
    opacity: 1
}

.appear.appear-top {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    transform: translate(0, -40px)
}

.appear.appear-top.appeared {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
}

.appear.appear-bottom {
    -webkit-transform: translate(0, 40px);
    -moz-transform: translate(0, 40px);
    -ms-transform: translate(0, 40px);
    transform: translate(0, 40px)
}

.appear.appear-bottom.appeared {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
}

.appear.appear-left {
    -webkit-transform: translate(-60px, 0);
    -moz-transform: translate(-60px, 0);
    -ms-transform: translate(-60px, 0);
    transform: translate(-60px, 0)
}

.appear.appear-left.appeared {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
}

.appear.appear-right {
    -webkit-transform: translate(60px, 0);
    -moz-transform: translate(60px, 0);
    -ms-transform: translate(60px, 0);
    transform: translate(60px, 0)
}

.appear.appear-right.appeared {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
}

.appear.appear-center {
    -webkit-transition: opacity 1500ms ease;
    -moz-transition: opacity 1500ms ease;
    -ms-transition: opacity 1500ms ease;
    transition: opacity 1500ms ease;
    will-change: opacity
}

body {
    -webkit-transition: opacity 1500ms ease;
    -moz-transition: opacity 1500ms ease;
    -ms-transition: opacity 1500ms ease;
    transition: opacity 1500ms ease;
    will-change: opacity;
    opacity: 0
}

body.appeared {
    opacity: 1
}