@font-face {
    font-family: 'Geometria';
    src: local('Geometria'), url(/assets/fonts/Geometria/Geometria.eot);
    src: url('/assets/fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'), url(/assets/fonts/Geometria/Geometria.woff) format('woff'), url(/assets/fonts/Geometria/Geometria.ttf) format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    cursor: default;
    max-height: 999999px;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit
}

b, strong {
    font: inherit;
    font-style: inherit;
    cursor: inherit;
    font-weight: 400
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400
}

html {
    height: 100%;
    line-height: 1.25em
}

body {
    position: relative;
    margin: 0;
    color: #000;
    font-family: 'Geometria';
    font-size: 14px;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

input, textarea {
    cursor: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    text-indent: 0;
    background: none;
    border: none;
    resize: none;
    box-shadow: none;
    outline: none
}

p {
    margin: 0;
    padding: 0
}

a * {
    cursor: inherit
}

button {
    cursor: inherit;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    font: inherit
}

button * {
    cursor: inherit
}

ul, li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.no-transition-recursive, .no-transition-recursive * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}