/*************************************************************************


                           S   T   A   R   T


*************************************************************************/


/*************************************************************************

                             C O M M O N S

*************************************************************************/


.blog-page .content {
}


/*************************************************************************

                         C O L L E C T I O N S

*************************************************************************/


.blog-page .section-top {
    padding-top: 48px;
}

@media (max-width: 1280px) {

    .blog-page .section-top {
        padding-top: 20px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-top {
        padding-top: 14px;
    }

}

.blog-page .section-top .section-inner {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 1700px) {

    .blog-page .section-top .section-inner {
        padding-top: 64px;
        padding-bottom: 64px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-top .section-inner {
        padding-top: 56px;
        padding-bottom: 56px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-top .section-inner {
        padding-top: 48px;
        padding-bottom: 48px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-top .section-inner {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}

.blog-page .section-top .header {
    font-size: 64px;
    line-height: 72px;
    text-align: center;
}

@media (max-width: 1280px) {

    .blog-page .section-top .header {
        font-size: 56px;
        line-height: 64px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-top .header {
        font-size: 40px;
        line-height: 48px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-top .header {
        font-size: 32px;
        line-height: 40px;
    }

}

.blog-page .section-top .text {
    margin: 24px auto 0;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #969696;
    max-width: 1024px;
}

@media (max-width: 1280px) {

    .blog-page .section-top .text {
        margin-top: 16px;
        max-width: 750px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-top .text {
        font-size: 18px;
        line-height: 26px;
        max-width: 640px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-top .text {
        font-size: 16px;
        line-height: 24px;
        max-width: 335px;
    }

}


/*************************************************************************

                         C O L L E C T I O N S

*************************************************************************/


.blog-page .section-list {
    margin-top: 80px;
}

@media (max-width: 1700px) {

    .blog-page .section-list {
        margin-top: 64px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list {
        margin-top: 40px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list {
        margin-top: 32px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-list {
        margin-top: 16px;
    }

}

.blog-page .section-list .section-inner {
}

.blog-page .section-list .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
}

.blog-page .section-list .nav > * {
    margin-right: 24px;
}

@media (max-width: 600px) {

    .blog-page .section-list .nav > * {
        margin-bottom: 16px;
    }

}

.blog-page .section-list .nav > *.current {
    color: #1069BB;
    border: none;
}

.blog-page .section-list .preamble {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 40px;
    min-height: 455px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .preamble {
        min-height: 400px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list .preamble {
        margin-top: 24px;
        min-height: 300px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .preamble {
        position: relative;
        width: calc(100% + 40px);
        left: -20px;
        min-height: 264px;
        margin-top: 16px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-list .preamble {
        flex-direction: column;
        margin-top: 0;
        min-height: initial;
        flex-grow: initial;
        flex-basis: initial;
        flex-shrink: 0;
    }

}

.blog-page .section-list .preamble > * {
    flex-grow: 1;
    flex-basis: 0;
}

.blog-page .section-list .preamble .aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: #f1f1f1;
}
 
@media (max-width: 600px) {

.blog-page .section-list .preamble .aside {
    flex-grow: initial;
    flex-basis: initial;
    flex-shrink: 0;
}

}

.blog-page .section-list .preamble .aside > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    padding: 80px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .preamble .aside > * {
        padding: 60px 120px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list .preamble .aside > * {
        padding: 36px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .preamble .aside > * {
        padding: 48px 20px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-list .preamble .aside > * {
        padding: 32px 20px;
    }

}

.blog-page .section-list .preamble .aside .caption {
    font-size: 40px;
    line-height: 48px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .preamble .aside .caption {
        font-size: 32px;
        line-height: 40px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .preamble .aside .caption {
        font-size: 24px;
        line-height: 32px;
    }

}

.blog-page .section-list .preamble .aside .text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
    max-width: 480px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .preamble .aside .text {
        font-size: 16px;
        line-height: 24px;
        max-width: 430px;
    }

}

.blog-page .section-list .preamble .image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 600px) {

    .blog-page .section-list .preamble .image:before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 69%;
    }

}

.blog-page .section-list .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% + 48px);
    margin-top: 80px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .list {
        margin-top: 64px;
        width: calc(100% + 40px);
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list .list {
        margin-top: 40px;
        width: calc(100% + 24px);
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .list {
        margin-top: 32px;
        width: calc(100% + 16px);
    }

}

@media (max-width: 600px) {

    .blog-page .section-list .list {
        width: 100%;
    }

}

.blog-page .section-list .list > * {
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 48px;
    margin-bottom: 64px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .list > * {
        padding-right: 40px;
        margin-bottom: 40px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list .list > * {
        width: 50%;
        padding-right: 24px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .list > * {
        padding-right: 16px;
        margin-bottom: 32px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-list .list > * {
        width: 100%;
        padding-right: 0;
    }

}

.blog-page .section-list .list > * > * {
    display: block;
}

.blog-page .section-list .list .image {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 1;
    transition: opacity 200ms ease;
    will-change: opacity;
}

.blog-page .section-list .list > * > *:hover .image {
    opacity: .8;
}

.blog-page .section-list .list .image:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 68%;
}

.blog-page .section-list .list .info {
    margin-top: 16px;
}

@media (max-width: 900px) {

    .blog-page .section-list .list .info {
        margin-top: 8px;
    }

}

.blog-page .section-list .list .info .title {
    font-size: 32px;
    line-height: 40px;
    transition: color 200ms ease;
    will-change: color;
}

@media (max-width: 1700px) {

    .blog-page .section-list .list .info .title {
        font-size: 24px;
        line-height: 32px;
    }

}

.blog-page .section-list .list > * > *:hover .info .title {
    color: #1069BB;
}

.blog-page .section-list .list .info .review {
    font-size: 18px;
    line-height: 26px;
    margin-top: 8px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .list .info .review {
        font-size: 16px;
        line-height: 24px;
    }

}

.blog-page .section-list .list .info .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    color: #646464;
    margin-top: 16px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .list .info .time {
        margin-top: 12px;
    }

}

.blog-page .section-list .list .info .time:before {
    content: '';
    display: block;
    position: relative;
    top: -2px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(/assets/img/time.svg) no-repeat center center;
}

.blog-page .section-list .list .info .time:after {
    content: ' мин';
    white-space: pre;
}

.blog-page .section-list .load-more {
    padding: 16px 0 120px;
}

@media (max-width: 1700px) {

    .blog-page .section-list .load-more {
        padding: 40px 0 80px;
    }

}

@media (max-width: 1280px) {

    .blog-page .section-list .load-more {
        padding: 24px 0 80px;
    }

}

@media (max-width: 900px) {

    .blog-page .section-list .load-more {
        padding: 24px 0 56px;
    }

}

@media (max-width: 600px) {

    .blog-page .section-list .load-more {
        padding: 16px 0 64px;
    }

}

.blog-page .section-list .load-more > * {
    margin: 0 auto;
    max-width: 185px;
    color: #000;
}

.blog-page .section-list .load-more > *:hover {
    color: #fff;
}


