.collection-page .section-top {
    padding-top: 50px
}

@media (max-width: 1700px) {
    .collection-page .section-top {
        padding-top: 60px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-top {
        padding-top: 30px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top {
        padding-top: 20px
    }
}

.collection-page .section-top .top {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    height: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

@media (max-width: 1280px) {
    .collection-page .section-top .top {
        height: 49vw
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top {
        height: auto
    }
}

.collection-page .section-top .top:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
    z-index: 0
}

.collection-page .section-top .top > * {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 110px 75px;
    z-index: 1;
    flex-grow: 1
}

@media (max-width: 1700px) {
    .collection-page .section-top .top > * {
        padding: 0 110px 60px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-top .top > * {
        padding: 0 0 60px;
        align-self: stretch
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top > * {
        padding: 90px 0 35px
    }
}

.collection-page .section-top .top .header {
    font-size: 64px;
    line-height: 72px
}

.collection-page .section-top .top .header .new {
    display: inline-block;
    vertical-align: top;
    position: relative
}

.collection-page .section-top .top .header .new:before {
    content: 'NEW';
    display: block;
    position: absolute;
    right: -30px;
    top: -10px;
    font-size: 13px;
    line-height: 1em;
    padding: 5px 5px 4px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2px
}

@media (max-width: 1280px) {
    .collection-page .section-top .top .header .new:before {
        right: -40px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top .header .new:before {
        top: -5px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-top .top .header {
        font-size: 48px;
        line-height: 56px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top .header {
        font-size: 32px;
        line-height: 40px
    }
}

.collection-page .section-top .top .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px
}

@media (max-width: 1280px) {
    .collection-page .section-top .top .info {
        margin-top: 20px
    }
}

@media (max-width: 980px) {
    .collection-page .section-top .top .info {
        align-self: stretch;
        max-width: 640px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top .info {
        flex-wrap: wrap
    }
}

.collection-page .section-top .top .info .aside {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 67px
}

@media (max-width: 600px) {
    .collection-page .section-top .top .info .aside {
        height: 40px;
        width: 100%;
        padding-bottom: 10px
    }
}

.collection-page .section-top .top .info .icon {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    border: 1px dashed #fff
}

.collection-page .section-top .top .info .icon > * {
    width: auto;
    height: 100%
}

.collection-page .section-top .top .info .text {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .02em;
    align-self: center;
    padding-left: 25px;
    max-width: 115px
}

@media (max-width: 600px) {
    .collection-page .section-top .top .info .text {
        padding-left: 15px
    }
}

.collection-page .section-top .top .info .space {
    display: none;
    flex-grow: 1
}

@media (max-width: 980px) {
    .collection-page .section-top .top .info .space {
        display: block
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top .info .space {
        display: none
    }
}

.collection-page .section-top .top .info .item {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 43px;
    margin-left: 40px
}

@media (max-width: 980px) {
    .collection-page .section-top .top .info .item {
        margin-left: 20px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .top .info .item {
        height: 32px;
        margin: 15px 25px 0 0
    }
}

.collection-page .section-top .top .info .item .title {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.collection-page .section-top .top .info .item:hover .title {
    opacity: 1
}

.collection-page .section-top .top .info .item .title:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    background: #fff;
    height: 8px;
    width: 8px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .1);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg)
}

.collection-page .section-top .top .info .item .title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.collection-page .section-top .top .info .item .title > * {
    position: relative;
    z-index: 2;
    padding: 5px 7px;
    font-size: 12px;
    line-height: 1em;
    color: #000
}

.collection-page .section-top .top .info .item .img {
    width: auto;
    height: 100%
}

.collection-page .section-top .advantages {
    padding-top: 80px;
    padding-bottom: 80px
}

@media (max-width: 1280px) {
    .collection-page .section-top .advantages {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

@media (max-width: 980px) {
    .collection-page .section-top .advantages {
        padding-top: 50px;
        padding-bottom: 70px
    }
}

.collection-page .section-top .advantages > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 110px
}

@media (max-width: 1280px) {
    .collection-page .section-top .advantages > * {
        flex-direction: column;
        padding: 0
    }
}

.collection-page .section-top .advantages .left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 0%;
    flex-grow: 1
}
/*
@media (max-width: 1280px) {
    .collection-page .section-top .advantages .left {
        flex-wrap: nowrap;
        flex-basis: initial;
        flex-grow: initial;
        flex-shrink: 0
    }
}
*/

@media (max-width: 1280px) {
    .collection-page .section-top .advantages .left {
        flex-wrap: wrap;
    }
}

@media (max-width: 980px) {
    .collection-page .section-top .advantages .left {
        max-width: 510px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .advantages .left {
        width: calc(100% + 20px)
    }
}

.collection-page .section-top .advantages .left > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding-right: 40px;
    box-sizing: border-box;
    margin-bottom: 35px
}

@media (max-width: 980px) {
    .collection-page .section-top .advantages .left > * {
        padding-right: 50px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .advantages .left > * {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
        padding-right: 0
    }

    .collection-page .section-top .advantages .left > *:nth-child(odd) {
        padding-right: 20px
    }
}

.collection-page .section-top .advantages .left .icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center
}

@media (max-width: 980px) {
    .collection-page .section-top .advantages .left .icon {
        width: 42px;
        height: 42px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .advantages .left .icon {
        width: 50px;
        height: 50px
    }
}

.collection-page .section-top .advantages .left .text {
    font-size: 14px;
    line-height: 1.25em;
    box-sizing: border-box;
    padding-left: 25px
}

@media (max-width: 980px) {
    .collection-page .section-top .advantages .left .text {
        padding-left: 20px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .advantages .left .text {
        padding-left: 0;
        margin-top: 15px;
        align-self: stretch
    }

    .collection-page .section-top .advantages .left .text br {
        display: none
    }
}

.collection-page .section-top .advantages .right {
    width: calc(50% + 45px);
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 1280px) {
    .collection-page .section-top .advantages .right {
        width: auto;
        font-size: 16px;
        line-height: 1.25em;
        max-width: 730px
    }
}

@media (max-width: 600px) {
    .collection-page .section-top .advantages .right {
        padding-top: 10px
    }
}

.collection-page .section-top .advantages .right > * + * {
    margin-top: 20px
}

.collection-page .section-top .advantages .right .light {
    color: #969696
}

@media (max-width: 1280px) {
    .collection-page .section-top .advantages .right .light {
        max-width: 530px
    }
}

.collection-page .section-advantages {
    border-top: 1px solid #dbdbdb;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden
}

@media (max-width: 1280px) {
    .collection-page .section-advantages {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

@media (max-width: 600px) {
    .collection-page .section-advantages {
        padding: 50px 0
    }
}

.collection-page .section-advantages > .section-inner {
    position: relative;
    padding: 0 110px
}

@media (max-width: 1280px) {
    .collection-page .section-advantages > .section-inner {
        padding: 0
    }
}

.collection-page .section-advantages .slider {
    overflow: visible;
    z-index: 0
}

.collection-page .section-advantages .slider .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: .5;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 980px) {
    .collection-page .section-advantages .slider .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        opacity: 1
    }
}

.collection-page .section-advantages .slider .swiper-slide-active {
    opacity: 1
}

.collection-page .section-advantages .slider .swiper-slide > * {
    flex-basis: 0%;
    flex-grow: 1
}

.collection-page .section-advantages .slider .swiper-slide .info {
    box-sizing: border-box;
    padding-right: 100px
}

@media (max-width: 980px) {
    .collection-page .section-advantages .slider .swiper-slide .info {
        order: 2;
        padding-right: 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-advantages .slider .swiper-slide .info {
        padding: 0 20px
    }
}

.collection-page .section-advantages .slider .swiper-slide .info .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .collection-page .section-advantages .slider .swiper-slide .info .header {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 980px) {
    .collection-page .section-advantages .slider .swiper-slide .info .header {
        padding-top: 50px
    }
}

@media (max-width: 600px) {
    .collection-page .section-advantages .slider .swiper-slide .info .header {
        padding-top: 40px
    }
}

.collection-page .section-advantages .slider .swiper-slide .info .text {
    margin-top: 25px;
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 980px) {
    .collection-page .section-advantages .slider .swiper-slide .info .text {
        margin-top: 10px
    }
}

.collection-page .section-advantages .slider .swiper-slide .image {
    min-height: 21vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

@media (max-width: 1700px) {
    .collection-page .section-advantages .slider .swiper-slide .image {
        min-height: 28vw
    }
}

@media (max-width: 1280px) {
    .collection-page .section-advantages .slider .swiper-slide .image {
        min-height: 35vw
    }
}

@media (max-width: 980px) {
    .collection-page .section-advantages .slider .swiper-slide .image {
        order: 1;
        min-height: 50vw
    }
}

@media (max-width: 600px) {
    .collection-page .section-advantages .slider .swiper-slide .image {
        min-height: 67vw
    }
}

.collection-page .section-advantages .nav {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    top: -10px;
    z-index: 1
}

@media (max-width: 1280px) {
    .collection-page .section-advantages .nav {
        display: inline-flex;
        padding: 0 112px;
        top: -33px
    }
}

@media (max-width: 980px) {
    .collection-page .section-advantages .nav {
        display: flex;
        position: absolute;
        top: calc(50vw + 15px);
        width: 100%;
        left: 0;
        text-align: center;
        padding: 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-advantages .nav {
        top: calc(67vw + 15px)
    }
}

.collection-page .section-advantages .nav .inner {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
}

@media (max-width: 980px) {
    .collection-page .section-advantages .nav .inner {
        flex-grow: 1;
        justify-content: center
    }
}

.collection-page .section-advantages .nav .inner > * {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    -webkit-transition: border-color 200ms ease;
    -moz-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
    will-change: border-color
}

.collection-page .section-advantages .nav .inner > *:hover {
    border-color: #1069BB
}

@media (max-width: 980px) {
    .collection-page .section-advantages .nav .inner > * {
        width: 6px;
        height: 6px
    }
}

.collection-page .section-advantages .nav .inner > * + * {
    margin-left: 20px
}

@media (max-width: 980px) {
    .collection-page .section-advantages .nav .inner > * + * {
        margin-left: 8px
    }
}

.collection-page .section-advantages .nav .inner > *:before {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #1069BB;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 980px) {
    .collection-page .section-advantages .nav .inner > *:before {
        width: 8px;
        height: 8px
    }
}

.collection-page .section-advantages .nav .inner > *.active:before {
    opacity: 1
}

.collection-page .section-advantages .prev, .collection-page .section-advantages .next {
    display: none;
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    opacity: .3;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    z-index: 1;
    cursor: pointer
}

.collection-page .section-advantages .prev:hover, .collection-page .section-advantages .next:hover {
    opacity: 1
}

.collection-page .section-advantages .section-inner > .prev, .collection-page .section-advantages .section-inner > .next {
    display: block
}

@media (max-width: 1280px) {
    .collection-page .section-advantages .section-inner > .prev, .collection-page .section-advantages .section-inner > .next {
        display: none
    }

    .collection-page .section-advantages .prev, .collection-page .section-advantages .next {
        display: block
    }
}

@media (max-width: 980px) {
    .collection-page .section-advantages .prev, .collection-page .section-advantages .next {
        display: none
    }
}

.collection-page .section-advantages .prev.hidden, .collection-page .section-advantages .next.hidden {
    pointer-events: none;
    opacity: .3
}

.collection-page .section-advantages .prev:before, .collection-page .section-advantages .prev:after, .collection-page .section-advantages .next:before, .collection-page .section-advantages .next:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.collection-page .section-advantages .prev:after, .collection-page .section-advantages .next:after {
    background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
    opacity: 0
}

.collection-page .section-advantages .prev.hidden:before, .collection-page .section-advantages .next.hidden:before {
    background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
    opacity: 0
}

.collection-page .section-advantages .prev.hidden:after, .collection-page .section-advantages .next.hidden:after {
    background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
    opacity: 1
}

.collection-page .section-advantages .prev {
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.collection-page .section-advantages .next {
    right: 0
}

.collection-page .section-design {
    background: #f1f1f1;
    padding-top: 90px;
    padding-bottom: 35px
}

@media (max-width: 1280px) {
    .collection-page .section-design {
        padding-top: 55px;
        padding-bottom: 60px
    }
}

@media (max-width: 980px) {
    .collection-page .section-design {
        padding-bottom: 30px
    }
}

@media (max-width: 600px) {
    .collection-page .section-design {
        padding-bottom: 20px
    }
}

.collection-page .section-design .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .collection-page .section-design .header {
        font-size: 32px;
        line-height: 40px
    }
}

.collection-page .section-design .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
    width: calc(100% + 50px)
}

@media (max-width: 1280px) {
    .collection-page .section-design .list {
        margin-top: 25px;
        width: calc(100% + 20px)
    }
}

.collection-page .section-design .list > * {
    width: calc(50% - 50px);
    margin-bottom: 60px;
    margin-right: 50px
}

.collection-page .section-design .list > *.short {
    width: calc(25% - 50px)
}

@media (max-width: 1280px) {
    .collection-page .section-design .list > * {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        margin-right: 20px
    }

    .collection-page .section-design .list > *.short {
        width: calc(25% - 20px)
    }
}

@media (max-width: 980px) {
    .collection-page .section-design .list > * {
        margin-bottom: 25px
    }
}

@media (max-width: 600px) {
    .collection-page .section-design .list > * {
        margin-bottom: 25px;
        width: 100%
    }

    .collection-page .section-design .list > *.short {
        margin-bottom: 25px;
        width: calc(50% - 20px)
    }
}

.collection-page .section-design .list .image {
    height: 100px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.collection-page .section-design .list > *.short .image {
    position: relative;
    height: auto
}

.collection-page .section-design .list > *.short .image:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 100%
}

.collection-page .section-design .list > *:hover .image {
    opacity: .75
}

@media (max-width: 980px) {
    .collection-page .section-design .list .image {
        height: 80px
    }
}

.collection-page .section-design .list .title {
    margin-top: 10px;
    font-size: 24px;
    line-height: 32px
}

@media (max-width: 600px) {
    .collection-page .section-design .list .title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 24px
    }
}

.collection-page .section-slider {
    padding-top: 80px;
    padding-bottom: 75px;
    overflow: hidden
}

@media (max-width: 1700px) {
    .collection-page .section-slider {
        padding-top: 90px;
        padding-bottom: 90px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-slider {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

.collection-page .section-slider > .section-inner {
    position: relative;
    padding: 0 110px
}

@media (max-width: 1280px) {
    .collection-page .section-slider > .section-inner {
        padding: 0 60px 0 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-slider > .section-inner {
        padding: 0
    }
}

.collection-page .section-slider > .section-inner > * {
    position: relative;
    z-index: 0
}

.collection-page .section-slider .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .collection-page .section-slider .header {
        font-size: 32px;
        line-height: 40px
    }
}

.collection-page .section-slider .slider {
    margin-top: 60px
}

@media (max-width: 1280px) {
    .collection-page .section-slider .slider {
        position: relative;
        left: -20px;
        margin-top: 25px
    }
}

@media (max-width: 600px) {
    .collection-page .section-slider .slider {
        left: 0
    }
}

.collection-page .section-slider .slider .swiper-slide {
    opacity: .5;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.collection-page .section-slider .slider .swiper-slide.swiper-slide-active {
    opacity: 1
}

.collection-page .section-slider .slider .swiper-slide .image {
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

@media (max-width: 1700px) {
    .collection-page .section-slider .slider .swiper-slide .image {
        height: 620px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-slider .slider .swiper-slide .image {
        height: 53vw
    }
}

@media (max-width: 980px) {
    .collection-page .section-slider .slider .swiper-slide .image {
        height: 53vw
    }
}

.collection-page .section-slider .slider .swiper-slide .title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 1280px) {
    .collection-page .section-slider .slider .swiper-slide .title {
        opacity: .5;
        box-sizing: border-box;
        padding: 0 20px;
        margin-top: 50px
    }
}

@media (max-width: 980px) {
    .collection-page .section-slider .slider .swiper-slide .title {
        opacity: 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-slider .slider .swiper-slide .title {
        padding: 0
    }
}

.collection-page .section-slider .slider .swiper-slide.swiper-slide-active .title {
    opacity: 1
}

.collection-page .section-slider .slider .swiper-slide .text {
    font-size: 18px;
    line-height: 24px;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 1280px) {
    .collection-page .section-slider .slider .swiper-slide .text {
        box-sizing: border-box;
        padding: 0 20px;
        margin-top: 5px;
        opacity: .5
    }
}

@media (max-width: 980px) {
    .collection-page .section-slider .slider .swiper-slide .text {
        opacity: 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-slider .slider .swiper-slide .text {
        padding: 0
    }
}

.collection-page .section-slider .slider .swiper-slide.swiper-slide-active .text {
    opacity: 1
}

.collection-page .section-slider .prev, .collection-page .section-slider .next {
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    opacity: .3;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    z-index: 1;
    cursor: pointer
}

.collection-page .section-slider .prev:hover, .collection-page .section-slider .next:hover {
    opacity: 1
}

@media (max-width: 1280px) {
    .collection-page .section-slider .prev, .collection-page .section-slider .next {
        display: none
    }
}

.collection-page .section-slider .prev.hidden, .collection-page .section-slider .next.hidden {
    pointer-events: none;
    opacity: .5
}

.collection-page .section-slider .prev:before, .collection-page .section-slider .prev:after, .collection-page .section-slider .next:before, .collection-page .section-slider .next:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
    opacity: 1
}

.collection-page .section-slider .prev:after, .collection-page .section-slider .next:after {
    background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
    opacity: 0
}

.collection-page .section-slider .prev.hidden:before, .collection-page .section-slider .next.hidden:before {
    opacity: 0
}

.collection-page .section-slider .prev.hidden:after, .collection-page .section-slider .next.hidden:after {
    opacity: 1
}

.collection-page .section-slider .prev {
    left: 20px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.collection-page .section-slider .next {
    right: 20px
}

.collection-page .section-slider .nav {
    display: none;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    top: calc(53vw + 80px);
    left: 0;
    width: 100%;
    z-index: 1
}

@media (max-width: 1280px) {
    .collection-page .section-slider .nav {
        display: flex
    }
}

@media (max-width: 600px) {
    .collection-page .section-slider .nav {
        top: calc(53vw + 90px)
    }
}

@media (max-width: 400px) {
    .collection-page .section-slider .nav {
        top: calc(53vw + 120px)
    }
}

.collection-page .section-slider .nav > * {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    -webkit-transition: border-color 200ms ease;
    -moz-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
    will-change: border-color
}

@media (max-width: 980px) {
    .collection-page .section-slider .nav > * {
        width: 6px;
        height: 6px
    }
}

.collection-page .section-slider .nav > *:hover {
    border-color: #1069BB
}

.collection-page .section-slider .nav > * + * {
    margin-left: 20px
}

@media (max-width: 980px) {
    .collection-page .section-slider .nav > * + * {
        margin-left: 8px
    }
}

.collection-page .section-slider .nav > *:before {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #1069BB;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 980px) {
    .collection-page .section-slider .nav > *:before {
        width: 8px;
        height: 8px
    }
}

.collection-page .section-slider .nav > *.active:before {
    opacity: 1
}

.collection-page .section-video {
    padding: 0 210px 80px
}

@media (max-width: 1700px) {
    .collection-page .section-video {
        padding: 0 0 80px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-video {
        padding: 0 0 60px
    }
}

@media (max-width: 600px) {
    .collection-page .section-video {
        padding: 0 0 45px
    }
}

.collection-page .section-video .video {
    display: flex;
    position: relative;
    padding-bottom: 56%
}

.collection-page .section-video .video > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.collection-page .section-faq {
    background: #f1f1f1;
    padding: 90px 0
}

@media (max-width: 1280px) {
    .collection-page .section-faq {
        padding: 60px 0
    }
}

@media (max-width: 600px) {
    .collection-page .section-faq {
        padding: 45px 0
    }
}

.collection-page .section-faq .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .collection-page .section-faq .header {
        font-size: 32px;
        line-height: 40px
    }
}

.collection-page .section-faq .list {
    margin-top: 45px
}

@media (max-width: 1700px) {
    .collection-page .section-faq .list {
        margin-top: 40px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-faq .list {
        margin-top: 20px
    }
}

.collection-page .section-faq .list .caption {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    background: #fff;
    padding: 20px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
    will-change: background, color
}

@media (max-width: 1280px) {
    .collection-page .section-faq .list .caption {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .collection-page .section-faq .list .caption {
        font-size: 18px;
        line-height: 24px;
        padding: 24px 75px 24px 15px
    }
}

@media (max-width: 600px) {
    .collection-page .section-faq .list .caption {
        padding: 12px 75px 12px 15px
    }
}

.collection-page .section-faq .list > *.active .caption {
    background: #1069BB;
    color: #fff
}

.collection-page .section-faq .list .caption:before, .collection-page .section-faq .list .caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 0;
    border-bottom: 1px solid #919191;
    -webkit-transition: -webkit-transform 200ms ease, border-color 200ms ease;
    -moz-transition: -moz-transform 200ms ease, border-color 200ms ease;
    -ms-transition: -ms-transform 200ms ease, border-color 200ms ease;
    transition: transform 200ms ease, border-color 200ms ease;
    will-change: border-color, transform
}

.collection-page .section-faq .list > *.active .caption:before, .collection-page .section-faq .list > *.active .caption:after {
    border-bottom-color: #fff
}

.collection-page .section-faq .list .caption:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.collection-page .section-faq .list > *.active .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.collection-page .section-faq .list > *.active .caption:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.collection-page .section-faq .list .text {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.collection-page .section-faq .list .text > * {
    padding-bottom: 45px
}

@media (max-width: 1700px) {
    .collection-page .section-faq .list .text > * {
        padding-bottom: 40px
    }
}

@media (max-width: 980px) {
    .collection-page .section-faq .list .text > * {
        padding-bottom: 30px
    }
}

@media (max-width: 600px) {
    .collection-page .section-faq .list .text > * {
        padding-bottom: 25px
    }
}

.collection-page .section-faq .list .text > * > * {
    background: #fff;
    padding: 15px 20px 20px;
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 1700px) {
    .collection-page .section-faq .list .text > * > * {
        padding: 20px
    }
}

@media (max-width: 1280px) {
    .collection-page .section-faq .list .text > * > * {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .collection-page .section-faq .list .text > * > * {
        font-size: 16px;
        line-height: 1.25em
    }
}

.useful-info-block {
    text-align: center;
    padding: 24px 0;
    background: #f1f1f1
}

.question-icon {
    position: relative
}

.question-icon:after {
    right: 10px;
    bottom: -7px;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url(/assets/img/question.svg);
    display: inline-block;
    position: absolute
}



.collection-page .section-projects{
    padding: 80px 0;
    border-top: 1px solid #d6d6d6;
    overflow: hidden;
    max-width: 100vw;
}

@media (max-width: 1280px) {

.collection-page .section-projects{
    padding: 60px 0;
}

}

@media (max-width: 600px) {

.collection-page .section-projects{
    padding: 60px 0 30px;
}

}

.collection-page .section-projects .section-inner{
    overflow: visible;
}

.collection-page .section-projects .header{
    font-size: 48px;
    line-height: 56px;
}

@media (max-width: 1280px) {

.collection-page .section-projects .header{
    font-size: 32px;
    line-height: 40px
}

}

.collection-page .section-projects .list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
}

@media (max-width: 600px) {

.collection-page .section-projects .list{
    margin-top: 80px;
}

}

    .collection-page .section-projects .list .slide-to{
        display: flex;
        position: absolute;
        right: 0;
        top: -72px;
    }

@media (max-width: 600px) {

    .collection-page .section-projects .list .slide-to{
        right: initial;
        left: 0;
    }

}

        .collection-page .section-projects .list .slide-to>*{
            position: relative;
            width: 56px;
            height: 56px;
            opacity: .3;
            -webkit-transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            -ms-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            will-change: opacity;
            z-index: 1;
            cursor: pointer
        }
        
        .collection-page .section-projects .list .slide-to>*+*{
            margin-left: 16px;
        }

        .collection-page .section-projects .list .slide-to>*:hover{
            opacity: 1
        }

        .collection-page .section-projects .list .slide-to>*.hidden{
            pointer-events: none;
            opacity: .3
        }

        .collection-page .section-projects .list .slide-to .prev{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg)
        }

            .collection-page .section-projects .list .slide-to>*:before,
            .collection-page .section-projects .list .slide-to>*:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
                opacity: 1;
                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                -ms-transition: opacity 200ms ease;
                transition: opacity 200ms ease;
                will-change: opacity
            }

            .collection-page .section-projects .list .slide-to>*:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .collection-page .section-projects .list .slide-to>*.hidden:before{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .collection-page .section-projects .list .slide-to>*.hidden:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 1
            }

    .collection-page .section-projects .list .slides{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: visible;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }

        .collection-page .section-projects .list .slides>*{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: visible;
        }

            .collection-page .section-projects .list .slides>*>*{}

                .collection-page .section-projects .list .slides .image{
                    position: relative;
                    background: url(/assets/project-samples/default.svg) no-repeat center center/92px auto, #E6E6E6;
                }

                    .collection-page .section-projects .list .slides .image:before{
                        content: '';
                        display: block;
                        position: relative;
                        width: 100%;
                        padding-bottom: 67%;
                        pointer-events: none;
                    }

                        .collection-page .section-projects .list .slides .image>*{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                .collection-page .section-projects .list .slides .title{
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 16px;
                }

            @media (max-width: 600px) {

                .collection-page .section-projects .list .slides .title{
                    font-size: 18px;
                    line-height: 26px;
                }

            }

