.contacts-page .section-map {
    padding: 60px 0 80px
}

@media (max-width: 1700px) {
    .contacts-page .section-map {
        padding: 60px 0 0
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map {
        padding: 40px 0 50px
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map {
        padding: 30px 0 50px
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map {
        padding: 15px 0 50px
    }
}

.contacts-page .section-map > .section-inner {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: flex-start;
    border-top: 1px solid #c4c4c4;
    min-height: 46vw
}

@media (max-width: 1280px) {
    .contacts-page .section-map > .section-inner {
        min-height: 65vw
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map > .section-inner {
        flex-direction: column;
        min-height: initial
    }
}

.contacts-page .section-map .left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-basis: 0%;
    flex-grow: 1;
    padding: 30px 0 0
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left {
        padding: 40px 0 0
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map .left {
        flex-shrink: 0;
        flex-grow: initial;
        flex-basis: initial
    }
}

.contacts-page .section-map .left h1 {
    display: block;
    font-size: 32px;
    line-height: 40px
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left:before {
        font-size: 48px;
        line-height: 56px
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map .left:before {
        font-size: 32px;
        line-height: 40px
    }
}

.contacts-page .section-map .left .tools {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    padding-right: 25px
}

@media (max-width: 980px) {
    .contacts-page .section-map .left .tools {
        flex-shrink: 0
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .tools {
        flex-direction: column;
        padding: 0
    }
}

.contacts-page .section-map .left .tools .search {
    min-width: 200px
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left .tools .search {
        flex-grow: .6;
        flex-basis: 0%
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map .left .tools .search {
        max-width: 190px
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .tools .search {
        width: 160px;
        font-size: 14px;
        height: 40px;
        line-height: 38px
    }
}

.contacts-page .section-map .left .tools .search:before {
    content: 'Найти меня';
    position: relative;
    top: 1px
}

.contacts-page .section-map .left .tools .region .variants {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background: #fff;
    font-size: 16px;
    color: #000;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.contacts-page .section-map .left .tools .region .variants.hidden {
    opacity: 0;
    pointer-events: none
}

.contacts-page .section-map .left .tools .region .variants > * {
    padding: 8px 16px
}

.contacts-page .section-map .left .tools .region .variants > *:hover {
    background: #f0f0f0
}

.contacts-page .section-map .left .tools .region .variants > *, .contacts-page .section-map .left .tools .region .variants > * * {
    cursor: pointer
}

.contacts-page .section-map .left .tools .region .variants > *:first-child {
    padding-top: 16px
}

.contacts-page .section-map .left .tools .region .variants > *:last-child {
    padding-bottom: 16px
}

.contacts-page .section-map .left .tools .region {
    position: relative;
    flex-grow: 1;
    margin-left: 25px
}

@media (max-width: 980px) {
    .contacts-page .section-map .left .tools .region {
        max-width: 385px
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .tools .region {
        width: 100%;
        margin: 15px 0 0
    }

    .contacts-page .section-map .left .tools .region .search-input {
        height: 38px
    }

    .contacts-page .section-map .left .tools .region .search-input:before {
        top: 0;
        width: 22px;
        height: 38px
    }

    .contacts-page .section-map .left .tools .region input {
        height: 38px
    }

    .contacts-page .section-map .left .tools .region input + div {
        width: 24px;
        height: 24px
    }
}

.contacts-page .section-map .left .list {
    position: relative;
    width: calc(100% + 210px);
    left: -210px;
    margin-top: 50px;
    flex-grow: 1;
    min-height: 300px;
    overflow-y: scroll
}

@media (max-width: 1700px) {
    .contacts-page .section-map .left .list {
        width: calc(100% + 60px);
        left: -60px
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left .list {
        width: calc(100% + 20px);
        left: -20px
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map .left .list {
        width: calc(100% + 40px);
        left: -20px;
        margin-top: 30px
    }
}

.contacts-page .section-map .left .list::-webkit-scrollbar {
    width: 16px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list::-webkit-scrollbar {
        width: 10px
    }
}

.contacts-page .section-map .left .list::-webkit-scrollbar-track {
    background: #f1f1f1
}

.contacts-page .section-map .left .list::-webkit-scrollbar-thumb {
    background: #dedede
}

.contacts-page .section-map .left .list > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f1f1f1;
    box-sizing: border-box
}

.contacts-page .section-map .left .list > * > * {
    border-right: 1px solid #dedede;
    padding-left: 210px
}

@media (max-width: 1700px) {
    .contacts-page .section-map .left .list > * > * {
        padding-left: 60px
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left .list > * > * {
        padding-left: 20px
    }
}

.contacts-page .section-map .left .list > * > * + * {
    border-top: 1px solid #dedede
}

.contacts-page .section-map .left .list .count {
    color: #969696;
    font-size: 16px;
    line-height: 1.25em;
    padding-top: 15px;
    padding-bottom: 11px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .count {
        font-size: 14px
    }
}

.contacts-page .section-map .left .list .item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 255px
}

@media (max-width: 1700px) {
    .contacts-page .section-map .left .list .item {
        padding-left: 105px
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left .list .item {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 65px
    }
}

.contacts-page .section-map .left .list .item, .contacts-page .section-map .left .list .item * {
    cursor: pointer
}

.contacts-page .section-map .left .list .item.active, .contacts-page .section-map .left .list .item.active * {
    cursor: default
}

.contacts-page .section-map .left .list .item .marker {
    display: block;
    position: absolute;
    left: 210px;
    top: 16px;
    width: 21px;
    height: 28px
}

@media (max-width: 1700px) {
    .contacts-page .section-map .left .list .item .marker {
        left: 60px
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map .left .list .item .marker {
        left: 20px
    }
}

.contacts-page .section-map .left .list .item .marker:before, .contacts-page .section-map .left .list .item .marker:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/marker.svg) no-repeat left top/contain;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    z-index: 0
}

.contacts-page .section-map .left .list .item .marker:before {
    background: url(/assets/img/marker.svg) no-repeat left top/contain
}

.contacts-page .section-map .left .list .item .marker:after {
    background: url(/assets/img/marker-active.svg) no-repeat left top/contain;
    opacity: 0
}

.contacts-page .section-map .left .list .item.active .marker:before {
    opacity: 0
}

.contacts-page .section-map .left .list .item.active .marker:after {
    opacity: 1
}

.contacts-page .section-map .left .list .item .marker > * {
    position: relative;
    left: -1px;
    margin-top: 3px;
    color: #fff;
    text-align: center;
    z-index: 1
}

.contacts-page .section-map .left .list .item .name {
    font-size: 24px;
    line-height: 32px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item .name {
        font-size: 18px;
        line-height: 24px
    }
}

.contacts-page .section-map .left .list .item.active .name {
    color: #1069BB
}

.contacts-page .section-map .left .list .item .info {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.contacts-page .section-map .left .list .item.active .info {
    height: 101px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item.active .info {
        height: 109px
    }
}

.contacts-page .section-map .left .list .item .info .status {
    font-size: 18px;
    line-height: 24px;
    color: #1069BB
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item .info .status {
        font-size: 16px;
        line-height: 1.25em
    }
}

.contacts-page .section-map .left .list .item .info .address {
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item .info .address {
        font-size: 16px;
        line-height: 1.25em;
        margin-top: 7px
    }
}

.contacts-page .section-map .left .list .item .info .link {
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item .info .link {
        font-size: 16px;
        line-height: 1.25em
    }
}

.contacts-page .section-map .left .list .item .info .phone {
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 600px) {
    .contacts-page .section-map .left .list .item .info .phone {
        font-size: 16px;
        line-height: 1.25em
    }
}

.contacts-page .section-map .right {
    position: relative;
    width: 57%
}

@media (max-width: 1280px) {
    .contacts-page .section-map .right {
        width: 50%
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map .right {
        flex-shrink: 0;
        flex-grow: initial;
        flex-basis: initial;
        min-height: 300px;
        width: calc(100% + 40px);
        left: -20px;
        height: 73vw
    }
}

@media (max-width: 600px) {
    .contacts-page .section-map .right {
        height: 100vw
    }
}

.contacts-page .section-map .right > * {
    position: absolute;
    width: calc(100% + 210px);
    height: 100%;
    background: #f0f0f0
}

@media (max-width: 1700px) {
    .contacts-page .section-map .right > * {
        width: calc(100% + 60px)
    }
}

@media (max-width: 1280px) {
    .contacts-page .section-map .right > * {
        width: calc(100% + 20px)
    }
}

@media (max-width: 980px) {
    .contacts-page .section-map .right > * {
        width: 100%
    }
}