/*************************************************************************


                      D   E   S   I   G   N   E   R


*************************************************************************/


/*************************************************************************

                             C O M M O N S

*************************************************************************/


.designer-page .viewport {
    position: relative;
    overflow: hidden;
}

.designer-page .viewport iframe {
    display: block;
    width: 100%;
    height: 800px;
}


