

/*************************************************************************


                        I   N   S   T   A   L   L


*************************************************************************/


/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .content{}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .section-top{
	margin-top: 60px;
}

.install-page .section-top>.section-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 48vw;
	color: #fff;
}

.install-page .section-top .header{
	font-size: 64px;
	line-height: 72px;
}

.install-page .section-top .text{
	font-size: 32px;
	line-height: 40px;
	margin-top: 30px;
}

.install-page .section-top .nav{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 60px;
}

	.install-page .section-top .nav>*{
		width: 200px;
		text-align: center;
		box-sizing: border-box;
		border-radius: 3px;
		border: 1px solid #fff;
		padding: 25px 0;
	}

	.install-page .section-top .nav>*.active{
		background: #fff;
		color: #004F91;
	}

	.install-page .section-top .nav>*+*{
		margin-left: 25px;
	}

		.install-page .section-top .nav .icon{
			position: relative;
			height: 40px;
		}

		.install-page .section-top .nav .icon,
		.install-page .section-top .nav .icon *{
			cursor: pointer;
		}

			.install-page .section-top .nav .icon>*{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 0;
				-webkit-transition: opacity 200ms ease;
				-moz-transition: opacity 200ms ease;
				-ms-transition: opacity 200ms ease;
				transition: opacity 200ms ease;
				will-change: opacity;
				background-repeat: no-repeat;
				background-size: auto 100%;
				background-position: center center;
			}

			.install-page .section-top .nav .icon>*:first-child{
				opacity: 1;
			}

			.install-page .section-top .nav>*.active .icon>*:last-child{
				opacity: 0;
			}

			.install-page .section-top .nav>*.active .icon>*:last-child{
				opacity: 1;
			}

		.install-page .section-top .nav .text{
			font-size: 18px;
			line-height: 21px;
			margin-top: 15px;
		}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .section-stages{
	padding: 90px 0 60px;
}

.install-page .section-stages>.section-inner{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.install-page .section-stages .slide-to{
	position: relative;
	flex-shrink: 0;
	width: 56px;
	height: 56px;
	top: 17px;
	opacity: 1;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	will-change: opacity;
}

.install-page .section-stages .slide-to.hidden{
	opacity: .5;
	pointer-events: none;
}

.install-page .section-stages .slide-to,
.install-page .section-stages .slide-to *{
	cursor: pointer;
}

	.install-page .section-stages .slide-to:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
	}

	.install-page .section-stages .slide-to.prev:before{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

.install-page .section-stages .list{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	flex-basis: 0;
	flex-grow: 1;
	margin: 0 15px;
	text-align: center;
}

	.install-page .section-stages .list>*{
		position: relative;
		flex-grow: 1;
		min-width: 130px;
		flex-basis: 130px;
	}

	.install-page .section-stages .list>*,
	.install-page .section-stages .list>* *{
		cursor: pointer;
	}

	.install-page .section-stages .list>*:first-child,
	.install-page .section-stages .list>*:last-child{
		flex-grow: 0;
	}

		.install-page .section-stages .list>*>*{
			position: relative;
			z-index: 1;
		}

		.install-page .section-stages .list .line{
			position: absolute;
			width: 100%;
			left: 0;
			top: 46px;
			border-bottom: 1px solid #c4c4c4;
		}

		.install-page .section-stages .list>*:first-child .line{
			width: 50%;
			left: 50%;
		}

		.install-page .section-stages .list>*:last-child .line{
			width: 50%;
		}

			.install-page .section-stages .list .line:before,
			.install-page .section-stages .list .line:after{
				content: '';
				display: block;
				position: absolute;
				right: calc(50% + 12px);
				top: 0px;
				width: 5px;
				height: 0;
				border-bottom: 1px solid #c4c4c4;
				transform: rotate(45deg);
				transform-origin: right center;
			}

			.install-page .section-stages .list .line:after{
				transform: rotate(-45deg);
			}

			.install-page .section-stages .list>*:first-child .line:before,
			.install-page .section-stages .list>*:first-child .line:after{
				display: none;
			}

			.install-page .section-stages .list>*:last-child .line:before,
			.install-page .section-stages .list>*:last-child .line:after{
				right: 12px;
			}

		.install-page .section-stages .list .number{
			color: #1069BB
		}

			.install-page .section-stages .list .number:after{
				content: ' шаг';
			}

		.install-page .section-stages .list .marker{
			position: relative;
			margin: 20px auto 0;
			width: 12px;
			height: 12px;
			border-radius: 7px;
			box-shadow: 0 0 0 5px #fff;
		}

			.install-page .section-stages .list .marker:before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 0;
				box-sizing: border-box;
				border: 1px solid #c4c4c4;
				background: #fff;
				border-radius: 7px;
			}

			.install-page .section-stages .list .marker:after{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
				box-sizing: border-box;
				background: #1069BB;
				opacity: 0;
				border-radius: 7px;
				-webkit-transition: opacity 200ms ease;
				-moz-transition: opacity 200ms ease;
				-ms-transition: opacity 200ms ease;
				transition: opacity 200ms ease;
				will-change: opacity;
			}

			.install-page .section-stages .list>*.active .marker:after{
				opacity: 1;
			}

		.install-page .section-stages .list .text{
			margin: 20px auto 0;
			max-width: 130px;
		}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .section-list{}

.install-page .section-list>.section-inner{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.install-page .section-list>.section-inner>*{
	width: calc(25% - 36px);
}

.install-page .section-list>.section-inner>*+*{
	margin-left: 48px;
}

.install-page .section-list>.section-inner .image{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

	.install-page .section-list>.section-inner .image:before{
		content: '';
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 64%;
	}

	.install-page .section-list>.section-inner .number{
		color: #1069BB;
		font-size: 48px;
		line-height: 56px;
		margin-top: 25px;
	}

	.install-page .section-list>.section-inner .text{
		margin-top: 5px;
		font-size: 16px;
		line-height: 1.25em;
	}

		.install-page .section-list>.section-inner .text a{
			color: #1069BB;
		}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .section-text{
	font-size: 18px;
	line-height: 24px;
	padding: 100px 0 90px;
}

.install-page .section-text h2{
	font-size: 24px;
	line-height: 32px;
}

.install-page .section-text h2+*{
	margin-top: 10px;
}

.install-page .section-text *+h2{
	margin-top: 60px;
}

.install-page .section-text ul{
	max-width: 650px;
}

	.install-page .section-text li{
		position: relative;
		box-sizing: border-box;
		padding-left: 25px;
	}

	.install-page .section-text li+li{
		margin-top: 5px;
	}

		.install-page .section-text li:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 8px;
			width: 6px;
			height: 6px;
			border-radius: 4px;
			background: #1069BB;
		}

.install-page .section-text p{
	max-width: 860px;
}

.install-page .section-text *+p{
	margin-top: 15px;
}



/*************************************************************************

                             C O M M O N S

*************************************************************************/


.install-page .section-manual{
	padding: 90px 0;
	border-top: 1px solid #dbdbdb;
}

.install-page .section-manual .header{
	font-size: 48px;
	line-height: 56px;
}

.install-page .section-manual .list{}

	.install-page .section-manual .list>*{}

	.install-page .section-manual .list>*+*{
		border-top: 1px solid #dbdbdb;
	}

		.install-page .section-manual .list .caption{
			position: relative;
			font-size: 24px;
			line-height: 32px;
			color: #969696;
			padding: 34px 0;
		}

		.install-page .section-manual .list .caption,
		.install-page .section-manual .list .caption *{
			cursor: pointer;
		}

		.install-page .section-manual .list>*.active .caption{
			color: #1069BB;
		}

			.install-page .section-manual .list .caption:before,
			.install-page .section-manual .list .caption:after{
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				right: 24px;
				width: 32px;
				height: 0;
				border-bottom: 1px solid #919191;
				-webkit-transition:
					-webkit-transform 200ms ease,
					border-color 200ms ease
				;
				-moz-transition:
					-moz-transform 200ms ease,
					border-color 200ms ease
				;
				-ms-transition:
					-ms-transform 200ms ease,
					border-color 200ms ease
				;
				transition:
					transform 200ms ease,
					border-color 200ms ease
				;
				will-change: border-color, transform;
			}

			.install-page .section-manual .list .caption:before{}

			.install-page .section-manual .list .caption:after{
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}

			.install-page .section-manual .list>*.active .caption:before{
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}

			.install-page .section-manual .list>*.active .caption:after{
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}

		.install-page .section-manual .list .text{
			overflow: hidden;
			height: 0;
			-webkit-transition: height 200ms ease;
			-moz-transition: height 200ms ease;
			-ms-transition: height 200ms ease;
			transition: height 200ms ease;
			will-change: height;
		}

			.install-page .section-manual .list .text>*{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: space-between;
				padding-bottom: 10px;
			}

				.install-page .section-manual .list .text>*>*{
					position: relative;
					padding-left: 50px;
					box-sizing: border-box;
					min-height: 34px;
					font-size: 16px;
					line-height: 1.25em;
					width: 33.33%;
					max-width: 400px;
					margin-bottom: 30px;
				}

				.install-page .section-manual .list .text>*>a,
				.install-page .section-manual .list .text>*>a *{
					cursor: pointer;
				}

					.install-page .section-manual .list .text>*>a:before{
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 34px;
						height: 34px;
						border: 1px solid #1069BB;
						border-radius: 4px;
						background: url(/assets/img/blue-down.svg) no-repeat center center/auto 12px;
					}

					.install-page .section-manual .list .text .size{
						display: block;
						vertical-align: top;
						white-space: nowrap;
						color: #969696;
					}



/*************************************************************************

                                 F A Q

*************************************************************************/


.install-page .section-faq{
	background: #f1f1f1;
	padding: 90px 0;
}

.install-page .section-faq .header{
	font-size: 48px;
	line-height: 56px;
}

.install-page .section-faq .list{
	margin-top: 40px;
}

	.install-page .section-faq .list>*{}

	.install-page .section-faq .list .caption{
		position: relative;
		font-size: 24px;
		line-height: 32px;
		background: #fff;
		padding: 20px;
		cursor: pointer;
		-webkit-transition:
			background 200ms ease,
			color 200ms ease
		;
		-moz-transition:
			background 200ms ease,
			color 200ms ease
		;
		-ms-transition:
			background 200ms ease,
			color 200ms ease
		;
		transition:
			background 200ms ease,
			color 200ms ease
		;
		will-change: background, color;
	}

	.install-page .section-faq .list>*.active .caption{
		background: #1069BB;
		color: #fff;
	}

		.install-page .section-faq .list .caption:before,
		.install-page .section-faq .list .caption:after{
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 24px;
			width: 32px;
			height: 0;
			border-bottom: 1px solid #919191;
			-webkit-transition:
				-webkit-transform 200ms ease,
				border-color 200ms ease
			;
			-moz-transition:
				-moz-transform 200ms ease,
				border-color 200ms ease
			;
			-ms-transition:
				-ms-transform 200ms ease,
				border-color 200ms ease
			;
			transition:
				transform 200ms ease,
				border-color 200ms ease
			;
			will-change: border-color, transform;
		}

		.install-page .section-faq .list>*.active .caption:before,
		.install-page .section-faq .list>*.active .caption:after{
			border-bottom-color: #fff;
		}

		.install-page .section-faq .list .caption:before{}

		.install-page .section-faq .list .caption:after{
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}

		.install-page .section-faq .list>*.active .caption:before{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

		.install-page .section-faq .list>*.active .caption:after{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}

	.install-page .section-faq .list .text{
		overflow: hidden;
		height: 0;
		-webkit-transition: height 200ms ease;
		-moz-transition: height 200ms ease;
		-ms-transition: height 200ms ease;
		transition: height 200ms ease;
		will-change: height;
	}

		.install-page .section-faq .list .text>*{
			padding-bottom: 40px;
		}

			.install-page .section-faq .list .text>*>*{
				background: #fff;
				padding: 20px;
				font-size: 18px;
				line-height: 24px;
			}



/*************************************************************************

                                V I D E O

*************************************************************************/


.install-page .section-video{
	padding-bottom: 80px;
}

.install-page .section-video .video{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 47vw;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.install-page .section-video .video,
.install-page .section-video .video *{
	cursor: pointer;
}

	.install-page .section-video .video:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
		z-index: 0;
	}

	.install-page .section-video .video .play{
		position: relative;
		width: 90px;
		height: 90px;
		background: url(/assets/img/play.svg) no-repeat center center/contain;
		cursor: pointer;
		z-index: 1;
	}

	.install-page .section-video .video .text{
		position: relative;
		font-size: 24px;
		line-height: 32px;
		color: #fff;
		z-index: 1;
		max-width: 300px;
		text-align: center;
		margin-top: 20px;
	}














