.install-page .page-variant {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 0
}

.install-page .page-variant.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none
}

.install-page .section-top {
    margin-top: 60px
}

@media (max-width: 1280px) {
    .install-page .section-top {
        margin-top: 30px
    }
}

@media (max-width: 600px) {
    .install-page .section-top {
        margin-top: 15px
    }
}

.install-page .section-top > .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 690px;
    color: #fff
}

@media (max-width: 1280px) {
    .install-page .section-top > .section-inner {
        height: 500px
    }
}

@media (max-width: 980px) {
    .install-page .section-top > .section-inner {
        height: 490px
    }
}

@media (max-width: 600px) {
    .install-page .section-top > .section-inner {
        height: 320px
    }
}

.install-page .section-top > .section-inner .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    -webkit-transform: opacity 200ms ease;
    -moz-transform: opacity 200ms ease;
    -ms-transform: opacity 200ms ease;
    transform: opacity 200ms ease;
    will-change: opacity
}

.install-page .section-top > .section-inner .image.hidden {
    opacity: 0
}

.install-page .section-top > .section-inner > * {
    position: relative;
    z-index: 1
}

.install-page .section-top .header {
    font-size: 64px;
    line-height: 72px
}

@media (max-width: 1280px) {
    .install-page .section-top .header {
        font-size: 48px;
        line-height: 56px
    }
}

@media (max-width: 600px) {
    .install-page .section-top .header {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
}

.install-page .section-top .text {
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px
}

@media (max-width: 1280px) {
    .install-page .section-top .text {
        font-size: 24px;
        line-height: 32px;
        margin-top: 10px
    }
}

@media (max-width: 600px) {
    .install-page .section-top .text {
        font-size: 18px;
        line-height: 24px;
        margin-top: 3px
    }
}

.install-page .section-top .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 60px
}

@media (max-width: 1700px) {
    .install-page .section-top .nav {
        margin-top: 50px
    }
}

@media (max-width: 1280px) {
    .install-page .section-top .nav {
        margin-top: 35px
    }
}

.install-page .section-top .nav > * {
    width: 230px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 25px 0
}

.install-page .section-top .nav > *, .install-page .section-top .nav > * * {
    cursor: pointer
}

@media (max-width: 1700px) {
    .install-page .section-top .nav > * {
        width: 200px;
        padding: 17px 0
    }
}

@media (max-width: 980px) {
    .install-page .section-top .nav > * {
        width: 165px
    }
}

@media (max-width: 600px) {
    .install-page .section-top .nav > * {
        width: 140px
    }
}

.install-page .section-top .nav > *.active {
    background: #fff;
    color: #004F91
}

.install-page .section-top .nav > *.active, .install-page .section-top .nav > *.active * {
    cursor: default
}

.install-page .section-top .nav > * + * {
    margin-left: 25px
}

@media (max-width: 980px) {
    .install-page .section-top .nav > * + * {
        margin-left: 20px
    }
}

@media (max-width: 600px) {
    .install-page .section-top .nav > * + * {
        margin-left: 15px
    }
}

.install-page .section-top .nav .icon {
    position: relative;
    height: 55px;
    max-width: 95px;
    margin: 0 auto
}

.install-page .section-top .nav .icon > * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center
}

.install-page .section-top .nav .icon > *:first-child {
    opacity: 1
}

.install-page .section-top .nav > *.active .icon > *:last-child {
    opacity: 0
}

.install-page .section-top .nav > *.active .icon > *:last-child {
    opacity: 1
}

.install-page .section-top .nav .text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px
}

@media (max-width: 1700px) {
    .install-page .section-top .nav .text {
        margin-top: 20px
    }
}

.install-page .section-need {
    padding: 90px 0
}

@media (max-width: 1280px) {
    .install-page .section-need {
        padding: 70px 0 20px
    }
}

@media (max-width: 600px) {
    .install-page .section-need {
        padding: 60px 0 30px
    }
}

.install-page .section-need .header {
    font-size: 48px;
    line-height: 1em
}

@media (max-width: 1280px) {
    .install-page .section-need .header {
        font-size: 32px;
        line-height: 1em
    }
}

@media (max-width: 600px) {
    .install-page .section-need .header {
        font-size: 24px;
        line-height: 32px
    }
}

.install-page .section-need .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: 50px
}

@media (max-width: 600px) {
    .install-page .section-need .list {
        justify-content: flex-start;
        text-align: left;
        margin-top: 40px
    }
}

.install-page .section-need .list > * {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 300px;
    box-sizing: border-box;
    padding: 0 30px
}

@media (max-width: 1700px) {
    .install-page .section-need .list > * {
        padding: 0 15px
    }
}

@media (max-width: 1280px) {
    .install-page .section-need .list > * {
        width: 33.33%;
        flex-basis: 33.33%;
        flex-grow: initial;
        max-width: initial;
        margin-bottom: 50px
    }
}

@media (max-width: 600px) {
    .install-page .section-need .list > * {
        width: 50%;
        flex-basis: 50%;
        flex-grow: initial;
        max-width: initial;
        margin-bottom: 30px;
        padding: 0
    }

    .install-page .section-need .list > *:nth-child(even) {
        padding-left: 15px
    }

    .install-page .section-need .list > *:nth-child(odd) {
        padding-right: 15px
    }
}

.install-page .section-need .list .icon {
    height: 64px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center
}

@media (max-width: 600px) {
    .install-page .section-need .list .icon {
        background-position: left center
    }
}

.install-page .section-need .list .text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px
}

@media (max-width: 600px) {
    .install-page .section-need .list .text {
        font-size: 14px;
        line-height: 1.25em;
        margin-top: 15px
    }
}

.install-page .section-stages {
    padding: 90px 0;
    background: url(/install/pattern.svg) no-repeat right center/auto 75%
}

@media (max-width: 1280px) {
    .install-page .section-stages {
        padding: 70px 0;
        background-size: auto 60%
    }
}

@media (max-width: 980px) {
    .install-page .section-stages {
        background: none
    }
}

@media (max-width: 600px) {
    .install-page .section-stages {
        padding: 60px 0 30px
    }
}

.install-page .section-stages .header {
    font-size: 48px;
    line-height: 1em
}

@media (max-width: 1280px) {
    .install-page .section-stages .header {
        font-size: 32px;
        line-height: 1em
    }
}

@media (max-width: 600px) {
    .install-page .section-stages .header {
        font-size: 24px;
        line-height: 32px
    }
}

.install-page .section-stages .list {
    margin-top: 60px;
    max-width: 870px
}

@media (max-width: 1280px) {
    .install-page .section-stages .list {
        margin-top: 40px;
        max-width: 650px
    }
}

.install-page .section-stages .list > * {
    position: relative;
    padding-left: 100px;
    box-sizing: border-box;
    min-height: 72px
}

@media (max-width: 600px) {
    .install-page .section-stages .list > * {
        padding-left: 70px
    }
}

.install-page .section-stages .list > * + * {
    margin-top: 70px
}

@media (max-width: 500px) {
    .install-page .section-stages .list > * + * {
        margin-top: 30px
    }
}

.install-page .section-stages .list .number {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 64px;
    line-height: 1em;
    height: 1em;
    color: #004F91
}

@media (max-width: 600px) {
    .install-page .section-stages .list .number {
        font-size: 48px;
        top: 3px
    }
}

.install-page .section-stages .list .text {
    font-size: 24px;
    line-height: 32px
}

@media (max-width: 1280px) {
    .install-page .section-stages .list .text {
        font-size: 20px;
        line-height: 30px
    }
}

@media (max-width: 600px) {
    .install-page .section-stages .list .text {
        font-size: 18px;
        line-height: 24px
    }
}

.install-page .section-stages .list .image {
    position: relative;
    margin-top: 20px
}

@media (max-width: 500px) {
    .install-page .section-stages .list .image {
        left: -70px;
        width: calc(100% + 70px);
        margin-top: 10px
    }
}

.install-page .section-stages .list .image > * {
    display: block;
    width: 100%;
    max-width: 415px
}

@media (max-width: 500px) {
    .install-page .section-stages .list .image > * {
        max-width: initial
    }
}

.install-page .section-rules {
    background: #f1f1f1;
    padding: 95px 0
}

@media (max-width: 980px) {
    .install-page .section-rules {
        padding: 60px 0
    }
}

.install-page .section-rules > .section-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

@media (max-width: 600px) {
    .install-page .section-rules > .section-inner {
        flex-direction: column
    }
}

@media (max-width: 980px) {
    .install-page .section-rules > .section-inner > * {
        flex-basis: calc(50% - 25px)
    }
}

.install-page .section-rules > .section-inner > *:first-child {
    margin-left: 150px
}

.install-page .section-rules > .section-inner > *:last-child {
    margin-right: 150px
}

@media (max-width: 1700px) {
    .install-page .section-rules > .section-inner > *:first-child {
        margin-left: 110px
    }

    .install-page .section-rules > .section-inner > *:last-child {
        margin-right: 110px
    }
}

@media (max-width: 1280px) {
    .install-page .section-rules > .section-inner > *:first-child {
        margin-left: 60px
    }

    .install-page .section-rules > .section-inner > *:last-child {
        margin-right: 60px
    }
}

@media (max-width: 980px) {
    .install-page .section-rules > .section-inner > *:first-child {
        margin-left: 0
    }

    .install-page .section-rules > .section-inner > *:last-child {
        margin-right: 0
    }
}

@media (max-width: 600px) {
    .install-page .section-rules > .section-inner > * + * {
        margin-top: 50px
    }
}

.install-page .section-rules .header {
    font-size: 24px;
    line-height: 32px
}

@media (max-width: 980px) {
    .install-page .section-rules .header {
        font-size: 20px;
        line-height: 24px
    }
}

.install-page .section-rules .list {
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px
}

@media (max-width: 1280px) {
    .install-page .section-rules .list {
        font-size: 16px;
        line-height: 26px
    }
}

.install-page .section-rules .list > * {
    position: relative;
    padding-left: 20px
}

.install-page .section-rules .list > * + * {
    margin-top: 5px
}

.install-page .section-rules .list > *:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    left: 0;
    top: 10px;
    background: #1069BB
}

.install-page .section-variants {
    padding-bottom: 80px;
    overflow: hidden
}

@media (max-width: 1280px) {
    .install-page .section-variants {
        padding-bottom: 65px
    }
}

@media (max-width: 600px) {
    .install-page .section-variants {
        padding-top: 40px;
        padding-bottom: 65px
    }
}

.install-page .section-variants .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .install-page .section-variants .header {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 600px) {
    .install-page .section-variants .header {
        font-size: 24px;
        line-height: 32px
    }
}

.install-page .section-variants .text {
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
    max-width: 830px
}

@media (max-width: 1280px) {
    .install-page .section-variants .text {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
        max-width: 720px
    }
}

@media (max-width: 600px) {
    .install-page .section-variants .text {
        font-size: 16px;
        line-height: 1.25em;
        margin-top: 10px
    }
}

.install-page .section-variants .text a {
    border-bottom: 1px solid rgba(16, 105, 187, .4);
    -webkit-transition: color 200ms ease, border-bottom-color 200ms ease;
    -moz-transition: color 200ms ease, border-bottom-color 200ms ease;
    -ms-transition: color 200ms ease, border-bottom-color 200ms ease;
    transition: color 200ms ease, border-bottom-color 200ms ease;
    will-change: color, border-bottom-color;
    cursor: pointer
}

.install-page .section-variants .text a:hover {
    color: rgba(16, 105, 187, 1);
    border-bottom: 1px solid rgba(16, 105, 187, 0)
}

.install-page .section-variants .images {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 40px
}

@media (max-width: 1280px) {
    .install-page .section-variants .images {
        margin-top: 25px
    }
}

@media (max-width: 600px) {
    .install-page .section-variants .images {
        width: calc(100% + 40px);
        left: -20px
    }
}

.install-page .section-variants .images .slide-to {
    position: relative;
    width: 80px;
    flex-basis: initial;
    flex-shrink: 0;
    z-index: 1;
    opacity: .8;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.install-page .section-variants .images .slide-to.hidden{
    display: none;
}

@media (max-width: 600px) {
    .install-page .section-variants .images .slide-to {
        display: none
    }
}

.install-page .section-variants .images .slide-to:hover {
    opacity: 1
}

.install-page .section-variants .images .slide-to, .install-page .section-variants .images .slide-to * {
    cursor: pointer
}

.install-page .section-variants .images .slide-to.disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none
}

.install-page .section-variants .images .slide-to.next {
    right: 0
}

.install-page .section-variants .images .slide-to:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/collections/next-blue.svg) no-repeat right center/56px auto
}

.install-page .section-variants .images .slide-to.prev:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.install-page .section-variants .images .slider {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 0;
    flex-grow: 1
}

.install-page .section-variants .images > * > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
}

.install-page .section-variants .images .swiper-slide {
    position: relative;
    width: auto;
    box-sizing: border-box
}

.install-page .section-variants .images .swiper-slide .img {
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.install-page .section-variants .info {
    margin-top: 35px
}

@media (max-width: 1280px) {
    .install-page .section-variants .info {
        margin-top: 20px
    }
}

.install-page .section-variants .info .caption {
    font-size: 32px;
    line-height: 40px
}

@media (max-width: 1280px) {
    .install-page .section-variants .info .caption {
        font-size: 24px;
        line-height: 32px
    }
}

.install-page .section-variants .info .count {
    font-size: 24px;
    line-height: 32px;
    margin-top: 5px
}

@media (max-width: 1280px) {
    .install-page .section-variants .info .count {
        font-size: 18px;
        line-height: 24px;
        margin-top: 0
    }
}

.install-page .section-variants .show-all {
    margin-top: 40px
}

@media (max-width: 600px) {
    .install-page .section-variants .show-all {
        margin-top: 25px
    }
}

.install-page .section-variants .show-all .button {
    display: block;
    max-width: 270px
}

.install-page .section-manual {
    padding: 90px 0;
    border-top: 1px solid #dbdbdb
}

@media (max-width: 1280px) {
    .install-page .section-manual {
        padding: 60px 0
    }
}

@media (max-width: 600px) {
    .install-page .section-manual > .section-inner {
        padding: 0
    }
}

.install-page .section-manual .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .install-page .section-manual .header {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .header {
        padding: 0 20px
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .list > * {
        padding: 0 20px
    }
}

.install-page .section-manual .list > * + * {
    border-top: 1px solid #dbdbdb
}

.install-page .section-manual .list > *:last-child {
    border-bottom: 1px solid #dbdbdb
}

.install-page .section-manual .list .caption {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    color: #969696;
    padding: 34px 0
}

@media (max-width: 1280px) {
    .install-page .section-manual .list .caption {
        font-size: 18px;
        line-height: 24px;
        padding: 30px 0
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .list .caption {
        padding: 22px 0
    }
}

.install-page .section-manual .list .caption, .install-page .section-manual .list .caption * {
    cursor: pointer
}

.install-page .section-manual .list > *.active .caption {
    color: #1069BB
}

.install-page .section-manual .list .caption:before, .install-page .section-manual .list .caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 0;
    border-bottom: 1px solid #919191;
    -webkit-transition: -webkit-transform 200ms ease, border-color 200ms ease;
    -moz-transition: -moz-transform 200ms ease, border-color 200ms ease;
    -ms-transition: -ms-transform 200ms ease, border-color 200ms ease;
    transition: transform 200ms ease, border-color 200ms ease;
    will-change: border-color, transform
}

@media (max-width: 600px) {
    .install-page .section-manual .list .caption:before, .install-page .section-manual .list .caption:after {
        right: 0
    }
}

.install-page .section-manual .list .caption:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.install-page .section-manual .list > *.active .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.install-page .section-manual .list > *.active .caption:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.install-page .section-manual .list .text {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.install-page .section-manual .list .text .video-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap
}

@media (max-width: 600px) {
    .install-page .section-manual .list .text .video-block {
        flex-direction: column
    }
}

.install-page .section-manual .list .text .video-block > * {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    color: #000;
    min-height: 56px;
    padding-left: 70px;
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 30px
}

@media (max-width: 1280px) {
    .install-page .section-manual .list .text .video-block > * {
        width: 50%
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .list .text .video-block > * {
        width: 100%;
        max-width: 310px
    }
}

.install-page .section-manual .list .text .video-block > *:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    border-radius: 29px;
    box-sizing: border-box;
    border: 2px solid #DEDEDE;
    background: url(/assets/img/youtube.svg) no-repeat center center/25px auto
}

.install-page .section-manual .list .text .video-block > * .context {
    color: #969696
}

.install-page .section-manual .list .text .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 40px
}

.install-page .section-manual .list .text .video-block + .links {
    margin-top: 0
}

.install-page .section-manual .list .text .links:first-child {
    margin-top: 0
}

@media (max-width: 1280px) {
    .install-page .section-manual .list .text .links {
        margin-top: 30px
    }

    .install-page .section-manual .list .text .links:first-child {
        margin-top: 0
    }
}

.install-page .section-manual .list .text .links > * {
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    min-height: 34px;
    font-size: 16px;
    line-height: 1.25em;
    width: 33.33%;
    max-width: 400px;
    margin-bottom: 30px
}

@media (max-width: 1280px) {
    .install-page .section-manual .list .text .links > * {
        width: 50%
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .list .text .links > * {
        width: 100%
    }
}

@media (max-width: 600px) {
    .install-page .section-manual .list .text .links > div {
        display: none
    }
}

.install-page .section-manual .list .text .links > a, .install-page .section-manual .list .text .links > a * {
    cursor: pointer
}

.install-page .section-manual .list .text .links > a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #1069BB;
    border-radius: 4px;
    background: url(/assets/img/blue-down.svg) no-repeat center center/auto 12px
}

.install-page .section-manual .list .text .links > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background: url(/assets/img/white-down.svg) no-repeat center center/auto 12px, #1069BB;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.install-page .section-manual .list .text .links > a:hover:after {
    opacity: 1
}

.install-page .section-manual .list .text .size {
    display: block;
    vertical-align: top;
    white-space: nowrap;
    color: #969696
}

.install-page .section-faq {
    background: #f1f1f1;
    padding: 90px 0
}

@media (max-width: 1280px) {
    .install-page .section-faq {
        padding: 60px 0
    }
}

@media (max-width: 600px) {
    .install-page .section-faq {
        padding: 45px 0
    }
}

.install-page .section-faq .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .install-page .section-faq .header {
        font-size: 32px;
        line-height: 40px
    }
}

.install-page .section-faq .list {
    margin-top: 45px
}

@media (max-width: 1700px) {
    .install-page .section-faq .list {
        margin-top: 40px
    }
}

@media (max-width: 1280px) {
    .install-page .section-faq .list {
        margin-top: 20px
    }
}

.install-page .section-faq .list .caption {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    background: #fff;
    padding: 20px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
    will-change: background, color
}

@media (max-width: 1280px) {
    .install-page .section-faq .list .caption {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .install-page .section-faq .list .caption {
        font-size: 18px;
        line-height: 24px;
        padding: 24px 75px 24px 15px
    }
}

@media (max-width: 600px) {
    .install-page .section-faq .list .caption {
        padding: 12px 75px 12px 15px
    }
}

.install-page .section-faq .list > *.active .caption {
    background: #1069BB;
    color: #fff
}

.install-page .section-faq .list .caption:before, .install-page .section-faq .list .caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 0;
    border-bottom: 1px solid #919191;
    -webkit-transition: -webkit-transform 200ms ease, border-color 200ms ease;
    -moz-transition: -moz-transform 200ms ease, border-color 200ms ease;
    -ms-transition: -ms-transform 200ms ease, border-color 200ms ease;
    transition: transform 200ms ease, border-color 200ms ease;
    will-change: border-color, transform
}

.install-page .section-faq .list > *.active .caption:before, .install-page .section-faq .list > *.active .caption:after {
    border-bottom-color: #fff
}

.install-page .section-faq .list .caption:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.install-page .section-faq .list > *.active .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.install-page .section-faq .list > *.active .caption:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.install-page .section-faq .list .text {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.install-page .section-faq .list .text > * {
    padding-bottom: 45px
}

@media (max-width: 1700px) {
    .install-page .section-faq .list .text > * {
        padding-bottom: 40px
    }
}

@media (max-width: 980px) {
    .install-page .section-faq .list .text > * {
        padding-bottom: 30px
    }
}

@media (max-width: 600px) {
    .install-page .section-faq .list .text > * {
        padding-bottom: 25px
    }
}

.install-page .section-faq .list .text > * > * {
    background: #fff;
    padding: 15px 20px 20px;
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 1700px) {
    .install-page .section-faq .list .text > * > * {
        padding: 20px
    }
}

@media (max-width: 1280px) {
    .install-page .section-faq .list .text > * > * {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .install-page .section-faq .list .text > * > * {
        font-size: 16px;
        line-height: 1.25em
    }
}

.useful-info-block {
    text-align: center;
    padding: 24px 0;
    background: #f1f1f1
}

.question-icon {
    position: relative
}

.question-icon:after {
    right: 10px;
    bottom: -7px;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url(/assets/img/question.svg);
    display: inline-block;
    position: absolute
}