/*************************************************************************


                    N   O   T       F   O   U   N   D


*************************************************************************/


/*************************************************************************

                             C O M M O N S

*************************************************************************/


.notfound-page .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
}

.notfound-page .page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

.notfound-page .page-content-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
}

@media (max-width: 1280px) {

    .notfound-page .page-content-inner {
        justify-content: flex-start;
    }

}

@media (max-width: 600px) {

    .notfound-page .page-content-inner {
        margin-top: 15px;
    }

}

.notfound-page .section-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 0;
}

@media (max-width: 980px) {

    .notfound-page .section-top {
        padding: 100px 0 60px;
    }

}

@media (max-width: 600px) {

    .notfound-page .section-top {
        padding: 100px 0 130px;
    }

}

.notfound-page .section-top .info {
}

.notfound-page .section-top .info:before {
    content: '404';
    font-family: Roboto;
    font-size: 255px;
    line-height: 1em;
    height: 1em;
    color: #004A8F;
}

@media (max-width: 980px) {

    .notfound-page .section-top .info:before {
        font-size: 190px;
    }

}

@media (max-width: 600px) {

    .notfound-page .section-top .info:before {
        font-size: 160px;
    }

}

.notfound-page .section-top .info:after {
    content: 'Страница не найдена';
    display: block;
    margin-top: 20px;
    font-size: 43px;
    line-height: 1em;
    height: 1em;
}

@media (max-width: 980px) {

    .notfound-page .section-top .info:after {
        font-size: 32px;
    }

}

@media (max-width: 600px) {

    .notfound-page .section-top .info:after {
        font-size: 24px;
        margin-top: 0;
    }

}

.notfound-page .section-top .link {
    font-size: 24px;
    margin-top: 15px;
}

@media (max-width: 980px) {

    .notfound-page .section-top .link {
        font-size: 18px;
        line-height: 24px;
    }

}

@media (max-width: 600px) {

    .notfound-page .section-top .link {
        font-size: 16px;
        line-height: 1.25em;
    }

}


.notfound-page .section-top .link:after {
    content: 'Перейти на главную страницу';
}


