.product-page .section-top {
    padding-top: 50px;
    overflow: hidden
}

@media (max-width: 1700px) {
    .product-page .section-top {
        padding-top: 60px
    }
}

@media (max-width: 1280px) {
    .product-page .section-top {
        padding-top: 30px
    }
}

@media (max-width: 600px) {
    .product-page .section-top {
        padding-top: 15px
    }
}

.product-page .section-top .intro {
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb
}

@media (max-width: 1280px) {
    .product-page .section-top .intro {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

@media (max-width: 600px) {
    .product-page .section-top .intro {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

.product-page .section-top .intro .header {
    text-align: center;
    font-size: 64px;
    line-height: 72px
}

@media (max-width: 1280px) {
    .product-page .section-top .intro .header {
        font-size: 48px;
        line-height: 56px
    }
}

@media (max-width: 980px) {
    .product-page .section-top .intro .header {
        text-align: left
    }
}

.product-page .section-top .intro .text {
    margin-top: 25px;
    color: #969696;
    font-size: 32px;
    line-height: 40px;
    text-align: center
}

@media (max-width: 1280px) {
    .product-page .section-top .intro .text {
        font-size: 24px;
        line-height: 32px;
        margin: 10px auto 0;
        max-width: 550px
    }
}

@media (max-width: 980px) {
    .product-page .section-top .intro .text {
        text-align: left;
        max-width: 550px;
        margin-left: 0;
        margin-top: 0
    }
}

@media (max-width: 600px) {
    .product-page .section-top .intro .text {
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px
    }
}

.product-page .section-top .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px
}

@media (max-width: 1700px) {
    .product-page .section-top .list {
        flex-wrap: wrap;
        justify-content: flex-start
    }
}

@media (max-width: 1280px) {
    .product-page .section-top .list {
        margin: 0 auto;
        padding-top: 55px;
        padding-bottom: 30px
    }
}

@media (max-width: 980px) {
    .product-page .section-top .list {
        max-width: initial;
        margin: 0
    }
}

@media (max-width: 600px) {
    .product-page .section-top .list {
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 10px
    }
}

.product-page .section-top .list > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    flex-basis: 0%;
    max-width: 185px
}

@media (max-width: 1700px) {
    .product-page .section-top .list > * {
        flex-grow: initial;
        flex-basis: initial;
        flex-shrink: 0;
        width: calc(16.6% - 30px);
        margin-bottom: 25px;
        margin-right: 30px
    }
}

@media (max-width: 1280px) {
    .product-page .section-top .list > * {
        flex-grow: initial;
        flex-basis: initial;
        flex-shrink: 0;
        width: calc(25% - 40px);
        max-width: initial;
        margin-bottom: 25px
    }
}

@media (max-width: 980px) {
    .product-page .section-top .list > * {
        width: calc(33.33% - 30px);
        margin-right: 30px
    }
}

@media (max-width: 600px) {
    .product-page .section-top .list > * {
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 25px);
        margin: 0 0 25px
    }
}

.product-page .section-top .list > * + * {
    margin-left: 30px
}

@media (max-width: 1700px) {
    .product-page .section-top .list > * + * {
        margin-left: 0
    }
}

@media (max-width: 980px) {
    .product-page .section-top .list > * + * {
        margin-left: 0
    }
}

.product-page .section-top .list .icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center
}

.product-page .section-top .list .text {
    padding-left: 25px;
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.25em
}

@media (max-width: 600px) {
    .product-page .section-top .list .text {
        padding-left: 0;
        margin-top: 10px
    }
}

.product-page .section-slider .slider {
    position: relative;
    color: #fff
}

.product-page .section-slider .slider .slides {
    position: relative;
    height: 40vw;
    z-index: 0
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides {
        height: 46vw
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides {
        height: auto;
        max-height: 55vw
    }
}

@media (max-width: 980px) {
    .product-page .section-slider .slider .slides {
        max-height: 76vw
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides {
        max-height: initial
    }
}

.product-page .section-slider .slider .slides .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    justify-content: flex-start;
    position: relative
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide {
        padding: 0
    }
}

.product-page .section-slider .slider .slides .swiper-slide > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
    padding: 60px 115px 135px
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides .swiper-slide > * {
        padding: 60px 115px 120px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide > * {
        padding: 60px 0 70px
    }
}

@media (max-width: 980px) {
    .product-page .section-slider .slider .slides .swiper-slide > * {
        padding: 60px 0 60px
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide > * {
        padding: 0 0 20px
    }
}

.product-page .section-slider .slider .slides .swiper-slide > * > * {
    position: relative;
    z-index: 1
}

.product-page .section-slider .slider .slides .swiper-slide .img {
    position: absolute;
    left: -210px;
    top: 0;
    width: calc(100% + 420px);
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides .swiper-slide .img {
        left: -60px;
        width: calc(100% + 120px)
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide .img {
        left: -20px;
        width: calc(100% + 40px)
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .img {
        left: 0;
        width: 100%;
        height: 60vw
    }
}

.product-page .section-slider .slider .slides .swiper-slide .img:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 99.98%, rgba(0, 0, 0, .4) 99.99%, rgba(0, 0, 0, .5) 100%)
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .img:before {
        height: 60vw
    }
}

.product-page .section-slider .slider .slides .swiper-slide .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide .header {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 60vw;
        padding: 25px 20px;
        font-size: 24px;
        line-height: 32px;
        box-sizing: border-box
    }
}

.product-page .section-slider .slider .slides .swiper-slide .list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides .swiper-slide .list {
        justify-content: flex-start;
        margin-top: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide .list {
        flex-wrap: wrap;
        margin-top: 25px
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        background: #f1f1f1;
        color: #000;
        margin: 0;
        padding: 30px 20px
    }
}

.product-page .section-slider .slider .slides .swiper-slide .list > * {
    position: relative;
    box-sizing: border-box;
    flex-basis: 0%;
    flex-grow: 1;
    padding-left: 25px
}

.product-page .section-slider .slider .slides .swiper-slide .list > *:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: #fff
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > *:before {
        background: #004A8F
    }
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * {
        padding-right: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * {
        padding-right: 90px;
        flex-grow: initial;
        flex-basis: initial;
        flex-shrink: 0;
        width: 33.33%;
        margin-bottom: 30px
    }
}

@media (max-width: 980px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * {
        padding-right: 20px
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * {
        width: auto;
        margin-bottom: 0
    }
}

.product-page .section-slider .slider .slides .swiper-slide .list > * + * {
    margin-left: 50px
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * + * {
        margin-left: 0
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list > * + * {
        margin-top: 25px
    }
}

.product-page .section-slider .slider .slides .swiper-slide .list .number {
    font-size: 48px;
    line-height: 1em;
    height: 1em
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list .number {
        color: #1069BB
    }
}

.product-page .section-slider .slider .slides .swiper-slide .list .text {
    font-size: 16px;
    line-height: 1.25em
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slides .swiper-slide .list .text {
        font-size: 14px
    }
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slides .swiper-slide .list .text {
    }
}

.product-page .section-slider .slider .slide-to {
    position: absolute;
    width: 48px;
    height: 16px;
    left: calc(50% - 8px);
    z-index: 1;
    background: url(/assets/img/slide-down.svg) no-repeat center center/contain;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 600px) {
    .product-page .section-slider .slider .slide-to {
        display: none
    }
}

.product-page .section-slider .slider .slide-to.prev {
    top: 50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slide-to.prev {
        top: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slide-to.prev {
        top: 25px
    }
}

.product-page .section-slider .slider .slide-to.next {
    bottom: 50px
}

@media (max-width: 1700px) {
    .product-page .section-slider .slider .slide-to.prev {
        bottom: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .slider .slide-to.next {
        bottom: 25px
    }
}

.product-page .section-slider .slider .slide-to.hidden {
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.product-page .section-slider .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px
}

@media (max-width: 1700px) {
    .product-page .section-slider .nav {
        margin-bottom: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-slider .nav {
        margin-top: 40px;
        margin-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        justify-content: flex-start
    }
}
/*
@media (max-width: 980px) {
    .product-page .section-slider .nav {
        justify-content: flex-start
    }
}*/

@media (max-width: 600px) {
    .product-page .section-slider .nav {
        margin-top: 10px;
        margin-bottom: 25px
    }
}

.product-page .section-slider .nav > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto
}

.product-page .section-slider .nav > * > * {
    position: relative;
    width: 180px;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    line-height: 1.25em;
    padding-top: 26px
}

.product-page .section-slider .nav > * > *, .product-page .section-slider .nav > * > * * {
    cursor: pointer
}

.product-page .section-slider .nav .marker {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: calc(50% - 6px);
    z-index: 1
}

.product-page .section-slider .nav > * > *:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #d8d8d8;
    z-index: 0
}

.product-page .section-slider .nav > * > *:first-child:before {
    left: 50%;
    width: 50%
}

.product-page .section-slider .nav > * > *:last-child:before {
    left: 0;
    width: 50%
}

.product-page .section-slider .nav .marker:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    background: #fff;
    z-index: 0;
    -webkit-transition: border-color 200ms ease;
    -moz-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
    will-change: border-color
}

.product-page .section-slider .nav > * > *:hover .marker:before {
    border-color: #004A8F
}

.product-page .section-slider .nav .marker:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 7px;
    background: #004A8F;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.product-page .section-slider .nav > * > *.active .marker:after {
    opacity: 1
}

.product-page .section-faq {
    background: #f1f1f1;
    padding: 90px 0
}

@media (max-width: 1280px) {
    .product-page .section-faq {
        padding: 60px 0
    }
}

@media (max-width: 600px) {
    .product-page .section-faq {
        padding: 45px 0
    }
}

.product-page .section-faq .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .product-page .section-faq .header {
        font-size: 32px;
        line-height: 40px
    }
}

.product-page .section-faq .list {
    margin-top: 45px
}

@media (max-width: 1700px) {
    .product-page .section-faq .list {
        margin-top: 40px
    }
}

@media (max-width: 1280px) {
    .product-page .section-faq .list {
        margin-top: 20px
    }
}

.product-page .section-faq .list .caption {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    background: #fff;
    padding: 20px;
    cursor: pointer;
    -webkit-transition: background 200ms ease, color 200ms ease;
    -moz-transition: background 200ms ease, color 200ms ease;
    -ms-transition: background 200ms ease, color 200ms ease;
    transition: background 200ms ease, color 200ms ease;
    will-change: background, color
}

@media (max-width: 1280px) {
    .product-page .section-faq .list .caption {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .product-page .section-faq .list .caption {
        font-size: 18px;
        line-height: 24px;
        padding: 24px 75px 24px 15px
    }
}

@media (max-width: 600px) {
    .product-page .section-faq .list .caption {
        padding: 12px 75px 12px 15px
    }
}

.product-page .section-faq .list > *.active .caption {
    background: #1069BB;
    color: #fff
}

.product-page .section-faq .list .caption:before, .product-page .section-faq .list .caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 0;
    border-bottom: 1px solid #919191;
    -webkit-transition: -webkit-transform 200ms ease, border-color 200ms ease;
    -moz-transition: -moz-transform 200ms ease, border-color 200ms ease;
    -ms-transition: -ms-transform 200ms ease, border-color 200ms ease;
    transition: transform 200ms ease, border-color 200ms ease;
    will-change: border-color, transform
}

.product-page .section-faq .list > *.active .caption:before, .product-page .section-faq .list > *.active .caption:after {
    border-bottom-color: #fff
}

.product-page .section-faq .list .caption:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.product-page .section-faq .list > *.active .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.product-page .section-faq .list > *.active .caption:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.product-page .section-faq .list .text {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.product-page .section-faq .list .text > * {
    padding-bottom: 45px
}

@media (max-width: 1700px) {
    .product-page .section-faq .list .text > * {
        padding-bottom: 40px
    }
}

@media (max-width: 980px) {
    .product-page .section-faq .list .text > * {
        padding-bottom: 30px
    }
}

@media (max-width: 600px) {
    .product-page .section-faq .list .text > * {
        padding-bottom: 25px
    }
}

.product-page .section-faq .list .text > * > * {
    background: #fff;
    padding: 15px 20px 20px;
    font-size: 18px;
    line-height: 24px
}

@media (max-width: 1700px) {
    .product-page .section-faq .list .text > * > * {
        padding: 20px
    }
}

@media (max-width: 1280px) {
    .product-page .section-faq .list .text > * > * {
        padding: 20px 15px
    }
}

@media (max-width: 980px) {
    .product-page .section-faq .list .text > * > * {
        font-size: 16px;
        line-height: 1.25em
    }
}

.product-page .section-video {
    padding: 80px 210px 80px
}

@media (max-width: 1700px) {
    .product-page .section-video {
        padding: 0 0 80px
    }
}

@media (max-width: 1280px) {
    .product-page .section-video {
        padding: 0 0 60px
    }
}

@media (max-width: 600px) {
    .product-page .section-video {
        padding: 0 0 45px
    }
}

.product-page .section-video .video {
    display: flex;
    position: relative;
    padding-bottom: 56%
}

.product-page .section-video .video > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.product-page .section-docs {
    padding: 90px 0;
    border-top: 1px solid #dbdbdb
}

@media (max-width: 1280px) {
    .product-page .section-docs {
        padding: 60px 0
    }
}

@media (max-width: 600px) {
    .product-page .section-docs > .section-inner {
        padding: 0
    }
}

.product-page .section-docs .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 1280px) {
    .product-page .section-docs .header {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .header {
        padding: 0 20px
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .list > * {
        padding: 0 20px
    }
}

.product-page .section-docs .list > * + * {
    border-top: 1px solid #dbdbdb
}

.product-page .section-docs .list > *:last-child {
    border-bottom: 1px solid #dbdbdb
}

.product-page .section-docs .list .caption {
    position: relative;
    font-size: 24px;
    line-height: 32px;
    color: #969696;
    padding: 34px 0
}

@media (max-width: 1280px) {
    .product-page .section-docs .list .caption {
        font-size: 18px;
        line-height: 24px;
        padding: 30px 0
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .list .caption {
        padding: 22px 0
    }
}

.product-page .section-docs .list .caption, .product-page .section-docs .list .caption * {
    cursor: pointer
}

.product-page .section-docs .list > *.active .caption {
    color: #1069BB
}

.product-page .section-docs .list .caption:before, .product-page .section-docs .list .caption:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    width: 32px;
    height: 0;
    border-bottom: 1px solid #919191;
    -webkit-transition: -webkit-transform 200ms ease, border-color 200ms ease;
    -moz-transition: -moz-transform 200ms ease, border-color 200ms ease;
    -ms-transition: -ms-transform 200ms ease, border-color 200ms ease;
    transition: transform 200ms ease, border-color 200ms ease;
    will-change: border-color, transform
}

@media (max-width: 600px) {
    .product-page .section-docs .list .caption:before, .product-page .section-docs .list .caption:after {
        right: 0
    }
}

.product-page .section-docs .list .caption:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.product-page .section-docs .list > *.active .caption:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.product-page .section-docs .list > *.active .caption:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.product-page .section-docs .list .text {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    -ms-transition: height 200ms ease;
    transition: height 200ms ease;
    will-change: height
}

.product-page .section-docs .list .text .video-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap
}

@media (max-width: 600px) {
    .product-page .section-docs .list .text .video-block {
        flex-direction: column
    }
}

.product-page .section-docs .list .text .video-block > * {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    color: #000;
    min-height: 56px;
    padding-left: 70px;
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 30px
}

@media (max-width: 1280px) {
    .product-page .section-docs .list .text .video-block > * {
        width: 50%
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .list .text .video-block > * {
        width: 100%;
        max-width: 310px
    }
}

.product-page .section-docs .list .text .video-block > *:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    border-radius: 29px;
    box-sizing: border-box;
    border: 2px solid #DEDEDE;
    background: url(/assets/img/youtube.svg) no-repeat center center/25px auto
}

.product-page .section-docs .list .text .video-block > * .context {
    color: #969696
}

.product-page .section-docs .list .text .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-top: 40px
}

.product-page .section-docs .list .text .links:first-child {
    margin-top: 0
}

.product-page .section-docs .list .text .video-block + .links {
    margin-top: 0
}

@media (max-width: 1280px) {
    .product-page .section-docs .list .text .links {
        margin-top: 30px
    }

    .product-page .section-docs .list .text .links:first-child {
        margin-top: 0
    }
}

.product-page .section-docs .list .text .links > * {
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    min-height: 34px;
    font-size: 16px;
    line-height: 1.25em;
    width: 33.33%;
    max-width: 400px;
    margin-bottom: 30px
}

@media (max-width: 1280px) {
    .product-page .section-docs .list .text .links > * {
        width: 50%
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .list .text .links > * {
        width: 100%
    }
}

@media (max-width: 600px) {
    .product-page .section-docs .list .text .links > div {
        display: none
    }
}

.product-page .section-docs .list .text .links > a, .product-page .section-docs .list .text .links > a * {
    cursor: pointer
}

.product-page .section-docs .list .text .links > a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 34px;
    height: 34px;
    border: 1px solid #1069BB;
    border-radius: 4px;
    background: url(/assets/img/blue-down.svg) no-repeat center center/auto 12px
}

.product-page .section-docs .list .text .links > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background: url(/assets/img/white-down.svg) no-repeat center center/auto 12px, #1069BB;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.product-page .section-docs .list .text .links > a:hover:after {
    opacity: 1
}

.product-page .section-docs .list .text .size {
    display: block;
    vertical-align: top;
    white-space: nowrap;
    color: #969696
}




.product-page .section-projects{
    padding: 80px 0;
    border-top: 1px solid #d6d6d6;
    overflow: hidden;
    max-width: 100vw;
}

@media (max-width: 1280px) {

.product-page .section-projects{
    padding: 60px 0;
}

}

@media (max-width: 600px) {

.product-page .section-projects{
    padding: 60px 0 30px;
}

}

.product-page .section-projects .section-inner{
    overflow: visible;
}

.product-page .section-projects .header{
    font-size: 48px;
    line-height: 56px;
}

@media (max-width: 1280px) {

.product-page .section-projects .header{
    font-size: 32px;
    line-height: 40px
}

}

.product-page .section-projects .list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
}

@media (max-width: 600px) {

.product-page .section-projects .list{
    margin-top: 80px;
}

}

    .product-page .section-projects .list .slide-to{
        display: flex;
        position: absolute;
        right: 0;
        top: -72px;
    }

@media (max-width: 600px) {

    .product-page .section-projects .list .slide-to{
        right: initial;
        left: 0;
    }

}

        .product-page .section-projects .list .slide-to>*{
            position: relative;
            width: 56px;
            height: 56px;
            opacity: .3;
            -webkit-transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            -ms-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            will-change: opacity;
            z-index: 1;
            cursor: pointer
        }
        
        .product-page .section-projects .list .slide-to>*+*{
            margin-left: 16px;
        }

        .product-page .section-projects .list .slide-to>*:hover{
            opacity: 1
        }

        .product-page .section-projects .list .slide-to>*.hidden{
            pointer-events: none;
            opacity: .3
        }

        .product-page .section-projects .list .slide-to .prev{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg)
        }

            .product-page .section-projects .list .slide-to>*:before,
            .product-page .section-projects .list .slide-to>*:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
                opacity: 1;
                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                -ms-transition: opacity 200ms ease;
                transition: opacity 200ms ease;
                will-change: opacity
            }

            .product-page .section-projects .list .slide-to>*:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .product-page .section-projects .list .slide-to>*.hidden:before{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .product-page .section-projects .list .slide-to>*.hidden:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 1
            }

    .product-page .section-projects .list .slides{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: visible;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }

        .product-page .section-projects .list .slides>*{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: visible;
        }

            .product-page .section-projects .list .slides>*>*{}

                .product-page .section-projects .list .slides .image{
                    position: relative;
                    background: url(/assets/project-samples/default.svg) no-repeat center center/92px auto, #E6E6E6;
                }

                    .product-page .section-projects .list .slides .image:before{
                        content: '';
                        display: block;
                        position: relative;
                        width: 100%;
                        padding-bottom: 67%;
                        pointer-events: none;
                    }

                        .product-page .section-projects .list .slides .image>*{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                .product-page .section-projects .list .slides .title{
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 16px;
                }

            @media (max-width: 600px) {

                .product-page .section-projects .list .slides .title{
                    font-size: 18px;
                    line-height: 26px;
                }

            }

