.project-page .section-nav {
    margin-top: 24px;
    padding-bottom: 8px
}

@media (max-width: 1280px) {
    .project-page .section-nav {
        margin-top: 40px
    }
}

@media (max-width: 900px) {
    .project-page .section-nav {
        margin-top: 32px
    }
}

@media (max-width: 600px) {
    .project-page .section-nav {
        margin-top: 14px
    }
}

.project-page .section-nav .nav {
    font-size: 14px;
    line-height: 18px;
    color: #919191
}

.project-page .section-nav .nav > * {
    transition: color 200ms ease;
    will-change: color
}

.project-page .section-nav .nav > a:hover {
    color: #1069BB
}

.project-page .section-nav .nav > *:after {
    content: '   →   ';
    white-space: pre
}

.project-page .section-nav .nav > *:last-child:after {
    display: none
}

.project-page .section-header {
    padding-top: 24px;
    border-top: 1px solid #DBDBDB
}

@media (max-width: 600px) {
    .project-page .section-header {
        padding-top: 16px
    }
}

.project-page .section-header .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    color: #646464
}

.project-page .section-header .nav > * {
    transition: color 200ms ease;
    will-change: color
}

.project-page .section-header .nav > *:hover {
    color: #1069BB
}

.project-page .section-header .nav > *:first-child:before {
    content: '← ';
    white-space: pre
}

.project-page .section-header .nav > *:last-child:after {
    content: ' →';
    white-space: pre
}

.project-page .section-header .header {
    font-size: 48px;
    line-height: 56px;
    margin-top: 40px
}

@media (max-width: 1280px) {
    .project-page .section-header .header {
        font-size: 40px;
        line-height: 48px
    }
}

@media (max-width: 900px) {
    .project-page .section-header .header {
        margin-top: 32px;
        font-size: 32px;
        line-height: 40px
    }
}

.project-page .section-header .text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    max-width: 650px
}

@media (max-width: 1280px) {
    .project-page .section-header .text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
        max-width: 590px
    }
}

.project-page .section-header .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px
}

@media (max-width: 1280px) {
    .project-page .section-header .info {
        margin-top: 16px
    }
}

.project-page .section-header .info .time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    color: #646464
}

.project-page .section-header .info .time:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background: url(/assets/img/time.svg) no-repeat center center/contain
}

.project-page .section-header .info .time:after {
    content: ' мин';
    white-space: pre
}

.project-page .section-header .info .share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 32px;
    font-size: 14px;
    line-height: 22px;
    color: #646464
}

@media (max-width: 600px) {
    .project-page .section-header .info .share {
        margin-left: 24px
    }
}

.project-page .section-header .info .share:before {
    content: 'Поделиться: ';
    display: block;
    margin-right: 8px
}

.project-page .section-header .info .share > * {
    color: transparent
}

.project-page .section-header .info .share .ya-share2__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.project-page .section-header .info .share .ya-share2__item {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
    transition: opacity 200ms ease;
    will-change: opacity
}

.project-page .section-header .info .share .ya-share2__item:hover {
    opacity: .8
}

.project-page .section-header .info .share .ya-share2__item, .project-page .section-header .info .share .ya-share2__item * {
    cursor: pointer
}

.project-page .section-header .info .share * + .ya-share2__item {
    margin-left: 8px
}

.project-page .section-header .info .share .ya-share2__item_service_twitter {
    background: url(/assets/img/twitter.svg) no-repeat center center/16px auto, #43D2FF
}

.project-page .section-header .info .share .ya-share2__item_service_facebook {
    background: url(/assets/img/facebook.svg) no-repeat center center/9px auto, #004B8F
}

.project-page .section-header .info .share .ya-share2__item_service_telegram {
    background: url(/assets/img/telegram.svg) no-repeat center center/16px auto, #61A8DE
}

.project-page .section-header .info .share .ya-share2__item_service_vkontakte {
    background: url(/assets/img/vkontakte.svg) no-repeat center center/17px auto, #2384DE
}

.project-page .section-text {
    margin-top: 56px
}

@media (max-width: 1280px) {
    .project-page .section-text {
        margin-top: 32px
    }
}

.project-page .section-text .section-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

@media (max-width: 1280px) {
    .project-page .section-text .section-inner {
        flex-direction: column;
        justify-content: flex-start
    }
}

.project-page .section-text .contents {
    flex-grow: 1;
    flex-basis: 0%;
    font-size: 18px;
    line-height: 26px;
    margin-right: 48px;
    min-height: 100vh
}

@media (max-width: 1280px) {
    .project-page .section-text .contents {
        font-size: 16px;
        line-height: 24px;
        flex-grow: initial;
        flex-basis: initial;
        min-height: initial;
        width: 100%
    }
}

.project-page .section-text .contents > * {
    display: block;
    max-width: 760px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * {
        max-width: 580px
    }
}

.project-page .section-text .contents > * + * {
    margin-top: 16px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > * + * {
        margin-top: 12px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > * + * {
        margin-top: 8px
    }
}

.project-page .section-text .contents > p a {
    color: #1069BB;
    border-bottom: 1px solid rgba(16, 105, 187, .4);
    transition: border-bottom-color 200ms ease;
    will-change: border-bottom-color
}

.project-page .section-text .contents > p a:hover {
    border-bottom-color: rgba(16, 105, 187, 0)
}

.project-page .section-text .contents > .image {
    margin: 0
}

.project-page .section-text .contents > * + .image, .project-page .section-text .contents > .image + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + .image {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .image + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > .image img {
    display: block;
    width: 100%;
    height: auto
}

.project-page .section-text .contents > .image figcaption {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .image figcaption {
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px
    }
}

.project-page .section-text .contents > .image figcaption a {
    color: #646464;
    transition: color 200ms ease;
    will-change: color
}

.project-page .section-text .contents > .image figcaption a:hover {
    color: #1069BB
}

.project-page .section-text .contents > .slider {
    position: relative
}

.project-page .section-text .contents > * + .slider, .project-page .section-text .contents > .slider + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + .slider {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .slider + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > *.slider .nav-v2 {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 8px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > *.slider .nav-v2 {
        display: flex
    }
}

.project-page .section-text .contents > *.slider .nav-v2 > * {
    border: 1px solid #979797;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background 200ms ease;
    will-change: background;
    cursor: pointer
}

.project-page .section-text .contents > *.slider .nav-v2 > *.active {
    background: #1069BB
}

.project-page .section-text .contents > *.slider .nav-v2 > * + * {
    margin-left: 7px
}

.project-page .section-text .contents > *.slider .nav {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    padding: 0 32px;
    box-sizing: border-box
}

@media (max-width: 900px) {
    .project-page .section-text .contents > *.slider .nav {
        display: none
    }
}

.project-page .section-text .contents > *.slider .nav > * {
    pointer-events: initial;
    width: 56px;
    height: 56px;
    background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
    cursor: pointer;
    transition: opacity 200ms ease;
    will-change: opacity
}

.project-page .section-text .contents > *.slider .nav > *.disabled {
    opacity: 0;
    pointer-events: none
}

.project-page .section-text .contents > *.slider .nav > *:hover {
    opacity: .8
}

.project-page .section-text .contents > *.slider .nav > *.prev {
    transform: rotate(180deg)
}

.project-page .section-text .contents > *.slider .slides {
    position: relative;
    z-index: 0
}

.project-page .section-text .contents > *.slider .slides > * > * > * {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.project-page .section-text .contents > *.slider .slides > * > * > *:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 56%
}

.project-page .section-text .contents > ol {
    display: block;
    counter-reset: item;
    margin: 0;
    padding: 0
}

.project-page .section-text .contents > * + ol, .project-page .section-text .contents > ol + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + ol {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > ol + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > ol > li {
    display: block;
    position: relative;
    counter-increment: item;
    margin: 0;
    padding: 0 0 0 30px
}

.project-page .section-text .contents > ol > * + li {
    margin-top: 16px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > ol > * + li {
        margin-top: 12px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > ol > * + li {
        margin-top: 8px
    }
}

.project-page .section-text .contents > ol > li:before {
    content: counter(item) '.';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #1069BB
}

.project-page .section-text .contents > * + ul, .project-page .section-text .contents > ul + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + ul {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > ul + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > ul > li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0 24px
}

.project-page .section-text .contents > ul > * + li {
    margin-top: 16px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > ul > * + li {
        margin-top: 12px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > ul > * + li {
        margin-top: 8px
    }
}

.project-page .section-text .contents > ul > li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: calc(.5em - 1px);
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #1069BB
}

.project-page .section-text .contents > .video {
    position: relative;
    cursor: pointer
}

.project-page .section-text .contents > * + .video, .project-page .section-text .contents > .video + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + .video {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .video + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > .video video {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0
}

.project-page .section-text .contents > .video:before {
    content: '';
    display: block;
    position: absolute;
    background: url(/assets/img/play.svg) no-repeat center center/60px 60px, rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 200ms ease;
    will-change: opacity
}

.project-page .section-text .contents > .video.played:before {
    opacity: 0
}

.project-page .section-text .contents > .table {
    position: relative;
    cursor: pointer;
    max-width: 870px;
    padding-bottom: 4px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table {
        padding-bottom: 8px
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table {
        padding-bottom: 10px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table {
        padding-bottom: 0
    }
}

.project-page .section-text .contents > .table:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #c4c4c4
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table:before {
        width: calc(100% + 40px);
        left: -20px
    }
}

.project-page .section-text .contents > * + .table, .project-page .section-text .contents > .table + * {
    margin-top: 24px
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + .table {
        margin-top: 16px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table + * {
        margin-top: 16px
    }
}

.project-page .section-text .contents > .table .header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 18px;
    line-height: 26px;
    color: #646464;
    padding-bottom: 16px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table .header {
        font-size: 16px;
        line-height: 24px
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .header {
        font-size: 14px;
        line-height: 20px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .header {
        display: none
    }
}

.project-page .section-text .contents > .table .header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #c4c4c4
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .header:before {
        width: calc(100% + 40px);
        left: -20px
    }
}

.project-page .section-text .contents > .table .header > * {
    flex-grow: 1;
    flex-basis: 0%
}

.project-page .section-text .contents > .table .rows {
    font-size: 18px;
    line-height: 26px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table .rows {
        font-size: 16px;
        line-height: 24px
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .rows {
        font-size: 14px;
        line-height: 20px
    }
}

.project-page .section-text .contents > .table .rows .separator {
    position: relative;
    border-bottom: 1px solid #C4C4C4;
    height: 0;
    margin: 10px 0
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table .rows .separator {
        margin: 8px 0
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .rows .separator {
        width: calc(100% + 40px);
        left: -20px;
        margin: 10px 0
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .separator {
        display: none
    }
}

.project-page .section-text .contents > .table .rows .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 0
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table .rows .row {
        padding: 8px 0
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .rows .row {
        padding: 6px 0
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .row {
        flex-direction: column;
        position: relative;
        padding: 12px 0
    }

    .project-page .section-text .contents > .table .rows .row:before {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 40px);
        height: 0;
        left: -20px;
        top: 0;
        border-bottom: 1px solid #c4c4c4
    }
}

.project-page .section-text .contents > .table .rows .row:first-child {
    margin-top: 4px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > .table .rows .row:first-child {
        margin-top: 8px
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > .table .rows .row:first-child {
        margin-top: 6px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .row:first-child {
        margin-top: 0
    }
}

.project-page .section-text .contents > .table .rows .row > * {
    flex-grow: 1;
    flex-basis: 0%
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .row > * {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-basis: initial;
        flex-grow: initial
    }

    .project-page .section-text .contents > .table .rows .row > * + * {
        margin-top: 8px
    }
}

.project-page .section-text .contents > .table .rows .row .title {
    display: none;
    color: #646464;
    min-width: 120px;
    box-sizing: border-box;
    padding-right: 12px
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .row .title {
        display: block;
        width: 135px
    }
}

.project-page .section-text .contents > .table .rows .row .value {
    padding-right: 16px;
    box-sizing: border-box
}

.project-page .section-text .contents > .table .rows .row .value.hidden {
    display: none
}

@media (max-width: 600px) {
    .project-page .section-text .contents > .table .rows .row .value {
        padding-right: 0
    }

    .project-page .section-text .contents > .table .rows .row .value.hidden {
        display: block
    }
}

.project-page .section-text .contents > h2 {
    font-size: 32px;
    line-height: 40px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > h2 {
        font-size: 24px;
        line-height: 32px
    }
}

.project-page .section-text .contents > * + h2, .project-page .section-text .contents > .image + h2, .project-page .section-text .contents > .slider + h2, .project-page .section-text .contents > .table + h2, .project-page .section-text .contents > .video + h2, .project-page .section-text .contents > ol + h2, .project-page .section-text .contents > ul + h2 {
    margin-top: 72px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > * + h2, .project-page .section-text .contents > .image + h2, .project-page .section-text .contents > .slider + h2, .project-page .section-text .contents > .table + h2, .project-page .section-text .contents > .video + h2, .project-page .section-text .contents > ol + h2, .project-page .section-text .contents > ul + h2 {
        margin-top: 48px
    }
}

@media (max-width: 900px) {
    .project-page .section-text .contents > * + h2, .project-page .section-text .contents > .image + h2, .project-page .section-text .contents > .slider + h2, .project-page .section-text .contents > .table + h2, .project-page .section-text .contents > .video + h2, .project-page .section-text .contents > ol + h2, .project-page .section-text .contents > ul + h2 {
        margin-top: 40px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > * + h2, .project-page .section-text .contents > .image + h2, .project-page .section-text .contents > .slider + h2, .project-page .section-text .contents > .table + h2, .project-page .section-text .contents > .video + h2, .project-page .section-text .contents > ol + h2, .project-page .section-text .contents > ul + h2 {
        margin-top: 32px
    }
}

.project-page .section-text .contents > h2 + * {
    margin-top: 24px
}

@media (max-width: 1280px) {
    .project-page .section-text .contents > h2 + * {
        margin-top: 12px
    }
}

@media (max-width: 600px) {
    .project-page .section-text .contents > h2 + * {
        margin-top: 8px
    }
}

.project-page .section-text .aside {
    position: sticky;
    top: 120px
}

@media (max-width: 1280px) {
    .project-page .section-text .aside {
        display: none
    }
}

.project-page .section-text .aside .caption {
    font-size: 24px;
    line-height: 32px
}

@media (max-height: 570px) {
    .project-page .section-text .aside .caption {
        display: none
    }
}

.project-page .section-text .aside .list {
    margin-top: 24px
}

@media (max-height: 570px) {
    .project-page .section-text .aside .list {
        display: none
    }
}

.project-page .section-text .aside .list > * {
    display: block
}

@media (max-height: 990px) {
    .project-page .section-text .aside .list > *:nth-child(4) {
        display: none
    }
}

@media (max-height: 850px) {
    .project-page .section-text .aside .list > *:nth-child(3) {
        display: none
    }
}

@media (max-height: 710px) {
    .project-page .section-text .aside .list > *:nth-child(2) {
        display: none
    }
}

.project-page .section-text .aside .list > * + * {
    margin-top: 24px
}

.project-page .section-text .aside .list .image {
    width: 118px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.project-page .section-text .aside .list .title {
    font-size: 18px;
    line-height: 26px;
    color: #000;
    margin-top: 8px;
    max-width: 320px
}

.project-page .section-text .aside .list .title > * {
    display: inline
}

.project-page .section-text .aside .list > *:hover .title > * {
    color: #1069BB;
    border-bottom-color: rgba(16, 105, 187, 0)
}

.project-page .section-text .aside .show-collections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    height: 74px;
    margin-top: 72px;
    background: rgba(196, 196, 196, .2)
}

@media (max-height: 570px) {
    .project-page .section-text .aside .show-collections {
        margin-top: 0
    }
}

.project-page .section-text .aside .show-collections, .project-page .section-text .aside .show-collections * {
    cursor: pointer
}

.project-page .section-text .aside .show-collections:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(/assets/img/bricks.svg) no-repeat center center/contain;
    margin-right: 16px
}

.project-page .section-text .aside .show-shops {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 72px;
    padding-left: 30px;
    transition: color 200ms ease;
    will-change: color
}

.project-page .section-text .aside .show-shops, .project-page .section-text .aside .show-shops * {
    cursor: pointer
}

.project-page .section-text .aside .show-shops:hover {
    color: #1069BB
}

.project-page .section-text .aside .show-shops:before, .project-page .section-text .aside .show-shops:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    width: 22px;
    height: 30px;
    background: url(/assets/img/marker-dark.svg) no-repeat center center/contain;
    z-index: 0
}

.project-page .section-text .aside .show-shops:after {
    background: url(/assets/img/marker-dark-hover.svg) no-repeat center center/contain;
    z-index: 1;
    opacity: 0;
    transition: opacity 200ms ease;
    will-change: opacity
}

.project-page .section-text .aside .show-shops:hover:after {
    opacity: 1
}

.project-page .section-bottom {
    margin-top: 48px;
    padding-bottom: 120px
}

@media (max-width: 1700px) {
    .project-page .section-bottom {
        padding-bottom: 100px
    }
}

@media (max-width: 1280px) {
    .project-page .section-bottom {
        padding-bottom: 64px
    }
}

@media (max-width: 900px) {
    .project-page .section-bottom {
        margin-top: 40px;
        padding-bottom: 56px
    }
}

@media (max-width: 600px) {
    .project-page .section-bottom {
        margin-top: 32px;
        padding-bottom: 48px
    }
}

.project-page .section-bottom .share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 22px;
    color: #646464
}

.project-page .section-bottom .share:before {
    content: 'Поделиться: ';
    display: block;
    margin-right: 8px
}

.project-page .section-bottom .share > * {
    color: transparent
}

.project-page .section-bottom .share .ya-share2__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.project-page .section-bottom .share .ya-share2__item {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
    transition: opacity 200ms ease;
    will-change: opacity
}

.project-page .section-bottom .share .ya-share2__item:hover {
    opacity: .8
}

.project-page .section-bottom .share .ya-share2__item, .project-page .section-bottom .share .ya-share2__item * {
    cursor: pointer
}

.project-page .section-bottom .share * + .ya-share2__item {
    margin-left: 8px
}

.project-page .section-bottom .share .ya-share2__item_service_twitter {
    background: url(/assets/img/twitter.svg) no-repeat center center/16px auto, #43D2FF
}

.project-page .section-bottom .share .ya-share2__item_service_facebook {
    background: url(/assets/img/facebook.svg) no-repeat center center/9px auto, #004B8F
}

.project-page .section-bottom .share .ya-share2__item_service_telegram {
    background: url(/assets/img/telegram.svg) no-repeat center center/16px auto, #61A8DE
}

.project-page .section-bottom .share .ya-share2__item_service_vkontakte {
    background: url(/assets/img/vkontakte.svg) no-repeat center center/17px auto, #2384DE
}

.project-page .section-bottom .show-collections {
    margin-top: 56px
}

.project-page .section-bottom .show-collections > * {
    display: block;
    max-width: 265px;
    background: #E2E2E2;
    border: none;
    color: #000
}

.project-page .section-bottom .show-collections > *:hover {
    background: #c4c4c4
}