.start-page .section-collections {
    padding-top: 25px;
    overflow: hidden;
    padding-bottom: 60px;
    margin-bottom: -60px;
    z-index: 1
}

@media (max-width: 1700px) {
    .start-page .section-collections {
        padding-top: 60px
    }
}

@media (max-width: 1280px) {
    .start-page .section-collections {
        padding-top: 35px
    }
}

@media (max-width: 600px) {
    .start-page .section-collections {
        padding-top: 15px;
        padding-bottom: 60px;
        margin-bottom: -60px
    }
}

.start-page .section-collections .section-inner > * {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    -webkit-transition: -webkit-transform 4000ms ease-out;
    -moz-transition: -moz-transform 4000ms ease-out;
    -ms-transition: -ms-transform 4000ms ease-out;
    transition: transform 4000ms ease-out;
    will-change: transform
}

.start-page .section-collections .section-inner > *:nth-child(3) {
    justify-content: flex-end
}

.start-page .section-collections .section-inner > *.appeared {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none
}

.start-page .section-collections .section-inner > * + * {
    margin-top: 25px
}

@media (max-width: 980px) {
    .start-page .section-collections .section-inner > * + * {
        margin-top: 20px
    }
}

@media (max-width: 600px) {
    .start-page .section-collections .section-inner > * + * {
        margin-top: 15px
    }
}

.start-page .section-collections .section-inner > * > * {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start
}

.start-page .section-collections .plate-level {
    height: 70px
}

@media (max-width: 600px) {
    .start-page .section-collections .plate-level {
        height: 40px
    }
}

.start-page .section-collections .big-plate-level {
    height: 96px
}

@media (max-width: 600px) {
    .start-page .section-collections .big-plate-level {
        height: 55px
    }
}

.start-page .section-collections .tile-level {
    height: 12vw
}

@media (max-width: 1700px) {
    .start-page .section-collections .tile-level {
        height: 14vw
    }
}

@media (max-width: 1280px) {
    .start-page .section-collections .tile-level {
        height: 21vw
    }
}

@media (max-width: 600px) {
    .start-page .section-collections .tile-level {
        height: 33vw
    }
}

.start-page .section-collections .section-inner > * > * > * {
    position: relative;
    width: 25vw;
    flex-shrink: 0
}

@media (max-width: 1700px) {
    .start-page .section-collections .section-inner > * > * > * {
        width: 30vw
    }
}

@media (max-width: 1280px) {
    .start-page .section-collections .section-inner > * > * > * {
        width: 42vw
    }
}

@media (max-width: 980px) {
    .start-page .section-collections .section-inner > * > * > * {
        width: 38vw
    }
}

@media (max-width: 600px) {
    .start-page .section-collections .section-inner > * > * > * {
        width: 48vw
    }
}

.start-page .section-collections .section-inner > * > * > * + * {
    margin-left: 25px
}

.start-page .section-collections .section-inner .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    background-position: center center
}

.start-page .section-collections .section-inner > * > * > *:hover .inner {
    opacity: .75
}

.start-page .section-collections .section-inner .info {
    position: absolute;
    background: #fff;
    top: calc(100% - 10px);
    left: 50%;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    padding: 15px;
    z-index: 1;
    pointer-events: none;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity;
    opacity: 0
}

.start-page .section-collections .section-inner > * > * > *:hover .info {
    opacity: 1
}

.start-page .section-collections .section-inner .info:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg)
}

.start-page .section-collections .section-inner .info > * {
    position: relative;
    z-index: 1
}

.start-page .section-collections .section-inner .info .title {
    font-size: 24px;
    line-height: 1em;
    white-space: nowrap
}

.start-page .section-collections .section-inner .info .sub {
    font-size: 14px;
    line-height: 1em;
    margin-top: 5px;
    white-space: nowrap;
    color: #969696
}

.start-page .section-collections .tile-level > * > * {
    width: 12vw
}

@media (max-width: 1700px) {
    .start-page .section-collections .tile-level > * > * {
        width: 14vw
    }
}

@media (max-width: 1280px) {
    .start-page .section-collections .tile-level > * > * {
        width: 21vw
    }
}

@media (max-width: 600px) {
    .start-page .section-collections .tile-level > * > * {
        width: 33vw
    }
}

.start-page .section-collections .big-plate-level > * > * {
    width: 34vw
}

@media (max-width: 1700px) {
    .start-page .section-collections .big-plate-level > * > * {
        width: 41vw
    }
}

@media (max-width: 1280px) {
    .start-page .section-collections .big-plate-level > * > * {
        width: 58vw
    }
}

@media (max-width: 980px) {
    .start-page .section-collections .big-plate-level > * > * {
        width: 52vw
    }
}

@media (max-width: 600px) {
    .start-page .section-collections .big-plate-level > * > * {
        width: 66vw
    }
}

.start-page .section-fast-links {
    margin-top: 56px;
    padding-bottom: 56px;
    border-bottom: 1px solid #dbdbdb
}

@media (max-width: 980px) {
    .start-page .section-fast-links {
        margin-top: 40px;
        padding-bottom: 40px
    }
}

.start-page .section-fast-links .inner {
    font-size: 24px;
    line-height: 24px
}

@media (max-width: 980px) {
    .start-page .section-fast-links .inner {
        font-size: 18px;
        line-height: 24px
    }
}

.start-page .section-fast-links .inner > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -24px
}

.start-page .section-fast-links .inner > * + * {
    margin-top: 32px
}

@media (max-width: 980px) {
    .start-page .section-fast-links .inner > * + * {
        margin-top: 40px
    }
}

.start-page .section-fast-links .inner > * > * {
    display: block;
    margin-bottom: 24px
}

.start-page .section-fast-links .inner .icon {
    width: auto;
    height: 38px;
    margin-right: 25px
}

@media (max-width: 980px) {
    .start-page .section-fast-links .inner .icon {
        margin-right: 30px
    }
}

.start-page .section-fast-links .inner .link {
    margin-right: 48px;
    transition: color 200ms ease;
    will-change: color
}

@media (max-width: 980px) {
    .start-page .section-fast-links .inner .link {
        margin-right: 30px
    }
}

.start-page .section-fast-links .inner .link:hover {
    color: #1069BB
}

.start-page .section-about {
    overflow: hidden
}

.start-page .section-about .header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 40px
}

@media (max-width: 1280px) {
    .start-page .section-about .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding-top: 56px;
        padding-bottom: 60px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .header {
        padding-top: 35px;
        padding-bottom: 35px
    }
}

.start-page .section-about .header .caption {
    font-size: 120px;
    line-height: 1em;
    height: 1em;
    white-space: nowrap;
    font-family: Roboto
}

@media (max-width: 1280px) {
    .start-page .section-about .header .caption {
        font-size: 100px;
        line-height: 1em;
        height: 1em
    }
}

@media (max-width: 600px) {
    .start-page .section-about .header .caption {
        font-size: 48px;
        line-height: 1em;
        height: 1em
    }
}

.start-page .section-about .header .text {
    font-size: 43px;
    line-height: 1.25em;
    max-width: 700px;
    position: relative;
    left: 20px;
    top: -6px;
    padding-right: 180px
}

@media (max-width: 1700px) {
    .start-page .section-about .header .text {
        padding-right: 0
    }
}

@media (max-width: 1280px) {
    .start-page .section-about .header .text {
        left: 0;
        top: 0;
        font-size: 32px;
        line-height: 40px;
        margin-top: 10px;
        max-width: 680px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .header .text {
        font-size: 24px;
        line-height: 32px;
        margin-top: 5px;
        max-width: 500px
    }
}

.start-page .section-about .image {
    position: relative;
    height: 690px;
    color: #fff;
    max-width: 1500px;
    margin: 0 auto
}

@media (max-width: 1700px) {
    .start-page .section-about .image {
        height: 690px
    }
}

@media (max-width: 1280px) {
    .start-page .section-about .image {
        height: 490px
    }
}

@media (max-width: 980px) {
    .start-page .section-about .image {
        height: 490px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image {
        height: auto;
        min-height: 200px
    }
}

.start-page .section-about .image > * {
    position: relative;
    z-index: 1
}

.start-page .section-about .image .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0
}

@media (max-width: 600px) {
    .start-page .section-about .image .slider {
        position: relative;
        height: auto
    }
}

.start-page .section-about .image .swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 60px
}

@media (min-width: 1701px) {
    .start-page .section-about .image .swiper-slide {
        padding-left: 120px;
        padding-right: 120px
    }
}

@media (max-width: 1280px) {
    .start-page .section-about .image .swiper-slide {
        padding-bottom: 50px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image .swiper-slide {
        padding-bottom: 0
    }
}

.start-page .section-about .image .swiper-slide > * {
    position: relative;
    z-index: 2
}

.start-page .section-about .image .swiper-slide .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover
}

@media (max-width: 600px) {
    .start-page .section-about .image .swiper-slide .img {
        position: relative;
        width: calc(100% + 40px);
        left: -20px;
        height: 54vw
    }
}

.start-page .section-about .image .swiper-slide .img:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 56.09%);
    z-index: 1
}

.start-page .section-about .image .info {
    font-size: 24px;
    line-height: 1.25em;
    max-width: 360px
}

@media (max-width: 600px) {
    .start-page .section-about .image .info {
        color: #000;
        padding-top: 50px
    }
}

.start-page .section-about .image .info .title {
    font-size: 32px
}

@media (max-width: 600px) {
    .start-page .section-about .image .info .title {
        font-size: 24px;
        line-height: 32px
    }
}

.start-page .section-about .image .info .text {
    margin-top: 10px
}

@media (max-width: 980px) {
    .start-page .section-about .image .info .text {
        font-size: 18px;
        line-height: 24px;
        max-width: 350px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image .info .text {
        font-size: 16px;
        line-height: 1.25em;
        margin-top: 5px
    }
}

.start-page .section-about .image .caption {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 16px;
    line-height: 1em;
    height: 1em;
    -webkit-transform: translate(-50%, -100%) rotate(-90deg);
    -moz-transform: translate(-50%, -100%) rotate(-90deg);
    -ms-transform: translate(-50%, -100%) rotate(-90deg);
    transform: translate(-50%, -100%) rotate(-90deg)
}

@media (max-width: 1280px) {
    .start-page .section-about .image .caption {
        left: 20px;
        top: 30px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image .caption {
        display: none;
        /*top: calc(54vw - 15px);
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%)*/
    }
}

.start-page .section-about .image .prev, .start-page .section-about .image .next {
    position: absolute;
    right: 40px;
    width: 44px;
    height: 75px;
    cursor: pointer;
    opacity: .6;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.start-page .section-about .image .prev:hover, .start-page .section-about .image .next:hover {
    opacity: 1
}

@media (max-width: 1280px) {
    .start-page .section-about .image .prev, .start-page .section-about .image .next {
        right: 15px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image .prev, .start-page .section-about .image .next {
        display: none
    }
}

.start-page .section-about .image .prev.hidden, .start-page .section-about .image .next.hidden {
    opacity: 0;
    pointer-events: none
}

.start-page .section-about .image .prev {
    top: 30px
}

.start-page .section-about .image .next {
    bottom: 30px
}

.start-page .section-about .image .prev:before, .start-page .section-about .image .next:before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 100%;
    left: calc(50% - 12px);
    background: url(/assets/img/down.svg) no-repeat center bottom/24px auto
}

.start-page .section-about .image .next:before {
    top: 0
}

.start-page .section-about .image .prev:before {
    bottom: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.start-page .section-about .image .nav {
    position: absolute;
    top: 50%;
    right: 55px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

@media (max-width: 1280px) {
    .start-page .section-about .image .nav {
        right: 30px
    }
}

@media (max-width: 600px) {
    .start-page .section-about .image .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        right: 0;
        top: calc(54vw + 10px);
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.start-page .section-about .image .nav > * {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background: rgba(16, 105, 187, 0);
    -webkit-transition: background 200ms ease, border-color 200ms ease;
    -moz-transition: background 200ms ease, border-color 200ms ease;
    -ms-transition: background 200ms ease, border-color 200ms ease;
    transition: background 200ms ease, border-color 200ms ease;
    will-change: background;
    cursor: pointer
}

@media (max-width: 600px) {
    .start-page .section-about .image .nav > * {
        width: 8px;
        height: 8px;
        border: 1px solid #979797
    }
}

.start-page .section-about .image .nav > *.active {
    background: #1069BB
}

.start-page .section-about .image .nav > *:hover {
    border-color: #1069BB
}

.start-page .section-about .image .nav > *.active:hover {
    border-color: #fff
}

@media (max-width: 600px) {
    .start-page .section-about .image .nav > *.active:hover {
        border-color: #979797
    }
}

.start-page .section-about .image .nav > * + * {
    margin-top: 20px
}

@media (max-width: 600px) {
    .start-page .section-about .image .nav > * + * {
        margin-top: 0;
        margin-left: 7px
    }
}

.start-page .section-facts .top {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 48px;
    line-height: 1.25em;
    overflow: hidden
}

.start-page .section-facts .top .slider {
    position: relative;
    z-index: 0;
    width: 800px;
    overflow: visible
}

@media (max-width: 980px) {
    .start-page .section-facts .top .slider {
        width: 49%
    }
}

@media (max-width: 600px) {
    .start-page .section-facts .top .slider {
        width: 109%
    }
}

.start-page .section-facts .top .slider .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 0;
    text-align: center
}

@media (max-width: 1280px) {
    .start-page .section-facts .top .slider .swiper-slide {
        padding: 50px 0 35px
    }
}

@media (max-width: 980px) {
    .start-page .section-facts .top .slider .swiper-slide {
        padding: 40px 0 30px
    }
}

.start-page .section-facts .top .slider .swiper-slide .icon {
    align-self: stretch;
    height: 70px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center top;
    opacity: 0;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 1280px) {
    .start-page .section-facts .top .slider .swiper-slide .icon {
        height: 60px
    }
}

.start-page .section-facts .top .slider .swiper-slide-active .icon {
    opacity: 1
}

.start-page .section-facts .top .slider .swiper-slide .text {
    margin-top: 35px;
    color: #969696;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    transition: color 200ms ease;
    will-change: color
}

@media (max-width: 1280px) {
    .start-page .section-facts .top .slider .swiper-slide .text {
        margin-top: 25px;
        opacity: 0
    }

    .start-page .section-facts .top .slider .swiper-slide.swiper-slide-active .text {
        margin-top: 25px;
        opacity: 1
    }
}

@media (max-width: 980px) {
    .start-page .section-facts .top .slider .swiper-slide .text {
        font-size: 32px;
        line-height: 40px
    }
}

@media (max-width: 600px) {
    .start-page .section-facts .top .slider .swiper-slide .text {
        max-width: 280px
    }
}

.start-page .section-facts .top .slider .swiper-slide-active .text {
    color: #000
}

.start-page .section-facts .top .prev, .start-page .section-facts .top .next {
    position: absolute;
    top: 100px;
    width: 75px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
    opacity: .6;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.start-page .section-facts .top .prev:hover, .start-page .section-facts .top .next:hover {
    opacity: 1
}

@media (max-width: 1280px) {
    .start-page .section-facts .top .prev, .start-page .section-facts .top .next {
        top: 85px
    }
}

@media (max-width: 980px) {
    .start-page .section-facts .top .prev, .start-page .section-facts .top .next {
        top: 60px
    }
}

@media (max-width: 600px) {
    .start-page .section-facts .top .prev, .start-page .section-facts .top .next {
        height: 16px
    }
}

.start-page .section-facts .top .prev {
    left: 60px
}

@media (max-width: 980px) {
    .start-page .section-facts .top .prev {
        left: 20px
    }
}

.start-page .section-facts .top .next {
    right: 60px
}

@media (max-width: 980px) {
    .start-page .section-facts .top .next {
        right: 20px
    }
}

.start-page .section-facts .top .prev:before, .start-page .section-facts .top .next:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/next.svg) no-repeat right center/auto 100%
}

.start-page .section-facts .top .prev:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.start-page .section-facts .bottom {
    background: #f1f1f1
}

.start-page .section-facts .bottom .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 55px;
    padding-bottom: 25px
}

@media (max-width: 600px) {
    .start-page .section-facts .bottom .swiper-slide {
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 15px
    }
}

.start-page .section-facts .bottom .swiper-slide > * {
    position: relative;
    width: 33.33%;
    margin-bottom: 35px;
    padding-right: 30px;
    padding-left: 35px;
    box-sizing: border-box
}

.start-page .section-facts .bottom .swiper-slide > *:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 26px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: #1069BB
}

@media (max-width: 1280px) {
    .start-page .section-facts .bottom .swiper-slide > * {
        box-sizing: border-box;
        padding-right: 60px
    }
}

@media (max-width: 980px) {
    .start-page .section-facts .bottom .swiper-slide > * {
        width: 50%;
        padding-right: 80px
    }
}

@media (max-width: 600px) {
    .start-page .section-facts .bottom .swiper-slide > * {
        width: 100%;
        margin-bottom: 30px;
        padding-right: 0;
        padding-left: 25px
    }
}

.start-page .section-facts .bottom .number {
    font-size: 48px;
    line-height: 1em;
    height: 1em;
    color: #1069BB
}

.start-page .section-facts .bottom .text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px
}

.start-page .section-unique {
    padding-top: 95px;
    padding-bottom: 80px;
    overflow: hidden
}

@media (max-width: 1280px) {
    .start-page .section-unique {
        padding-top: 65px;
        padding-bottom: 65px
    }
}

@media (max-width: 600px) {
    .start-page .section-unique {
        padding-top: 45px;
        padding-bottom: 45px
    }
}

.start-page .section-unique .header {
    font-size: 48px;
    line-height: 56px
}

@media (max-width: 980px) {
    .start-page .section-unique .header {
        font-size: 32px;
        line-height: 40px
    }
}

.start-page .section-unique .text {
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
    max-width: 620px
}

@media (max-width: 1280px) {
    .start-page .section-unique .text {
        font-size: 18px;
        line-height: 24px;
        margin-top: 5px;
        max-width: 720px
    }
}

.start-page .section-unique .images {
    position: relative
}

@media (max-width: 600px) {
    .start-page .section-unique .images {
        width: calc(100% + 40px);
        left: -20px
    }
}

.start-page .section-unique .images .slide-to {
    position: absolute;
    top: 60px;
    width: 90px;
    height: calc(100% - 170px);
    z-index: 1;
    opacity: .8;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

@media (max-width: 600px) {
    .start-page .section-unique .images .slide-to {
        display: none
    }
}

.start-page .section-unique .images .slide-to:hover {
    opacity: 1
}

.start-page .section-unique .images .slide-to, .start-page .section-unique .images .slide-to * {
    cursor: pointer
}

.start-page .section-unique .images .slide-to.prev {
    left: 30px
}

.start-page .section-unique .images .slide-to.next {
    right: 0
}

.start-page .section-unique .images .slide-to:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/collections/next.svg) no-repeat center center/56px auto
}

.start-page .section-unique .images .slide-to.prev:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.start-page .section-unique .images .slider {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 0
}

.start-page .section-unique .images > * > * {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start
}

.start-page .section-unique .images .swiper-slide {
    position: relative;
    padding-left: 30px;
    box-sizing: border-box;
    margin-top: 60px
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide {
        margin-top: 15px;
        padding-left: 25px
    }
}

@media (max-width: 600px) {
    .start-page .section-unique .images .swiper-slide {
        margin-top: 25px;
        padding-left: 0
    }
}

.start-page .section-unique .images .swiper-slide .img {
    position: relative;
    height: 520px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide .img {
        height: 46vw
    }
}

@media (max-width: 980px) {
    .start-page .section-unique .images .swiper-slide .img {
        height: 52vw
    }
}

@media (max-width: 600px) {
    .start-page .section-unique .images .swiper-slide .img {
        height: 54vw
    }
}

.start-page .section-unique .images .swiper-slide .img .aside {
    position: absolute;
    color: #969696;
    top: 100%;
    left: -15px;
    font-size: 16px;
    line-height: 1em;
    height: 1em;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: translate(0, -100%) rotate(-90deg);
    -moz-transform: translate(0, -100%) rotate(-90deg);
    -ms-transform: translate(0, -100%) rotate(-90deg);
    transform: translate(0, -100%) rotate(-90deg)
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide .img .aside {
        left: -10px
    }
}

@media (max-width: 600px) {
    .start-page .section-unique .images .swiper-slide .img .aside {
        display: none;
/*        position: absolute;
        width: 100%;
        top: calc(54vw - 15px);
        color: #000;
        left: 0;
        font-size: 16px;
        line-height: 1.26em;
        height: auto;
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%);
        box-sizing: border-box;
        padding: 0 20px*/
    }
}

.start-page .section-unique .images .swiper-slide .info {
    margin-top: 35px
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide .info {
        margin-top: 20px
    }
}

@media (max-width: 600px) {
    .start-page .section-unique .images .swiper-slide .info {
        padding: 0 20px;
        box-sizing: border-box
    }
}

.start-page .section-unique .images .swiper-slide .info .caption {
    font-size: 32px;
    line-height: 40px
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide .info .caption {
        font-size: 24px;
        line-height: 32px
    }
}

.start-page .section-unique .images .swiper-slide .info .count {
    font-size: 24px;
    line-height: 32px;
    margin-top: 5px
}

@media (max-width: 1280px) {
    .start-page .section-unique .images .swiper-slide .info .count {
        font-size: 18px;
        line-height: 24px;
        margin-top: 0
    }
}




.start-page .section-projects{
    padding: 80px 0;
    border-bottom: 1px solid #d6d6d6;
    overflow: hidden;
    max-width: 100vw;
}

@media (max-width: 1280px) {

.start-page .section-projects{
    padding: 60px 0;
}

}

@media (max-width: 600px) {

.start-page .section-projects{
    padding: 60px 0 30px;
}

}

.start-page .section-projects .section-inner{
    overflow: visible;
}

.start-page .section-projects .header{
    font-size: 48px;
    line-height: 56px;
}

@media (max-width: 1280px) {

.start-page .section-projects .header{
    font-size: 32px;
    line-height: 40px
}

}

.start-page .section-projects .list{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
}

@media (max-width: 600px) {

.start-page .section-projects .list{
    margin-top: 80px;
}

}

    .start-page .section-projects .list .slide-to{
        display: flex;
        position: absolute;
        right: 0;
        top: -72px;
    }

@media (max-width: 600px) {

    .start-page .section-projects .list .slide-to{
        right: initial;
        left: 0;
    }

}

        .start-page .section-projects .list .slide-to>*{
            position: relative;
            width: 56px;
            height: 56px;
            opacity: .3;
            -webkit-transition: opacity 200ms ease;
            -moz-transition: opacity 200ms ease;
            -ms-transition: opacity 200ms ease;
            transition: opacity 200ms ease;
            will-change: opacity;
            z-index: 1;
            cursor: pointer
        }
        
        .start-page .section-projects .list .slide-to>*+*{
            margin-left: 16px;
        }

        .start-page .section-projects .list .slide-to>*:hover{
            opacity: 1
        }

        .start-page .section-projects .list .slide-to>*.hidden{
            pointer-events: none;
            opacity: .3
        }

        .start-page .section-projects .list .slide-to .prev{
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg)
        }

            .start-page .section-projects .list .slide-to>*:before,
            .start-page .section-projects .list .slide-to>*:after{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(/assets/img/rounded-next.svg) no-repeat center center/contain;
                opacity: 1;
                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                -ms-transition: opacity 200ms ease;
                transition: opacity 200ms ease;
                will-change: opacity
            }

            .start-page .section-projects .list .slide-to>*:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .start-page .section-projects .list .slide-to>*.hidden:before{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 0
            }

            .start-page .section-projects .list .slide-to>*.hidden:after{
                background: url(/assets/img/rounded-next-gray.svg) no-repeat center center/contain;
                opacity: 1
            }

    .start-page .section-projects .list .slides{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: visible;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
    }

        .start-page .section-projects .list .slides>*{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: visible;
        }

            .start-page .section-projects .list .slides>*>*{}

                .start-page .section-projects .list .slides .image{
                    position: relative;
                    background: url(/assets/project-samples/default.svg) no-repeat center center/92px auto, #E6E6E6;
                }

                    .start-page .section-projects .list .slides .image:before{
                        content: '';
                        display: block;
                        position: relative;
                        width: 100%;
                        padding-bottom: 67%;
                        pointer-events: none;
                    }

                        .start-page .section-projects .list .slides .image>*{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                .start-page .section-projects .list .slides .title{
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 16px;
                }

            @media (max-width: 600px) {

                .start-page .section-projects .list .slides .title{
                    font-size: 18px;
                    line-height: 26px;
                }

            }

