.href {
    display: inline-block;
    position: relative;
    color: #000;
    border-bottom: 1px solid rgba(16, 105, 187, .4);
    -webkit-transition: color 200ms ease, border-color 200ms ease;
    -moz-transition: color 200ms ease, border-color 200ms ease;
    -ms-transition: color 200ms ease, border-color 200ms ease;
    transition: color 200ms ease, border-color 200ms ease;
    will-change: color, border-color
}

.href-wrapper:hover .href, .href:hover, .href-wrapper.hover .href, .href.hover, .href-wrapper.active .href, .href.active, .href-wrapper.forced-active .href, .href.forced-active {
    color: #1069BB
}

.href-wrapper:active .href, .href:active, .href-wrapper.active .href, .href.active, .href-wrapper.forced-active .href, .href.forced-active {
    border-bottom: 1px solid rgba(16, 105, 187, 0)
}

.page-footer .href.forced-active {
    border-bottom: none
}

.href, .href * {
    cursor: pointer
}

.button {
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #004A8F;
    background: #004A8F;
    border-radius: 26px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    padding: 0 25px;
    white-space: nowrap;
    -webkit-transition: border-color 200ms ease, background 200ms ease, color 200ms ease;
    -moz-transition: border-color 200ms ease, background 200ms ease, color 200ms ease;
    -ms-transition: border-color 200ms ease, background 200ms ease, color 200ms ease;
    transition: border-color 200ms ease, background 200ms ease, color 200ms ease;
    will-change: border-color, background, color
}

.button:hover {
    border: 1px solid #1069BB;
    background: #1069BB
}

.button.transparent {
    border: 1px solid #1069BB;
    background: rgba(0, 74, 143, 0);
    color: #004A8F
}

.button.transparent:hover {
    border: 1px solid #1069BB;
    background: #1069BB;
    color: #fff
}

.search-input {
    position: relative;
    height: 50px;
    border: 1px solid #c4c4c4;
    -webkit-transition: border-color 200ms ease;
    -moz-transition: border-color 200ms ease;
    -ms-transition: border-color 200ms ease;
    transition: border-color 200ms ease;
    will-change: border-color
}

.search-input.focus {
    border-color: #1069BB
}

.search-input, .search-input * {
    cursor: text
}

.search-input input {
    position: absolute;
    width: calc(100% - 62px);
    left: 15px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    top: 1px;
    z-index: 0
}

.search-input > div {
    display: block;
    position: absolute;
    top: 8px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: url(/assets/img/search.svg) no-repeat center center/contain;
    z-index: 1;
    cursor: pointer
}

.search-input > div:before, .search-input > div:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    will-change: opacity
}

.search-input > div:before {
    background: url(/assets/img/search.svg) no-repeat center center/contain;
    opacity: 1
}

.search-input > div:hover:before {
    opacity: 0
}

.search-input > div:after {
    background: url(/assets/img/search-ligth.svg) no-repeat center center/contain;
    opacity: 0
}

.search-input > div:hover:after {
    opacity: 1
}