{% for article in articles %}
    <div><a href="{{ path('article', {'slug': article.slug}) }}">
            {#<div class="image"
                 style="background-image: url({{ asset('uploads/article_preview/' ~ article.imageFileName) }});"></div>#}
            <img src="{{ ('uploads/article_preview/' ~ article.imageFileName)  | imagine_filter('blog_preview') }}" alt="{{ article.title }}" class="image">
            <div class="info">
                <div class="title">{{ article.title }}</div>
                <div class="review">{{ article.previewText }}</div>
                <div class="time">{{ article.timeOfReading }}</div>
            </div>
        </a></div>
{% endfor %}
