{% if firstArticle %}
    <div class="preamble">
        <a class="aside" href="{{ path('article', {'slug': firstArticle.slug}) }}">
            <div>
                <div class="caption">{{ firstArticle.title }}</div>
                <div class="text">{{ firstArticle.previewText }}</div>
            </div>
        </a>
        {#<div class="image"
             style="background-image: url({{ asset('uploads/article_preview/' ~ firstArticle.imageFileName) }});"></div>#}
        <img class="image"
             src="{{ ('uploads/article_preview/' ~ firstArticle.imageFileName) | imagine_filter('blog_preview_first') }}" alt="{{ firstArticle.title }}">
    </div>
{% endif %}

<div class="list">
    {{ include('_articles_list.html.twig') }}
</div>