<section class="page-section section-nav">
    <div class="section-inner content-block">

        <nav class="nav"><a href="{{ path('blog') }}">Статьи</a><span>{{ article.title }}</span></nav>

    </div>
</section>

<style>
    .article-page .section-text .contents > *.slider .slides > * > * > * {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left center;
        object-position: left center;
    }

    .article-page .section-header .header {
        max-width: 760px;
    }

    @media (max-width: 900px) {

        .article-page .section-header .header {
            max-width: 580px;
        }

    }


</style>

<section class="page-section section-header">
    <div class="section-inner content-block">
        <div class="nav"><a href="{{ path('article', {'slug': prevArticle.slug}) }}">Предыдущая
                статья</a><a href="{{ path('article', {'slug': nextArticle.slug}) }}">Следующая
                статья</a></div>

        <h1 class="header">{{ article.title }}</h1>

        <div class="text">{{ article.previewText }}</div>
        <div class="info">
            <div class="time">{{ article.timeOfReading }}</div>
            <div class="share">
                <div class="ya-share2" id="ya-share2" data-services="twitter,facebook,telegram,vkontakte" data-bare
                     data-title="{{ article.title }}"
                     data-image="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ asset('uploads/article_preview/' ~ article.imageFileName) }}"></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section section-text">
    <div class="section-inner content-block">
        <div class="contents">
            {{ article.text | raw }}
            </div>
        <div class="aside">
            {% if articles|length > 0 %}

                <div class="caption">Статьи по теме:</div>
                <div class="list">
                    {% for item in articles %}
                        <a href="{{ path('article', {'slug': item.slug}) }}" class="href-wrapper">
                            <img class="image lazyload" data-src="{{ asset(('uploads/article_preview/' ~ item.imageFileName) | imagine_filter('article_preview') ) }}"
                                 alt="{{ item.title }}">
                            {#<div class="image"
                                 style="background-image: url({{ asset('uploads/article_preview/' ~ item.imageFileName) }});"></div>#}
                            <div class="title"><span class="href">{{ item.title }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <a href="#"
               class="show-collections href-wrapper collections-link">
                <div class="href">Все коллекции</div>
            </a>
            <a href="/contacts/" class="show-shops">Точки
                продажи Art Vinyl</a>
        </div>
    </div>
</section>
<div class="" style="display: none">
    {{ article.text | raw }}
</div>

<section class="page-section section-bottom">
    <div class="section-inner content-block">

        <div class="share">
            <div class="ya-share2" data-services="twitter,facebook,telegram,vkontakte" data-bare></div>
        </div>

        <div class="show-collections collections-link"><a href="#"
                                                          class="button">Посмотреть коллекции</a></div>

    </div>
</section>