<!DOCTYPE html>{% set version = "1.1-dev" %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    {% block meta %}
        <title>{{ metatitle }}</title>
        {% if metakeys %}
            <meta name="keywords" content="{{ metakeys }}">
        {% endif %}
        {% if metadesc %}
            <meta name="description" content="{{ metadesc }}">
        {% endif %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/fav.png') }}"/>

    <link rel="stylesheet" href="{{ asset('assets/css/basics.css') }}?version={{ version }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/uikit.css') }}?version={{ version }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}?version={{ version }}"/>
    {% block stylesheets %}
    {% endblock %}
    {% if type != 'contacts' %}
        <link rel="preload" href="{{ asset('assets/css/swiper.min.css') }}" as="style"
              onload="this.rel='stylesheet'"/>
    {% endif %}
    <meta name="yandex-verification" content="5807aa5ff65bd625"/>


</head>
<body class="{{ type }}-page{% if type=='card' %} appeared{% endif %}">


<div class="body">


    <header class="page-header">

        <div class="first-level content-block">

            <a class="logo" href="/">Art Vinyl</a>

            <div class="actions">

                <a href="/contacts/" class="href nearest-shop">Ближайший магазин</a>

                <a href="/designer/" class="href show-interior">Посмотреть в интерьере</a>

            </div>

            <nav class="nav">


                <a class="href{% if type=='product' %} active{% endif %}" href="/product/">Art Vinyl</a>

                <div class="href{% if type=='collection' %} forced-active{% endif %} collections-link">Коллекции</div>

                <a class="href{% if type=='install' %} active{% endif %}" href="{{ path('installpage') }}">Укладка</a>
                <a class="href{% if type == 'blog' or type == 'article' %} active{% endif %}" href="{{ path('blog') }}">Статьи</a>

                <a class="href{% if type=='contacts' %} active{% endif %}" href="/contacts/">Где купить</a>

            </nav>

            <a href="https://tarkett.ru" target="__blank" class="goto-site">
                <div></div>
                Сайт Tarkett</a>

            <div class="nav-button">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

        <div class="last-level content-block">

            <div class="sub-nav">

                {% for class in collections %}

                    <div>

                        <div class="icon"><img src="/collections/class/{{ class.icon }}"
                                               alt="{{ class.caption | upper }}"/>
                            <div class="caption">{{ class.caption | upper }}</div>
                        </div>

                        <div class="list">

                            {% for collection in class.list %}

                                <a class="{% if collection.collectionType=='new' %} new{% endif %}{% if type=='collection' and collection.title==title %} active{% endif %}"
                                   href="{{ collection.href }}">{{ collection.title | upper }}</a>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </header>


    <div class="page-content">
        <div class="page-content-inner">

            {% block body %}
            {% endblock %}
        </div>
    </div>


    <footer class="page-footer content-block{# appear appear-center#}">

        <div class="nav">

            <div>

                {% for class in collections %}

                    {% for collection in class.list %}

                        <a class="href{# active#}" href="{{ collection.href }}">{{ collection.title | upper }}</a>

                    {% endfor %}

                {% endfor %}

            </div>

            <div>

                <a class="href{% if type=='product' %} active{% endif %}" href="/product/">Art Vinyl</a>

                <div class="href{% if type=='collection' %} forced-active{% endif %} collections-link">Коллекции</div>

                <a class="href{% if type=='install' %} active{% endif %}" href="{{ path('installpage') }}">Укладка</a>

                <a class="href{% if type=='contacts' %} active{% endif %}" href="/contacts/">Где купить</a>


            </div>

        </div>

        <div class="phone">{{ phone }}</div>

    </footer>

    <div class="copyright content-block">© Tarkett, {{ currentYear }}</div>

    <nav class="nav-overlay">
        <div>

            <div class="root">

                <div class="nav">

                    <a{% if type=='product' %} class="active"{% endif %} href="/product/">Art Vinyl</a>

                    <div class="collections-link{% if type=='collection' %} forced-active{% endif %}">Коллекции</div>

                    <a{% if type=='install' %} class="active"{% endif %} href="{{ path('installpage') }}">Укладка</a>
                    <a class="{% if type == 'blog' or type == 'article' %} active{% endif %}" href="{{ path('blog') }}">Статьи</a>

                    <a{% if type=='contacts' %} class="active"{% endif %} href="/contacts/">Где купить</a>

                </div>

                <div class="actions">

                    <a href="/contacts/" class="nearest-shop">Ближайший магазин</a>

                    <a href="/designer/" class="show-interior">Посмотреть в интерьере</a>

                </div>

            </div>

            <div class="collections">

                <div class="header"></div>

                {% for class in collections %}

                    <div class="section">

                        <div class="icon" style="background-image: url(/collections/class/{{ class.icon }});"></div>

                        <div class="list">

                            {% for collection in class.list %}

                                <a class="{% if collection.collectionType=='new' %} new{% endif %}{% if type=='collection' and collection.title==title %} active{% endif %}"
                                   href="{{ collection.href }}">{{ collection.title | upper }}</a>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}


            </div>

        </div>
    </nav>


</div>
{% if type != 'contacts' %}
    <script src="{{ asset('assets/js/swiper.min.js') }}"></script>
{% endif %}
<script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}?version={{ version }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/basics.js') }}?version={{ version }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/app.js') }}?version={{ version }}"></script>
{% block javascripts %}
{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    setTimeout(function () {
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(26270682, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
            trackHash: true
        });
    }, 3000); //set this as high as you can without ruining your stats.
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/26270682
https://mc.yandex.ru/watch/26270682
" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22371609-1"></script>
<script>
    setTimeout(function () {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-22371609-1');
    }, 2000); //set this as high as you can without ruining your stats.
</script>
</body>
</html>
