<section class="page-section section-top">
    <div class="section-inner content-block">
        <h1 class="header">{{ page.title }}</h1>
        <div class="text">{{ page.text }}</div>
    </div>
</section>


<section class="page-section section-list">
    <div class="section-inner content-block">
        <nav class="nav">
            <a class="current href js-change-category" data-url="{{ path('get_articles', {'id' : -1}) }}" data-id="-1">Все</a>
            {% for category in categories %}
                {% if category.articles | length > 0 %}
                    <a class="href js-change-category"
                       data-url="{{ path('get_articles', {'id' : category.id}) }}"
                       data-id="{{ category.id }}">{{ category.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
        {#        todo: to .css file#}
        <style>
            .blog-page .section-list .preamble > * {
                display: flex;
                flex: 1 1 0px;
                width: 0;
            }

            @media (max-width: 600px) {
                .blog-page .section-list .preamble > * {
                    width: 100%;
                }
            }

            .blog-page .section-list .list .image {
                max-width: 100%;
            }
        </style>
        <div class="js-articles">
            {{ include('_articles.html.twig') }}
        </div>
        {# {% if  articles|length > 3 %}
             <div class="load-more js-load-more-articles" data-url="{{ path('get_articles_with_offset') }}"
                  data-offset="1">
                 <div class="button transparent">Показать еще</div>
             </div>
         {% endif %}#}
    </div>
</section>