<div class="page-section section-nav{# appear appear-center#}">
    <div class="section-inner">


        <div class="breadcrumbs content-block"><a href="{{ collectionHref }}">{{ collectionTitle }}</a>
            <div>{{ title }}</div>
        </div>

        <div class="list content-block">

            <div class="prev slide-to hidden"></div>

            <div class="slider swiper-container">
                <div class="swiper-wrapper">

                    {% for item in others %}

                        <a class="{% if item.isPlate %}plate {% endif %}swiper-slide{% if item.active %} active{% endif %}"
                           href="{{ item.href }}">
                            <div class="image">
                                <div class="lazyload" {% if item.isPlate %} data-bg="{{ (item.href_image ~ item.image) | imagine_filter('card_top_slide_image') }}" {% else %}data-bg="{{ (item.href_image ~ item.image) | imagine_filter('card_top_slide_wide_image') }}"{% endif %}></div>
                            </div>
                            <div class="title">{{ item.title }}</div>
                        </a>

                    {% endfor %}

                </div>
            </div>

            <div class="next slide-to"></div>

        </div>


    </div>
</div>


<div class="page-section section-about{# appear appear-center#}">
    <div class="section-inner">

        <div class="left content-block">

            <h1 class="header">{{ title }}</h1>

            <h2 class="category">{{ collectionTitle }}</h2>

            <div class="factor">
                <div class="view{% if class==1 %} tile{% endif %}">
                    <div class="lazyload" data-bg="{{ href_image ~ '/' ~ image }}"></div>
                </div>
                <div class="info">
                    <div>{% if class==1 %}Плитка{% else %}Планка{% endif %}{% if factor.width and factor.length %} {{ factor.width }} x {{ factor.length }} мм{% endif %}</div>
                    {% if factor.area or factor.count %}
                        <div>В
                        упаковке {% if factor.count %}{{ factor.count }} шт.{% endif %}{% if factor.count and factor.area %}, {% endif %}{% if factor.area %}{{ factor.area }} м²{% endif %}</div>{% endif %}
                </div>
            </div>

            <div class="list">

                {% for prop in props %}

                    <div>

                        {% if prop.icon == '2012225112.svg' or prop.icon == '1924762822.svg' %}
                            <div class="icon"
                                 style="background-image: url(/collections/advantages/{{ prop.icon }})"></div>
                        {% else %}
                            <div class="icon"
                                 style="background-image: url(/collections/advantages/{{ prop.icon }});background-color:#0E3653"></div>
                        {% endif %}

                        <div class="text">{{ prop.title }}</div>

                    </div>

                {% endfor %}

            </div>

            {% if (texture or model) %}

                <div class="download">

                    {% if model %}<a target="__blank" href="./{{ model }}" class="model"><span>{{ modelExt }}</span>
                        </a>{% endif %}

                    {% if texture %}<a target="__blank" href="./{{ texture }}" class="texture">
                        <span>{{ textureExt }}</span></a>{% endif %}

                </div>

            {% endif %}

            <div class="tools">

                <a href="/contacts/" class="button search">Найти магазины</a>

                <a href="/designer/" class="button transparent look">Посмотреть в интерьере</a>

            </div>

            <div class="icons">

                {% for target in targets %}

                    {% if target.icon %}
                        <div>
                        <div class="title">
                            <div>{{ target.title }}</div>
                        </div>
                        <div class="icon" style="background-image: url(/collections/icons/{{ target.gicon }});"></div>
                        </div>{% endif %}

                {% endfor %}

            </div>

        </div>

        <div class="right content-block">

            <div class="slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide contain">
                        <div class="lazyload"
                             data-bg="{{ (href_image ~ '/' ~ image) | imagine_filter('card_main_slide_image') }}"></div>
                    </div>

                    {% for image in images %}

                        <div class="swiper-slide">
                            <div class="lazyload"
                                    {#
                                    Если нужен какой-то определённый слайд, например 2ой, то можно написать
                                    {% if loop.index == 2 %}
                                    #}

                                    {% if loop.last %}
                                        {% if title == 'Dingo' %}
                                            data-video="https://www.youtube.com/watch?v=8PzPHKGpNXs"
                                        {% elseif title == 'Edmonton' %}
                                            data-video="https://www.youtube.com/watch?v=E8gmARGvPlI"
                                        {% elseif title == 'Essence' %}
                                            data-video="https://www.youtube.com/watch?v=xviBEvbxgZ0"
                                        {% endif %}
                                    {% endif %}
                                 data-bg="{{ (href_image ~ '/img/' ~ image) | imagine_filter('card_main_slide_image') }}"></div>
                        </div>

                    {% endfor %}

                </div>
            </div>


            <div class="space"></div>

            <div class="nav">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide contain active">
                            <div class="lazyload"
                                 data-bg="{{ (href_image ~ '/' ~ image) | imagine_filter('card_main_slide_image') }}"></div>
                        </div>

                        {% for image in images %}

                            <div class="swiper-slide">
                                <div class="lazyload"
                                     data-bg="{{ (href_image ~ '/img/' ~ image) | imagine_filter('card_main_slide_image') }}"></div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% if collectionTitle == 'Lounge Digi Edition' %}
    <div class="video_inside" style="margin:64px auto 0 auto">
        <iframe width="768" height="420" src="https://www.youtube.com/embed/Q5U1CyVDwZo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="display:block;margin:0 auto"></iframe>
    </div>
{% endif %}
    
    {% if collectionTitle == 'Lounge' %}
        <div class="video_inside" style="margin:64px auto 0 auto">
            <iframe width="768" height="420" src="https://www.youtube.com/embed/2iIpow58KOE" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen style="display:block;margin:0 auto"></iframe>
        </div>
    {% endif %}

<div class="page-section section-chars{# appear appear-top#}">
    <div class="section-inner">

        <div class="left content-block">

            {% for char in chars %}

                <div>

                    <div class="title">{{ char.title }}</div>

                    <div class="value">{{ char.value }}</div>

                </div>

            {% endfor %}

        </div>

        <div class="right content-block">

            {% for video in youtube %}

                <a class="youtube" target="__blank" href="{{ video.href }}">{{ video.title }} <span
                            class="size">Youtube</span></a>

            {% endfor %}

            {% for doc in docs %}

                <a class="doc" target="_blank" href="{{ doc.href }}">{{ doc.title }} <span
                            class="size">{{ doc.type | upper }} {{ doc.size }}.</span></a>

            {% endfor %}

        </div>

        <div class="aside content-block">

            {% for video in mediaYoutube %}

                <a class="youtube" target="__blank" href="{{ video.href }}">{{ video.title }} <span
                            class="size">Youtube</span></a>

            {% endfor %}

            {% for doc in mediaDocs %}

                <a class="doc" target="_blank" href="{{ doc.href }}">{{ doc.title }} <span
                            class="size">{{ doc.type | upper }} {{ doc.size }}.</span></a>

            {% endfor %}

        </div>

    </div>
</div>


{% if projects| length > 0 %}
    <div class="page-section section-projects appear appear-top">

        <div class="section-inner content-block">

            <div class="header">Проекты и отзывы</div>

            <div class="list">

                <div class="slide-to">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

                <div class="slides swiper-container">
                    <div class="swiper-wrapper">

                        {% for project in projects %}
                            <a class="swiper-slide" href="{{ path('project', {'slug': project.slug}) }}">
                                <div class="image">
                                    <div class="lazyload"
                                         data-bg="{{ ('/uploads/project_preview/' ~ project.imageFileName) }}"></div>
                                </div>
                                <div class="title">{{ project.title }}</div>
                            </a>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endif %}

{% if (interiors|length)>0 %}
    <div class="page-section section-slider content-block appear appear-bottom" style="padding-top: 5px;">
        <div class="section-inner">

            <div class="header">Примеры интерьеров</div>

            <div class="slider swiper-wrapper">
                <div class="swiper-wrapper">

                    {% for interior in interiors %}

                        <div class="swiper-slide">

                            <div class="image lazyload"
                                 data-bg="{{ ( interiors_href_image ~'interiors/' ~ interior.image) | imagine_filter('product_slide_image') }}"></div>

                            <div class="title">{{ interior.title }}</div>


                        </div>

                    {% endfor %}

                </div>
            </div>

            <div class="prev"></div>

            <div class="next"></div>

            <div class="nav">
                <div class="active"></div>{% for index in 1..((interiors|length)-1) %}
                <div></div>{% endfor %}</div>

        </div>
    </div>

{% endif %}


<div class="page-section section-faq appear appear-bottom">
    <div class="section-inner content-block">

        <div class="header">Часто задаваемые вопросы</div>

        <div class="list">

            {% for item in faqItems %}

                <div{% if loop.first %} class="active"{% endif %}>

                    <div class="caption">{{ item.title }}</div>

                    <div class="text">
                        <div class="inner">
                            <div>{{ item.text | raw }}</div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>
</div>
