
<div class="page-section section-top">
    <div class="section-inner">

        <div class="top content-block appear appear-center lazyload"
             data-bg="{{ (href_image  ~ image) | imagine_filter('product_slide_image') }}">
            <div>

                <h1 class="header">Коллекция {{ title }}{% if collectionType=='new' %}&nbsp;<span
                            class="new"></span>{% endif %}</h1>

                <div class="info">

                    <div class="aside">

                        <div class="icon"><img class="lazyload" src="/assets/img/logo.svg" data-src="{{ asset('/collections/class/' ~ class.icon) }}" alt="{{ class.title | upper }}"/></div>

                        <div class="text">{{ class.title | upper }}</div>

                    </div>

                    <div class="space"></div>

                    {% for target in targets %}

                        {% if target.icon %}
                        <div class="item" style="z-index: {{ (targets|length) - loop.index }};">
                            <div class="title">
                                <div>{{ target.title }}</div>
                            </div>
                            <img class="img lazyload" src="/assets/img/logo.svg" data-src="{{ asset('/collections/icons/' ~ target.icon) }}" alt="{{ target.title }}"/></div>{% endif %}

                    {% endfor %}

                </div>

            </div>
        </div>


        <div class="advantages content-block appear appear-bottom">
            <div>

                <div class="left">

                    {% for prop in props %}

                        <div>

                    	{% if prop.icon == '2012225112.svg' or prop.icon == '1924762822.svg' %}
                    		<div class="icon" style="background-image: url(/collections/advantages/{{ prop.icon }})"></div>
                    	{% else %}
                    		<div class="icon" style="background-image: url(/collections/advantages/{{ prop.icon }});background-color:#0E3653"></div>
                    	{% endif %}

                            <div class="text">{{ prop.title }}</div>

                        </div>

                    {% endfor %}

                </div>

                <div class="right">

                    {% if texttop %}<p>{{ texttopRaw | raw }}</p>{% endif %}

                    {% if textbottom %}<p class="light">{{ textbottomRaw | raw }}</p>{% endif %}

                </div>

            </div>
        </div>

    </div>
</div>


<div class="page-section section-design appear appear-center">
    <div class="section-inner content-block">

        <div class="header">Дизайны и&nbsp;расцветки</div>

        <div class="list">

            {% for card in cards %}

                <a{% if card.type=='tile' %} class="short"{% endif %} href="{{ card.href }}">
                    <div class="image lazyload"
                            {% if card.type=='tile' %} data-bg="{{ (card.href_image ~ card.image) | imagine_filter('collection_design_image') }}" {% else %}data-bg="{{ (card.href_image ~ card.image) | imagine_filter('collection_design_wide_image') }}"{% endif %}></div>
                    <div class="title">{{ card.title }}</div>
                </a>

            {% endfor %}

        </div>

    </div>
</div>

{% if (interiors|length)>0 %}
<div class="page-section section-slider content-block appear appear-bottom" style="padding-top: 5px;margin-top:80px">
    <div class="section-inner">

        <div class="header">Интерьеры с покрытиями из данной коллекции</div>

        <div class="slider swiper-wrapper">
            <div class="swiper-wrapper">

                {% for interior in interiors %}

                    <div class="swiper-slide">

                        <div class="image lazyload"
                             data-bg="{{ ( href_image ~'interiors/' ~ interior.image) | imagine_filter('product_slide_image') }}"></div>

                        <div class="title">{{ interior.title }}</div>


                    </div>

                {% endfor %}

            </div>
        </div>

        <div class="prev"></div>

        <div class="next"></div>

        <div class="nav">
            <div class="active"></div>{% for index in 1..((interiors|length)-1) %}
            <div></div>{% endfor %}</div>

    </div>
</div>

{% endif %}

<div class="page-section section-advantages content-block appear appear-top">
    <div class="section-inner">

        <div class="slider swiper-container">
            <div class="swiper-wrapper">

                {% for item in interest %}

                    <div class="swiper-slide">

                        <div class="info">

                            <div class="header">{{ item.title }}</div>

                            <div class="text">{{ item.text | raw }}</div>

                        </div>

                        {% if item.svg %}
                            <div class="image"
                                 style="background-image: url({{ ( href_image ~'interest/' ~ item.image) }})" ></div>
                        {% else %}
                            <div class="image lazyload"
                                 data-bg="{{ ( href_image ~'interest/' ~ item.image) | imagine_filter('collection_small_slide_image') }}" ></div>
                        {% endif %}


                    </div>

                {% endfor %}

            </div>
        </div>

        <div class="prev"></div>

        <div class="next"></div>

        <div class="nav">
            <div class="prev"></div>
            <div class="inner">
                <div class="active"></div>{% for index in 1..((interest|length)-1) %}
                <div></div>{% endfor %}</div>
            <div class="next"></div>
        </div>

    </div>
</div>

{% if projects| length > 0 %}
    <div class="page-section section-projects appear appear-top">

        <div class="section-inner content-block">

            <div class="header">Проекты и отзывы</div>

            <div class="list">

                <div class="slide-to">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

                <div class="slides swiper-container">
                    <div class="swiper-wrapper">

                        {% for project in projects %}
                            <a class="swiper-slide" href="{{ path('project', {'slug': project.slug}) }}">
                                <div class="image">
                                    <div class="lazyload" data-bg="{{ ('/uploads/project_preview/' ~ project.imageFileName) }}"></div>
                                </div>
                                <div class="title">{{ project.title }}</div>
                            </a>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endif %}


{% if (interiors|length)>0 %}
    <div class="page-section section-slider content-block appear appear-bottom" style="padding-top: 5px;">
        <div class="section-inner">

            <div class="header">Примеры интерьеров</div>

            <div class="slider swiper-wrapper">
                <div class="swiper-wrapper">

                    {% for interior in interiors %}

                        <div class="swiper-slide">

                            <div class="image lazyload"
                                 data-bg="{{ ( href_image ~'interiors/' ~ interior.image) | imagine_filter('product_slide_image') }}"></div>

                            <div class="title">{{ interior.title }}</div>


                        </div>

                    {% endfor %}

                </div>
            </div>

            <div class="prev"></div>

            <div class="next"></div>

            <div class="nav">
                <div class="active"></div>{% for index in 1..((interiors|length)-1) %}
                <div></div>{% endfor %}</div>

        </div>
    </div>

{% endif %}


<div class="page-section section-faq appear appear-top" id="faq">
    <div class="section-inner content-block">

        <div class="header">Часто задаваемые вопросы</div>

        <div class="list">

            {% for item in faqItems %}

                <div{% if loop.first %} class="active"{% endif %}>

                    <div class="caption">{{ item.title }}</div>

                    <div class="text">
                        <div class="inner">
                            <div>{{ item.text | raw }}</div>
                        </div>
                    </div>

                </div>

            {% endfor %}
        </div>

    </div>
</div>

{% if video %}

    <div class="page-section section-video appear appear-bottom" style="margin-top:64px">
        <div class="section-inner">

            <div class="video">
                <iframe width="100%" height="56vw" class="lazyload" data-src="{{video}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>
    </div>

{% endif %}
