<div class="page-section section-map">
	<div class="section-inner content-block">


		<div class="left">
			<h1>Магазины и торговые центры, где можно купить Tarkett Art Vinyl</h1>
			<div class="tools">

				<div class="button transparent search"></div>

				<div class="region">

					<div class="search-input"><input type="text" value="{#Новосибирск#}"/>
						<div></div>
					</div>

					<div class="variants hidden"></div>

				</div>

			</div>

			<div class="list">
				<div>

					<div class="count">{#Найдено 26&nbsp;магазинов#}</div>


					{#<div class="item active">

                        <div class="marker"><div>1</div></div>

                        <div class="name">Полберри</div>

                        <div class="info">

                            <div class="status">открыто</div>

                            <div class="address">Семьи-Шамшиных, д.24, корп./стр.2</div>

                            <div class="link">www.polberry.ru</div>

                            <div class="phone">+7 (383) 367-02-36</div>

                        </div>

                    </div>#}


				</div>
			</div>

		</div>


		<div class="right">
			<div></div>
		</div>


	</div>
</div>
