<!DOCTYPE html>{% set version = "1.4-beta" %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    {% if type == 'designer' %}
        <title>Конструктор дизайна модульного пола Tarkett Art Vinyl</title>
        <meta name="keywords"
              content="артвинил в интерьере, дизайн art vinyl, модульное покрытие, креативный пол, напольные покрытия">
        <meta name="description"
              content="Посмотреть коллекцию Tarkett Art Vinyl в интерьере. Создай уникальный дизайн с модульным покрытием Tarkett Art Vinyl.">
    {% else %}
        <title>{{ metatitle }}</title>
        {% if metakeys %}
            <meta name="keywords" content="{{ metakeys }}">
        {% endif %}
        {% if metadesc %}
            <meta name="description" content="{{ metadesc }}">
        {% endif %}
    {% endif %}
    <meta name="yandex-verification" content="2f76a25c6e51d787"/>
    <meta name="yandex-verification" content="5807aa5ff65bd625"/>
    <meta name="google-site-verification" content="fiV1yQYOaCxk5ySFGyXs4gSDG6sDEr2hgeuHgV1wyuY"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/fav.png') }}"/>

    {% if type=='start' or type=='notfound' %}
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">{% endif %}
    <style>body {
            opacity: 0;
        }</style>

    {#
    <link rel="stylesheet" href="/assets/css/swiper.min.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/basics.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/app.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/uikit.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/start.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/collection.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/card.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/blog.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/article.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/contacts.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/designer.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/install.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/notfound.css?version={{ version }}"/>
    <link rel="stylesheet" href="/assets/css/product.css?version={{ version }}"/>
    #}


    {% if type=='start' %}
        <link rel="stylesheet" href="{{ asset('assets/min/start.d4bb2518.css') }}" as="style"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/assets/css/swiper.min.css') }}"/>
    {% else %}
        <link rel="stylesheet" href="/assets/min/min.css?version={{ version }}"/>
        {% if type=='card' %}
            <link rel="stylesheet" href="{{ asset('/assets/css/card.css') }}"/>
        {% endif %}
    {% endif %}
    {% if type == 'project' %}
        <link rel="stylesheet" href="/assets/css/project.css?version={{ version }}"/>
    {% endif %}

    <script>

        document.addEventListener('lazybeforeunveil', function (e) {

            setTimeout(function () {
                var bg = e.target.getAttribute('data-bg-lazy');
                if (bg) {
                    e.target.style.backgroundImage = 'url(' + bg + ')';
                }
            }, 500);

            setTimeout(function () {
                var bg = e.target.getAttribute('data-bg');
                if (bg) {
                    e.target.style.backgroundImage = 'url(' + bg + ')';
                }
            }, 1000);

            setTimeout(function () {
                var bg = e.target.getAttribute('data-bg-lazy-lazy');
                if (bg) {
                    e.target.style.backgroundImage = 'url(' + bg + ')';
                }
            }, 3000);

        });


    </script>
    <style>
        {# todo: to .css file#}
        .section-projects a:hover .title {
            color: #1069bb;
        }
    </style>

    <style>
        .nav-overlay .collections .section .list > *.new:before {
            content: 'NEW';
            display: inline-block;
            position: relative;
            margin-left: 0px;
            margin-right: -37px;
            top: 45px;
            font-size: 10px;
            line-height: 1em;
            padding: 4px 5px;
            border: 1px solid #1069bb;
            color: #1069bb;
            border-radius: 2px;
            order: 3;
        }

        .nav-overlay .collections .section .list > *.new + * {
            margin-top: 15px;
        }
    </style>
</head>
<body class="{{ type }}-page{% if type=='card' %} appeared{% endif %} {% if type=='card' %}collection-page{% endif %}">

<div class="body">


    <header class="page-header">

        <div class="first-level content-block">

            <a class="logo" href="/">Art Vinyl</a>

            <div class="actions">

                <a href="/contacts/#nearest" class="href nearest-shop">Ближайший магазин</a>

                <a href="/designer/" class="href show-interior">Посмотреть в интерьере</a>

            </div>

            <nav class="nav">


                <a class="href{% if type=='product' %} active{% endif %}" href="/art-vinyl/">Art Vinyl</a>

                <div class="href{% if type=='collection' or type=='card' %} forced-active{% endif %} collections-link">
                    Коллекции
                </div>

                <a class="href{% if type=='install' %} active{% endif %}" href="{{ path('installpage') }}">Укладка</a>
                <a class="href{% if type == 'blog' or type == 'article' %} active{% endif %}" href="{{ path('blog') }}">Статьи</a>

                <a class="href{% if type=='contacts' %} active{% endif %}" href="/contacts/">Где купить</a>

            </nav>

            <a href="https://tarkett.ru" target="_blank" class="goto-site">
                <div></div>
                Сайт Tarkett</a>

            <div class="nav-button">
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

        <div class="last-level content-block">

            <div class="sub-nav">

                {% for class in collections %}

                    <div>

                        <div class="icon"><img src="/collections/class/{{ class.icon }}"
                                               alt="{{ class.caption | upper }}"/>
                            <div class="caption">{{ class.caption | upper }}</div>
                        </div>

                        <div class="list">

                            {% for collection in class.list %}

                                <a class="{% if collection.collectionType=='new' %} new{% endif %}{% if type=='collection' and collection.title==title %} active{% endif %}"
                                   href="{{ collection.href }}"><span>{{ collection.title | upper }}</span></a>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </header>


    <div class="page-content">
        <div class="page-content-inner">

            {% if type=='start' %}
                {% include "start.html.twig" %}
            {% elseif type=='product' %}
                {% include "product.html.twig" %}
            {% elseif type=='designer' %}
                {% include "designer.html.twig" %}
            {% elseif type=='contacts' %}
                {% include "contacts.html.twig" %}
            {% elseif type=='install' %}
                {% include "install.html.twig" %}
            {% elseif type=='notfound' %}
                {% include "notfound.html.twig" %}
            {% elseif type=='collection' %}
                {% include "collection.html.twig" %}
            {% elseif type=='card' %}
                {% include "card.html.twig" %}
            {% elseif type=='blog' %}
                {% include "blog.html.twig" %}
            {% elseif type=='article' %}
                {% include "article.html.twig" %}
            {% elseif type=='project' %}
                {% include "project.html.twig" %}
            {% endif %}

        </div>
    </div>


    <footer class="page-footer content-block{# appear appear-center #}">

        <div class="nav">

            <div>

                {% for class in collections %}

                    {% for collection in class.list %}

                        <a class="href{% if type=='collection' and collection.title==title or type=='card' and collectionTitle==collection.title %} active{% endif %}"
                           href="{{ collection.href }}">{{ collection.title | upper }}</a>

                    {% endfor %}

                {% endfor %}

            </div>

            <div>

                <a class="href{% if type=='product' %} active{% endif %}" href="/art-vinyl/">Art Vinyl</a>

                <div class="href{% if type=='collection' or type=='card' %} forced-active{% endif %} collections-link">
                    Коллекции
                </div>

                <a class="href{% if type=='install' %} active{% endif %}" href="{{ path('installpage') }}">Укладка</a>
                <a class="href{% if type == 'blog' or type == 'article' %} active{% endif %}" href="{{ path('blog') }}">Статьи</a>


                <a class="href{% if type=='contacts' %} active{% endif %}" href="/contacts/">Где купить</a>


            </div>

        </div>

        <div class="phone">{{ phone }}</div>

    </footer>

    <div class="copyright content-block">© Tarkett, {{ currentYear }}</div>
    <nav class="nav-overlay">
        <div>

            <div class="root">

                <div class="nav">

                    <a{% if type=='product' %} class="active"{% endif %} href="/art-vinyl/">Art Vinyl</a>

                    <div class="collections-link{% if type=='collection' %} forced-active{% endif %}">Коллекции</div>

                    <a{% if type=='install' %} class="active"{% endif %} href="{{ path('installpage') }}">Укладка</a>
                    <a class="{% if type == 'blog' or type == 'article' %} active{% endif %}" href="{{ path('blog') }}">Статьи</a>

                    <a{% if type=='contacts' %} class="active"{% endif %} href="/contacts/">Где купить</a>

                </div>

                <div class="actions">

                    <a href="/contacts/#nearest" class="nearest-shop">Ближайший магазин</a>

                    <a href="/designer/" class="show-interior">Посмотреть в интерьере</a>

                </div>

            </div>

            <div class="collections">

                <div class="header"></div>

                {% for class in collections %}

                    <div class="section">

                        <div class="icon" style="background-image: url(/collections/class/{{ class.icon }});"></div>

                        <div class="list">

                            {% for collection in class.list %}

                                <a class="{% if collection.collectionType=='new' %}new{% endif %}{% if type=='collection' and collection.title==title %} active{% endif %}"
                                   href="{{ collection.href }}"><span>{{ collection.title | upper }}</span></a>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}


            </div>

        </div>
    </nav>


</div>


{% if type=='contacts' %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>{% endif %}

{% if type=='article' or type=='project' %}
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" defer></script>
    <script src="https://yastatic.net/share2/share.js" defer></script>
{% endif %}

{#
<script type="text/javascript" src="/assets/js/jquery.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/swiper.min.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/lazysizes.min.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/basics.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/app.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/start.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/product.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/collection.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/card.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/contacts.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/install.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/blog.js?version={{version}}" ></script>
<script type="text/javascript" src="/assets/js/article.js?version={{version}}" ></script>
#}
{% if type=='start' %}
    <script src="{{ asset('assets/js/swiper.min.js') }}"></script>
    {# <script src="{{ asset('assets/js/jquery.js') }}"></script> #}
    {# <script src="{{ asset('assets/js/basics.js') }}"></script> #}
    {# <script src="{{ asset('assets/min/app.0a226a0d.js') }}"></script> #}
    {# <script src="{{ asset('assets/js/app.js') }}"></script> #}
    {# <script src="{{ asset('assets/min/start.946334a7.js') }}"></script> #}
    {# <script src="{{ asset('assets/js/start.js') }}"></script> #}
    {# <script src="{{ asset('assets/js/lazysizes.min.js') }}"></script> #}
    <script src="{{ asset('assets/min/runtime.af19f1f9.js') }}"></script>
    <script src="{{ asset('assets/min/0.20b1de91.js') }}"></script>
    <script src="{{ asset('assets/min/start.80c0967d.js') }}"></script>

{% else %}
    <script src="/assets/min/min.js?version={{ version }}"></script>
{% endif %}
{% if type == 'project' %}
    <script type="text/javascript" src="/assets/js/project.js?version={{ version }}"></script>
{% endif %}

<!-- Yandex.Metrika counter -->

<script type="text/javascript">
    setTimeout(function () {
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };

            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })

        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");


        ym(26270682, "init", {

            clickmap: true,

            trackLinks: true,

            accurateTrackBounce: true,

            webvisor: true,

            trackHash: true

        });
    }, 2000); //set this as high as you can without ruining your stats.

</script>

<noscript>
    <div><img src="https://mc.yandex.ru/watch/26270682" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>

<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22371609-1"></script>
<script>
    setTimeout(function () {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-22371609-1');
    }, 2000); //set this as high as you can without ruining your stats.
</script>

<span id="tgraf-popup-box-12012" class="tgraf-popup-box"></span><script type="text/javascript" src="https://www.testograf.ru/widgets-files/popup_12012_1a8952edd9.js" ></script>
</body>
</html>
