<div class="page-section section-top appear appear-bottom">
    <div class="section-inner">

        {% for variant in variants %}
            <div class="image{% if not loop.first %} hidden{% endif %} lazyload"
                 data-bg="{{ ('/install/' ~ variant.image) | imagine_filter('product_slide_image') }}"></div>
        {% endfor %}

        <h1 class="header">{{ caption }}</h1>

        <div class="text">{{ subcaption }}</div>

        <div class="nav">

            {% for variant in variants %}

                <div{% if loop.first %} class="active"{% endif %}>

                    <div class="icon">
                        <div style="background-image: url(/install/top/{{ variant.icon }});"></div>
                        <div style="background-image: url(/install/top/{{ variant.activeicon }});"></div>
                    </div>

                    <div class="text">{{ variant.title }}</div>

                </div>

            {% endfor %}

        </div>

    </div>
</div>


{% for variant in variants %}
    <div class="page-variant{% if not loop.first %} hidden{% endif %}">
        {% if (variant.design.images|length)>0 %}
            <div class="page-section section-variants appear appear-top" style="padding: 90px 0;">
                <div class="section-inner content-block">

                    <div class="header">{{ variant.design.title }}</div>

                    <div class="text">{{ variant.design.text | raw }}</div>

                    <div class="images">

                        <div class="slide-to prev disabled"></div>

                        <div class="slider swiper-container">
                            <div class="swiper-wrapper">

                                {% for item in variant.design.images %}

                                    <div class="swiper-slide">

                                        <div class="img" style="background-image: url({{ item }});"></div>

                                    </div>

                                {% endfor %}

                            </div>
                        </div>

                        <div class="slide-to next"></div>

                    </div>

                    <div class="info">

                        <div class="caption">{{ variant.design.collection }}</div>

                        <div class="count">{{ variant.design.images|length }} {{ variant.design.unit }}</div>

                    </div>

                    <div class="show-all"><a href="/designer/" class="button">Посмотреть все раскладки</a></div>

                </div>
            </div>
        {% endif %}
        <div class="page-section appear appear-center">
            <div class="section-inner content-block">
                <div class="useful-info-block">
                    <i class="icon question-icon"></i><a href="#faq-{{ loop.index }}" class="href">Полезная информация</a>
                </div>
            </div>
        </div>

        <div class="page-section section-need appear appear-center">
            <div class="section-inner content-block">

                <div class="header">{{ variant.compcaption }}</div>

                <div class="list">

                    {% for item in variant.comps %}

                        <div>

                            <div class="icon" style="background-image: url(/install/need/{{ item.icon }});"></div>

                            <div class="text">{{ item.title }}</div>

                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>


        <div class="page-section section-rules appear appear-center">
            <div class="section-inner content-block">

                <div>

                    <div class="header">{{ variant.needcaption }}</div>

                    <div class="list">

                        {% for item in variant.needs %}

                            <div>{{ item.title }}</div>

                        {% endfor %}

                    </div>

                </div>

                <div>

                    <div class="header">{{ variant.reqcaption }}</div>

                    <div class="list">

                        {% for item in variant.reqs %}

                            <div>{{ item.title }}</div>

                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>


        <div class="page-section section-stages appear appear-top">
            <div class="section-inner content-block">

                <div class="header">{{ variant.stagecaption }}</div>


                <div class="list">

                    {% for item in variant.stages %}

                        <div>

                            <div class="number">{{ loop.index }}</div>

                            <div class="text">{{ item.title }}</div>

                            <div class="image">
                                <img class="lazyload" src="{{ asset('/install/stages/' ~  item.image) }}" alt="{{ item.title }}"/>
                            </div>

                        </div>

                    {% endfor %}

                </div>


            </div>
        </div>

        {% if (variant.docs|length)>0 %}

            <div class="page-section section-manual appear appear-bottom">
                <div class="section-inner content-block">

                    <div class="header">Подробные инструкции</div>

                    <div class="list">

                        {% for section in variant.docs %}

                            <div{% if loop.first %} class="active"{% endif %}>

                                <div class="caption">{{ section.title }}</div>

                                <div class="text">
                                    <div>

                                        {% if (section.videos|length)>0 %}

                                            <div class="video-block">

                                                {% for video in section.videos %}

                                                    <a target="__blank" href="{{ video.href }}">

                                                        <div class="title">{{ video.title }}</div>

                                                        <div class="context">YouTube</div>

                                                    </a>

                                                {% endfor %}

                                            </div>

                                        {% endif %}

                                        {% if (section.files|length)>0 %}

                                            <div class="links">

                                                {% for file in section.files %}

                                                    <a href="/install/docs/{{ file.name }}">{{ file.title }}<span
                                                                class="size">{{ file.type }}  {{ file.size }}</span></a>

                                                {% endfor %}

                                                {#<div></div>#}

                                            </div>

                                        {% endif %}

                                    </div>
                                </div>

                            </div>

                        {% endfor %}


                    </div>

                </div>
            </div>


        {% endif %}


        <div class="page-section section-faq appear appear-top" id="faq-{{ loop.index }}">
            <div class="section-inner content-block">

                <div class="header">Часто задаваемые вопросы</div>

                <div class="list">

                    {% for item in variant.faq %}

                        <div{% if loop.first %} class="active"{% endif %}>

                            <div class="caption">{{ item.title }}</div>

                            <div class="text">
                                <div class="inner">
                                    <div>{{ item.text | raw }}</div>
                                </div>
                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>
        </div>

    </div>

{% endfor %}

