<div class="page-section section-top">
    <div class="section-inner">

        <div class="intro content-block appear appear-left">

            <h1 class="header">{{ caption }}</h1>

            <div class="text">{{ text }}</div>

        </div>

        <div class="list content-block appear appear-right">

            {% for item in icons %}

                <div>

                    <div class="icon" style="background-image: url(/product/top/icons/{{ item.icon }});"></div>

                    <div class="text">{{ item.caption }}</div>

                </div>

            {% endfor %}

        </div>

    </div>
</div>

<!--<div class="page-section appear appear-center" style="margin-bottom: 80px;">
    <div class="section-inner content-block">
        <div class="useful-info-block">
            <i class="icon question-icon"></i><a href="#faq" class="href">Полезная информация</a>
        </div>
    </div>
</div>-->

<div class="page-section section-slider appear appear-bottom">
    <div class="section-inner">

        <div class="slider">

            {#<div class="slide-to prev hidden"></div>#}

            <div class="slides swiper-container">
                <div class="swiper-wrapper">

                    {% for slide in slider %}

                        <div class="swiper-slide content-block">
                            <div>

                                <div class="img lazyload"
                                     data-bg="{{ ('/product/top/' ~ slide.image) | imagine_filter('product_slide_image') }}"></div>
                                {#				<div class="img" style="background-image: url(./top/{{slide.image}});"></div>#}

                                <div class="header">{{ slide.title }}</div>

                                <div class="list">

                                    {% for item in slide.info %}

                                        <div>

                                            {#<div class="number">{{loop.index}}</div>#}

                                            <div class="text">{{ item.text }}</div>

                                        </div>

                                    {% endfor %}

                                </div>

                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

            {#<div class="slide-to next"></div>#}

        </div>

        <div class="nav content-block swiper-container">
            <div class="swiper-wrapper">

                {% for slide in slider %}

                    <div class="swiper-slide{% if loop.first %} active{% endif %}">
                        <div class="marker"></div>
                        <div class="text">{{ slide.title }}</div>
                    </div>

                {% endfor %}

            </div>
        </div>

    </div>
</div>


{% if (docs|length)>0 %}

    <div class="page-section section-docs appear appear-bottom">
        <div class="section-inner content-block">

            <div class="header">Брошюры и мультимедиа</div>

            <div class="list">

                {% for section in docs %}

                    <div{% if loop.first %} class="active"{% endif %}>

                        <div class="caption">{{ section.title }}</div>

                        <div class="text">
                            <div>

                                {% if (section.videos|length)>0 %}

                                    <div class="video-block">

                                        {% for video in section.videos %}

                                            <a target="__blank" href="{{ video.href }}">

                                                <div class="title">{{ video.title }}</div>

                                                <div class="context">YouTube</div>

                                            </a>

                                        {% endfor %}

                                    </div>

                                {% endif %}

                                {% if (section.files|length)>0 %}

                                    <div class="links">

                                        {% for file in section.files %}

                                            <a href="/product/docs/{{ file.name }}">{{ file.title }}<span
                                                        class="size">{{ file.type }}  {{ file.size }}</span></a>

                                        {% endfor %}

                                        {#<div></div>#}

                                    </div>

                                {% endif %}

                            </div>
                        </div>

                    </div>

                {% endfor %}


            </div>

        </div>
    </div>


{% endif %}



{% if projects| length > 0 %}
    <div class="page-section section-projects appear appear-top">

        <div class="section-inner content-block">

            <div class="header">Проекты и отзывы</div>

            <div class="list">

                <div class="slide-to">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

                <div class="slides swiper-container">
                    <div class="swiper-wrapper">

                        {% for project in projects %}
                            <a class="swiper-slide" href="{{ path('project', {'slug': project.slug}) }}">
                                <div class="image">
                                    <div class="lazyload" data-bg="{{ ('/uploads/project_preview/' ~ project.imageFileName) }}"></div>
                                </div>
                                <div class="title">{{ project.title }}</div>
                            </a>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endif %}


{% if (faq|length)>0 %}

    <div class="page-section section-faq appear appear-top" id="faq">
        <div class="section-inner content-block">

            <div class="header">Часто задаваемые вопросы</div>

            <div class="list">

                {% for item in faq %}

                    <div{% if loop.first %} class="active"{% endif %}>

                        <div class="caption">{{ item.caption }}</div>

                        <div class="text">
                            <div class="inner">
                                <div>{{ item.text|raw }}</div>
                            </div>
                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>
    </div>
{% endif %}


{% if video %}

    <div class="page-section section-video appear appear-bottom">
        <div class="section-inner">

            <div class="video">
                <iframe width="100%" height="56vw" class="lazyload" data-src="{{ video }}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>
    </div>

{% endif %}
