<section class="page-section section-nav">
    <div class="section-inner content-block">


        <nav class="nav"><a
                    href="{% if app.request.headers.get('referer') is not empty %}{{ app.request.headers.get('referer') }}{% else %}/{% endif %}">Вернуться
                обратно</a></nav>
    </div>
</section>

<style>
    .project-page .section-nav a:before {
        content: '←  ';
        white-space: pre;
    }

    .project-page .section-text .contents > *.slider .slides > * > * > * {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left center;
        object-position: left center;
    }

    .project-page .section-header .header {
        max-width: 760px;
    }

    .project-page .text span:not(:last-child) {
        line-height: 26px;
        display: inline-block;
        padding-bottom: 20px;
    }

    .project-page .text span a {
        color: #1069bb;
        border-bottom: 1px solid rgba(16, 105, 187, .4);
        transition: border-bottom-color 200ms ease;
        will-change: border-bottom-color;
    }

    @media (max-width: 900px) {

        .project-page .section-header .header {
            max-width: 580px;
        }

    }

    .project-page .section-header .info .share {
        margin-left: 0;
    }


</style>

<section class="page-section section-header">
    <div class="section-inner content-block">

        <h1 class="header">{{ project.title }}</h1>

        <div class="text" style="line-height: 26px">
            {% if project.square is not empty %}
                <span>
                Площадь: {{ project.square }} м<sup>2</sup>
                </span><br>
            {% endif %}
            {% if project.collections|length > 0 %}
                <span>
                Коллекции: {% for collection in collections_data %}<a
                        href="{{ collection.href }}">{{ collection.title }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                 </span>
                <br>
            {% endif %}
            {% if project.designer is not empty %}
                <span>
                Дизайнер: {{ project.designer }}
                 </span>
                <br>
            {% endif %}
            {% if project.link is not empty %}
                <span>
                Ссылка: <a href="{{ project.link }}">{{ project.link }}</a>
                      </span>
            {% endif %}
        </div>
        <div class="info">
            <div class="share">
                <div class="ya-share2" id="ya-share2" data-services="twitter,facebook,telegram,vkontakte" data-bare
                     data-title="{{ project.title }}"
                     data-image="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ asset('uploads/project_preview/' ~ project.imageFileName) }}"></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section section-text">
    <div class="section-inner content-block">
        <div class="contents">
            {{ project.text | raw }}
        </div>
        <div class="aside">

            <a href="#"
               class="show-collections href-wrapper collections-link">
                <div class="href">Все коллекции</div>
            </a>
            <a href="/contacts/" class="show-shops">Точки
                продажи Art Vinyl</a>
        </div>
    </div>
</section>
<div class="" style="display: none">
    {{ project.text | raw }}
</div>

<section class="page-section section-bottom">
    <div class="section-inner content-block">

        <div class="share">
            <div class="ya-share2" data-services="twitter,facebook,telegram,vkontakte" data-bare></div>
        </div>

        <div class="show-collections collections-link"><a href="#"
                                                          class="button">Посмотреть коллекции</a></div>

    </div>
</section>