<div class="page-section section-collections">
    <div class="section-inner">

        <div class="plate-level" style="z-index:3;">
            <div>

                {% for card in cards1 %}


                    <a href="{{ card.href }}">
                        <div class="inner lazyload"
                             data-bg="{{ (card.href_image ~ card.image) | imagine_filter('start_card_1_image') }}"></div>
                        <div class="info">
                            <div class="title">{{ card.title }}</div>
                            <div class="sub">{{ card.collection }}</div>
                        </div>
                    </a>

                {% endfor %}


            </div>
        </div>

        <div class="big-plate-level" style="z-index:2;">
            <div>


                {% for card in cards2 %}


                    <a href="{{ card.href }}">
                        <div class="inner lazyload"
                             data-bg="{{ (card.href_image ~ card.image) | imagine_filter('start_card_2_image') }}"></div>
                        <div class="info">
                            <div class="title">{{ card.title }}</div>
                            <div class="sub">{{ card.collection }}</div>
                        </div>
                    </a>

                {% endfor %}


            </div>
        </div>

        <div class="tile-level" style="z-index:1;">
            <div>


                {% for card in cards3 %}


                    <a href="{{ card.href }}">
                        <div class="inner lazyload"
                             data-bg="{{ (card.href_image ~ card.image) | imagine_filter('start_card_3_image') }}"></div>
                        <div class="info">
                            <div class="title">{{ card.title }}</div>
                            <div class="sub">{{ card.collection }}</div>
                        </div>
                    </a>

                {% endfor %}


            </div>
        </div>

    </div>
</div>


<div class="page-section section-fast-links">
    <div class="section-inner">

        <div class="inner content-block">

            {% for class in collections %}

                <div>

                    <img class="icon lazyload" data-src="{{ '/collections/class/' ~ class.icon }}"
                         alt="{{ class.caption | upper }}"/>

                    {% for collection in class.list %}

                        <a class="link" href="{{ collection.href }}">{{ collection.title | upper }}</a>

                    {% endfor %}

                </div>

            {% endfor %}

        </div>

    </div>
</div>


<div class="page-section section-about">
    <div class="section-inner">

        <div class="header content-block appear appear-top">

            <h1 class="caption">{{ caption }}</h1>

            <h2 class="text">{{ captionAside }}</h2>

        </div>

        <div class="image appear appear-center">

            <div class="slider swiper-container">

                <div class="swiper-wrapper">

                    {% for slide in slider %}

                        <div class="swiper-slide content-block">

                            {#							<div class="img" style="background-image: url(/start/about/{{slide.image}});"></div>#}

                            <div class="img lazyload"
                                 data-bg-lazy-lazy="{{ ('/start/about/' ~ slide.image) | imagine_filter('start_slider_image') }}"></div>


                            <div class="info">

                                <div class="title">{{ slide.title }}</div>

                                <div class="text">{{ slide.text }}</div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>

            <div class="caption">Дизайнерские возможности</div>

            <div class="nav">
                <div class="active"></div>{% for index in 2..(slider|length) %}
                <div></div>{% endfor %}</div>

            {#<div class="prev hidden"></div>#}

            {#<div class="next"></div>#}

        </div>

    </div>
</div>


<div class="page-section section-facts">
    <div class="section-inner">

        <div class="top appear appear-bottom">

            <div class="slider swiper-container">

                <div class="swiper-wrapper">

                    {% for fact in facts %}

                        <div class="swiper-slide">

                            <div class="icon lazyload" data-bg-lazy-lazy="{{ '/start/facts/' ~ fact.icon }}"></div>

                            <div class="text">{{ fact.title }}</div>

                        </div>

                    {% endfor %}

                </div>

            </div>

            <div class="prev"></div>

            <div class="next"></div>

        </div>

        <div class="bottom swiper-container appear appear-center">
            <div class="swiper-wrapper">

                {% for fact in facts %}

                    <div class="content-block swiper-slide">

                        {% for item in fact.info %}

                            <div>

                                {#<div class="number">{{loop.index}}</div>#}

                                <div class="text">{{ item.text }}</div>

                            </div>

                        {% endfor %}

                    </div>

                {% endfor %}

            </div>
        </div>

    </div>
</div>


{% if projects| length > 0 %}
    <div class="page-section section-projects appear appear-top">

        <div class="section-inner content-block">

            <div class="header">Проекты и отзывы</div>

            <div class="list">

                <div class="slide-to">
                    <div class="prev"></div>
                    <div class="next"></div>
                </div>

                <div class="slides swiper-container">
                    <div class="swiper-wrapper">

                        {% for project in projects %}
                            <a class="swiper-slide" href="{{ path('project', {'slug': project.slug}) }}">
                                <div class="image">
                                    <div class="lazyload" data-bg="{{ ('/uploads/project_preview/' ~ project.imageFileName) }}"></div>
                                </div>
                                <div class="title">{{ project.title }}</div>
                            </a>

                        {% endfor %}

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endif %}


<div class="page-section section-unique appear appear-bottom">
    <div class="section-inner content-block">

        <div class="header">{{ designcaption }}</div>

        <div class="text">{{ designtext }}</div>

        <div class="images">

            <div class="slide-to prev"></div>

            <div class="slide-to next"></div>

            <div class="slider swiper-container">
                <div class="swiper-wrapper">

                    {% for collection in designlist %}

                        <div class="swiper-slide">

                            <div class="img lazyload"
                                 data-bg="{{ collection.image | imagine_filter('start_slider_image') }} "
                                 data-href="{{ collection.href }}">

                                <div class="aside">{{ collection.aside }}</div>

                            </div>

                            <div class="info">

                                <div class="caption">{{ collection.title }}</div>

                                <div class="count">{{ collection.count }}&nbsp;{{ collection.unit }}</div>

                            </div>

                        </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>
